html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}
audio {
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
.height-0pt {
  height: 0vw;
}
.min-height-0pt {
  min-height: 0vw;
}
.max-height-0pt {
  max-height: 0vw;
}
.padding-0pt {
  padding: 0vw !important;
}
.padding-left-right-0pt {
  padding-left: 0vw !important;
  padding-right: 0vw !important;
}
.padding-bottom-top-0pt {
  padding-bottom: 0vw !important;
  padding-top: 0vw !important;
}
.padding-left-0pt {
  padding-left: 0vw !important;
}
.padding-right-0pt {
  padding-right: 0vw !important;
}
.padding-bottom-0pt {
  padding-bottom: 0vw !important;
}
.padding-top-0pt {
  padding-top: 0vw !important;
}
.margin-0pt {
  margin: 0vw !important;
}
.margin-left-right-0pt {
  margin-left: 0vw !important;
  margin-right: 0vw !important;
}
.margin-bottom-top-0pt {
  margin-bottom: 0vw !important;
  margin-top: 0vw !important;
}
.margin-left-0pt {
  margin-left: 0vw !important;
}
.margin-right-0pt {
  margin-right: 0vw !important;
}
.margin-bottom-0pt {
  margin-bottom: 0vw !important;
}
.margin-top-0pt {
  margin-top: 0vw !important;
}
.height-40pt {
  height: 4.166666666666667vw;
}
.min-height-40pt {
  min-height: 4.166666666666667vw;
}
.max-height-40pt {
  max-height: 4.166666666666667vw;
}
.padding-40pt {
  padding: 4.166666666666667vw !important;
}
.padding-left-right-40pt {
  padding-left: 4.166666666666667vw !important;
  padding-right: 4.166666666666667vw !important;
}
.padding-bottom-top-40pt {
  padding-bottom: 4.166666666666667vw !important;
  padding-top: 4.166666666666667vw !important;
}
.padding-left-40pt {
  padding-left: 4.166666666666667vw !important;
}
.padding-right-40pt {
  padding-right: 4.166666666666667vw !important;
}
.padding-bottom-40pt {
  padding-bottom: 4.166666666666667vw !important;
}
.padding-top-40pt {
  padding-top: 4.166666666666667vw !important;
}
.margin-40pt {
  margin: 4.166666666666667vw !important;
}
.margin-left-right-40pt {
  margin-left: 4.166666666666667vw !important;
  margin-right: 4.166666666666667vw !important;
}
.margin-bottom-top-40pt {
  margin-bottom: 4.166666666666667vw !important;
  margin-top: 4.166666666666667vw !important;
}
.margin-left-40pt {
  margin-left: 4.166666666666667vw !important;
}
.margin-right-40pt {
  margin-right: 4.166666666666667vw !important;
}
.margin-bottom-40pt {
  margin-bottom: 4.166666666666667vw !important;
}
.margin-top-40pt {
  margin-top: 4.166666666666667vw !important;
}
.height-80pt {
  height: 8.333333333333334vw;
}
.min-height-80pt {
  min-height: 8.333333333333334vw;
}
.max-height-80pt {
  max-height: 8.333333333333334vw;
}
.padding-80pt {
  padding: 8.333333333333334vw !important;
}
.padding-left-right-80pt {
  padding-left: 8.333333333333334vw !important;
  padding-right: 8.333333333333334vw !important;
}
.padding-bottom-top-80pt {
  padding-bottom: 8.333333333333334vw !important;
  padding-top: 8.333333333333334vw !important;
}
.padding-left-80pt {
  padding-left: 8.333333333333334vw !important;
}
.padding-right-80pt {
  padding-right: 8.333333333333334vw !important;
}
.padding-bottom-80pt {
  padding-bottom: 8.333333333333334vw !important;
}
.padding-top-80pt {
  padding-top: 8.333333333333334vw !important;
}
.margin-80pt {
  margin: 8.333333333333334vw !important;
}
.margin-left-right-80pt {
  margin-left: 8.333333333333334vw !important;
  margin-right: 8.333333333333334vw !important;
}
.margin-bottom-top-80pt {
  margin-bottom: 8.333333333333334vw !important;
  margin-top: 8.333333333333334vw !important;
}
.margin-left-80pt {
  margin-left: 8.333333333333334vw !important;
}
.margin-right-80pt {
  margin-right: 8.333333333333334vw !important;
}
.margin-bottom-80pt {
  margin-bottom: 8.333333333333334vw !important;
}
.margin-top-80pt {
  margin-top: 8.333333333333334vw !important;
}
.height-120pt {
  height: 12.5vw;
}
.min-height-120pt {
  min-height: 12.5vw;
}
.max-height-120pt {
  max-height: 12.5vw;
}
.padding-120pt {
  padding: 12.5vw !important;
}
.padding-left-right-120pt {
  padding-left: 12.5vw !important;
  padding-right: 12.5vw !important;
}
.padding-bottom-top-120pt {
  padding-bottom: 12.5vw !important;
  padding-top: 12.5vw !important;
}
.padding-left-120pt {
  padding-left: 12.5vw !important;
}
.padding-right-120pt {
  padding-right: 12.5vw !important;
}
.padding-bottom-120pt {
  padding-bottom: 12.5vw !important;
}
.padding-top-120pt {
  padding-top: 12.5vw !important;
}
.margin-120pt {
  margin: 12.5vw !important;
}
.margin-left-right-120pt {
  margin-left: 12.5vw !important;
  margin-right: 12.5vw !important;
}
.margin-bottom-top-120pt {
  margin-bottom: 12.5vw !important;
  margin-top: 12.5vw !important;
}
.margin-left-120pt {
  margin-left: 12.5vw !important;
}
.margin-right-120pt {
  margin-right: 12.5vw !important;
}
.margin-bottom-120pt {
  margin-bottom: 12.5vw !important;
}
.margin-top-120pt {
  margin-top: 12.5vw !important;
}
.height-160pt {
  height: 16.666666666666668vw;
}
.min-height-160pt {
  min-height: 16.666666666666668vw;
}
.max-height-160pt {
  max-height: 16.666666666666668vw;
}
.padding-160pt {
  padding: 16.666666666666668vw !important;
}
.padding-left-right-160pt {
  padding-left: 16.666666666666668vw !important;
  padding-right: 16.666666666666668vw !important;
}
.padding-bottom-top-160pt {
  padding-bottom: 16.666666666666668vw !important;
  padding-top: 16.666666666666668vw !important;
}
.padding-left-160pt {
  padding-left: 16.666666666666668vw !important;
}
.padding-right-160pt {
  padding-right: 16.666666666666668vw !important;
}
.padding-bottom-160pt {
  padding-bottom: 16.666666666666668vw !important;
}
.padding-top-160pt {
  padding-top: 16.666666666666668vw !important;
}
.margin-160pt {
  margin: 16.666666666666668vw !important;
}
.margin-left-right-160pt {
  margin-left: 16.666666666666668vw !important;
  margin-right: 16.666666666666668vw !important;
}
.margin-bottom-top-160pt {
  margin-bottom: 16.666666666666668vw !important;
  margin-top: 16.666666666666668vw !important;
}
.margin-left-160pt {
  margin-left: 16.666666666666668vw !important;
}
.margin-right-160pt {
  margin-right: 16.666666666666668vw !important;
}
.margin-bottom-160pt {
  margin-bottom: 16.666666666666668vw !important;
}
.margin-top-160pt {
  margin-top: 16.666666666666668vw !important;
}
.height-200pt {
  height: 20.833333333333336vw;
}
.min-height-200pt {
  min-height: 20.833333333333336vw;
}
.max-height-200pt {
  max-height: 20.833333333333336vw;
}
.padding-200pt {
  padding: 20.833333333333336vw !important;
}
.padding-left-right-200pt {
  padding-left: 20.833333333333336vw !important;
  padding-right: 20.833333333333336vw !important;
}
.padding-bottom-top-200pt {
  padding-bottom: 20.833333333333336vw !important;
  padding-top: 20.833333333333336vw !important;
}
.padding-left-200pt {
  padding-left: 20.833333333333336vw !important;
}
.padding-right-200pt {
  padding-right: 20.833333333333336vw !important;
}
.padding-bottom-200pt {
  padding-bottom: 20.833333333333336vw !important;
}
.padding-top-200pt {
  padding-top: 20.833333333333336vw !important;
}
.margin-200pt {
  margin: 20.833333333333336vw !important;
}
.margin-left-right-200pt {
  margin-left: 20.833333333333336vw !important;
  margin-right: 20.833333333333336vw !important;
}
.margin-bottom-top-200pt {
  margin-bottom: 20.833333333333336vw !important;
  margin-top: 20.833333333333336vw !important;
}
.margin-left-200pt {
  margin-left: 20.833333333333336vw !important;
}
.margin-right-200pt {
  margin-right: 20.833333333333336vw !important;
}
.margin-bottom-200pt {
  margin-bottom: 20.833333333333336vw !important;
}
.margin-top-200pt {
  margin-top: 20.833333333333336vw !important;
}
.height-240pt {
  height: 25vw;
}
.min-height-240pt {
  min-height: 25vw;
}
.max-height-240pt {
  max-height: 25vw;
}
.padding-240pt {
  padding: 25vw !important;
}
.padding-left-right-240pt {
  padding-left: 25vw !important;
  padding-right: 25vw !important;
}
.padding-bottom-top-240pt {
  padding-bottom: 25vw !important;
  padding-top: 25vw !important;
}
.padding-left-240pt {
  padding-left: 25vw !important;
}
.padding-right-240pt {
  padding-right: 25vw !important;
}
.padding-bottom-240pt {
  padding-bottom: 25vw !important;
}
.padding-top-240pt {
  padding-top: 25vw !important;
}
.margin-240pt {
  margin: 25vw !important;
}
.margin-left-right-240pt {
  margin-left: 25vw !important;
  margin-right: 25vw !important;
}
.margin-bottom-top-240pt {
  margin-bottom: 25vw !important;
  margin-top: 25vw !important;
}
.margin-left-240pt {
  margin-left: 25vw !important;
}
.margin-right-240pt {
  margin-right: 25vw !important;
}
.margin-bottom-240pt {
  margin-bottom: 25vw !important;
}
.margin-top-240pt {
  margin-top: 25vw !important;
}
.height-280pt {
  height: 29.166666666666668vw;
}
.min-height-280pt {
  min-height: 29.166666666666668vw;
}
.max-height-280pt {
  max-height: 29.166666666666668vw;
}
.padding-280pt {
  padding: 29.166666666666668vw !important;
}
.padding-left-right-280pt {
  padding-left: 29.166666666666668vw !important;
  padding-right: 29.166666666666668vw !important;
}
.padding-bottom-top-280pt {
  padding-bottom: 29.166666666666668vw !important;
  padding-top: 29.166666666666668vw !important;
}
.padding-left-280pt {
  padding-left: 29.166666666666668vw !important;
}
.padding-right-280pt {
  padding-right: 29.166666666666668vw !important;
}
.padding-bottom-280pt {
  padding-bottom: 29.166666666666668vw !important;
}
.padding-top-280pt {
  padding-top: 29.166666666666668vw !important;
}
.margin-280pt {
  margin: 29.166666666666668vw !important;
}
.margin-left-right-280pt {
  margin-left: 29.166666666666668vw !important;
  margin-right: 29.166666666666668vw !important;
}
.margin-bottom-top-280pt {
  margin-bottom: 29.166666666666668vw !important;
  margin-top: 29.166666666666668vw !important;
}
.margin-left-280pt {
  margin-left: 29.166666666666668vw !important;
}
.margin-right-280pt {
  margin-right: 29.166666666666668vw !important;
}
.margin-bottom-280pt {
  margin-bottom: 29.166666666666668vw !important;
}
.margin-top-280pt {
  margin-top: 29.166666666666668vw !important;
}
.height-320pt {
  height: 33.333333333333336vw;
}
.min-height-320pt {
  min-height: 33.333333333333336vw;
}
.max-height-320pt {
  max-height: 33.333333333333336vw;
}
.padding-320pt {
  padding: 33.333333333333336vw !important;
}
.padding-left-right-320pt {
  padding-left: 33.333333333333336vw !important;
  padding-right: 33.333333333333336vw !important;
}
.padding-bottom-top-320pt {
  padding-bottom: 33.333333333333336vw !important;
  padding-top: 33.333333333333336vw !important;
}
.padding-left-320pt {
  padding-left: 33.333333333333336vw !important;
}
.padding-right-320pt {
  padding-right: 33.333333333333336vw !important;
}
.padding-bottom-320pt {
  padding-bottom: 33.333333333333336vw !important;
}
.padding-top-320pt {
  padding-top: 33.333333333333336vw !important;
}
.margin-320pt {
  margin: 33.333333333333336vw !important;
}
.margin-left-right-320pt {
  margin-left: 33.333333333333336vw !important;
  margin-right: 33.333333333333336vw !important;
}
.margin-bottom-top-320pt {
  margin-bottom: 33.333333333333336vw !important;
  margin-top: 33.333333333333336vw !important;
}
.margin-left-320pt {
  margin-left: 33.333333333333336vw !important;
}
.margin-right-320pt {
  margin-right: 33.333333333333336vw !important;
}
.margin-bottom-320pt {
  margin-bottom: 33.333333333333336vw !important;
}
.margin-top-320pt {
  margin-top: 33.333333333333336vw !important;
}
.height-360pt {
  height: 37.5vw;
}
.min-height-360pt {
  min-height: 37.5vw;
}
.max-height-360pt {
  max-height: 37.5vw;
}
.padding-360pt {
  padding: 37.5vw !important;
}
.padding-left-right-360pt {
  padding-left: 37.5vw !important;
  padding-right: 37.5vw !important;
}
.padding-bottom-top-360pt {
  padding-bottom: 37.5vw !important;
  padding-top: 37.5vw !important;
}
.padding-left-360pt {
  padding-left: 37.5vw !important;
}
.padding-right-360pt {
  padding-right: 37.5vw !important;
}
.padding-bottom-360pt {
  padding-bottom: 37.5vw !important;
}
.padding-top-360pt {
  padding-top: 37.5vw !important;
}
.margin-360pt {
  margin: 37.5vw !important;
}
.margin-left-right-360pt {
  margin-left: 37.5vw !important;
  margin-right: 37.5vw !important;
}
.margin-bottom-top-360pt {
  margin-bottom: 37.5vw !important;
  margin-top: 37.5vw !important;
}
.margin-left-360pt {
  margin-left: 37.5vw !important;
}
.margin-right-360pt {
  margin-right: 37.5vw !important;
}
.margin-bottom-360pt {
  margin-bottom: 37.5vw !important;
}
.margin-top-360pt {
  margin-top: 37.5vw !important;
}
.height-400pt {
  height: 41.66666666666667vw;
}
.min-height-400pt {
  min-height: 41.66666666666667vw;
}
.max-height-400pt {
  max-height: 41.66666666666667vw;
}
.padding-400pt {
  padding: 41.66666666666667vw !important;
}
.padding-left-right-400pt {
  padding-left: 41.66666666666667vw !important;
  padding-right: 41.66666666666667vw !important;
}
.padding-bottom-top-400pt {
  padding-bottom: 41.66666666666667vw !important;
  padding-top: 41.66666666666667vw !important;
}
.padding-left-400pt {
  padding-left: 41.66666666666667vw !important;
}
.padding-right-400pt {
  padding-right: 41.66666666666667vw !important;
}
.padding-bottom-400pt {
  padding-bottom: 41.66666666666667vw !important;
}
.padding-top-400pt {
  padding-top: 41.66666666666667vw !important;
}
.margin-400pt {
  margin: 41.66666666666667vw !important;
}
.margin-left-right-400pt {
  margin-left: 41.66666666666667vw !important;
  margin-right: 41.66666666666667vw !important;
}
.margin-bottom-top-400pt {
  margin-bottom: 41.66666666666667vw !important;
  margin-top: 41.66666666666667vw !important;
}
.margin-left-400pt {
  margin-left: 41.66666666666667vw !important;
}
.margin-right-400pt {
  margin-right: 41.66666666666667vw !important;
}
.margin-bottom-400pt {
  margin-bottom: 41.66666666666667vw !important;
}
.margin-top-400pt {
  margin-top: 41.66666666666667vw !important;
}
.height-440pt {
  height: 45.833333333333336vw;
}
.min-height-440pt {
  min-height: 45.833333333333336vw;
}
.max-height-440pt {
  max-height: 45.833333333333336vw;
}
.padding-440pt {
  padding: 45.833333333333336vw !important;
}
.padding-left-right-440pt {
  padding-left: 45.833333333333336vw !important;
  padding-right: 45.833333333333336vw !important;
}
.padding-bottom-top-440pt {
  padding-bottom: 45.833333333333336vw !important;
  padding-top: 45.833333333333336vw !important;
}
.padding-left-440pt {
  padding-left: 45.833333333333336vw !important;
}
.padding-right-440pt {
  padding-right: 45.833333333333336vw !important;
}
.padding-bottom-440pt {
  padding-bottom: 45.833333333333336vw !important;
}
.padding-top-440pt {
  padding-top: 45.833333333333336vw !important;
}
.margin-440pt {
  margin: 45.833333333333336vw !important;
}
.margin-left-right-440pt {
  margin-left: 45.833333333333336vw !important;
  margin-right: 45.833333333333336vw !important;
}
.margin-bottom-top-440pt {
  margin-bottom: 45.833333333333336vw !important;
  margin-top: 45.833333333333336vw !important;
}
.margin-left-440pt {
  margin-left: 45.833333333333336vw !important;
}
.margin-right-440pt {
  margin-right: 45.833333333333336vw !important;
}
.margin-bottom-440pt {
  margin-bottom: 45.833333333333336vw !important;
}
.margin-top-440pt {
  margin-top: 45.833333333333336vw !important;
}
.height-480pt {
  height: 50vw;
}
.min-height-480pt {
  min-height: 50vw;
}
.max-height-480pt {
  max-height: 50vw;
}
.padding-480pt {
  padding: 50vw !important;
}
.padding-left-right-480pt {
  padding-left: 50vw !important;
  padding-right: 50vw !important;
}
.padding-bottom-top-480pt {
  padding-bottom: 50vw !important;
  padding-top: 50vw !important;
}
.padding-left-480pt {
  padding-left: 50vw !important;
}
.padding-right-480pt {
  padding-right: 50vw !important;
}
.padding-bottom-480pt {
  padding-bottom: 50vw !important;
}
.padding-top-480pt {
  padding-top: 50vw !important;
}
.margin-480pt {
  margin: 50vw !important;
}
.margin-left-right-480pt {
  margin-left: 50vw !important;
  margin-right: 50vw !important;
}
.margin-bottom-top-480pt {
  margin-bottom: 50vw !important;
  margin-top: 50vw !important;
}
.margin-left-480pt {
  margin-left: 50vw !important;
}
.margin-right-480pt {
  margin-right: 50vw !important;
}
.margin-bottom-480pt {
  margin-bottom: 50vw !important;
}
.margin-top-480pt {
  margin-top: 50vw !important;
}
.height-520pt {
  height: 54.16666666666667vw;
}
.min-height-520pt {
  min-height: 54.16666666666667vw;
}
.max-height-520pt {
  max-height: 54.16666666666667vw;
}
.padding-520pt {
  padding: 54.16666666666667vw !important;
}
.padding-left-right-520pt {
  padding-left: 54.16666666666667vw !important;
  padding-right: 54.16666666666667vw !important;
}
.padding-bottom-top-520pt {
  padding-bottom: 54.16666666666667vw !important;
  padding-top: 54.16666666666667vw !important;
}
.padding-left-520pt {
  padding-left: 54.16666666666667vw !important;
}
.padding-right-520pt {
  padding-right: 54.16666666666667vw !important;
}
.padding-bottom-520pt {
  padding-bottom: 54.16666666666667vw !important;
}
.padding-top-520pt {
  padding-top: 54.16666666666667vw !important;
}
.margin-520pt {
  margin: 54.16666666666667vw !important;
}
.margin-left-right-520pt {
  margin-left: 54.16666666666667vw !important;
  margin-right: 54.16666666666667vw !important;
}
.margin-bottom-top-520pt {
  margin-bottom: 54.16666666666667vw !important;
  margin-top: 54.16666666666667vw !important;
}
.margin-left-520pt {
  margin-left: 54.16666666666667vw !important;
}
.margin-right-520pt {
  margin-right: 54.16666666666667vw !important;
}
.margin-bottom-520pt {
  margin-bottom: 54.16666666666667vw !important;
}
.margin-top-520pt {
  margin-top: 54.16666666666667vw !important;
}
.height-560pt {
  height: 58.333333333333336vw;
}
.min-height-560pt {
  min-height: 58.333333333333336vw;
}
.max-height-560pt {
  max-height: 58.333333333333336vw;
}
.padding-560pt {
  padding: 58.333333333333336vw !important;
}
.padding-left-right-560pt {
  padding-left: 58.333333333333336vw !important;
  padding-right: 58.333333333333336vw !important;
}
.padding-bottom-top-560pt {
  padding-bottom: 58.333333333333336vw !important;
  padding-top: 58.333333333333336vw !important;
}
.padding-left-560pt {
  padding-left: 58.333333333333336vw !important;
}
.padding-right-560pt {
  padding-right: 58.333333333333336vw !important;
}
.padding-bottom-560pt {
  padding-bottom: 58.333333333333336vw !important;
}
.padding-top-560pt {
  padding-top: 58.333333333333336vw !important;
}
.margin-560pt {
  margin: 58.333333333333336vw !important;
}
.margin-left-right-560pt {
  margin-left: 58.333333333333336vw !important;
  margin-right: 58.333333333333336vw !important;
}
.margin-bottom-top-560pt {
  margin-bottom: 58.333333333333336vw !important;
  margin-top: 58.333333333333336vw !important;
}
.margin-left-560pt {
  margin-left: 58.333333333333336vw !important;
}
.margin-right-560pt {
  margin-right: 58.333333333333336vw !important;
}
.margin-bottom-560pt {
  margin-bottom: 58.333333333333336vw !important;
}
.margin-top-560pt {
  margin-top: 58.333333333333336vw !important;
}
.height-600pt {
  height: 62.5vw;
}
.min-height-600pt {
  min-height: 62.5vw;
}
.max-height-600pt {
  max-height: 62.5vw;
}
.padding-600pt {
  padding: 62.5vw !important;
}
.padding-left-right-600pt {
  padding-left: 62.5vw !important;
  padding-right: 62.5vw !important;
}
.padding-bottom-top-600pt {
  padding-bottom: 62.5vw !important;
  padding-top: 62.5vw !important;
}
.padding-left-600pt {
  padding-left: 62.5vw !important;
}
.padding-right-600pt {
  padding-right: 62.5vw !important;
}
.padding-bottom-600pt {
  padding-bottom: 62.5vw !important;
}
.padding-top-600pt {
  padding-top: 62.5vw !important;
}
.margin-600pt {
  margin: 62.5vw !important;
}
.margin-left-right-600pt {
  margin-left: 62.5vw !important;
  margin-right: 62.5vw !important;
}
.margin-bottom-top-600pt {
  margin-bottom: 62.5vw !important;
  margin-top: 62.5vw !important;
}
.margin-left-600pt {
  margin-left: 62.5vw !important;
}
.margin-right-600pt {
  margin-right: 62.5vw !important;
}
.margin-bottom-600pt {
  margin-bottom: 62.5vw !important;
}
.margin-top-600pt {
  margin-top: 62.5vw !important;
}
.height-640pt {
  height: 66.66666666666667vw;
}
.min-height-640pt {
  min-height: 66.66666666666667vw;
}
.max-height-640pt {
  max-height: 66.66666666666667vw;
}
.padding-640pt {
  padding: 66.66666666666667vw !important;
}
.padding-left-right-640pt {
  padding-left: 66.66666666666667vw !important;
  padding-right: 66.66666666666667vw !important;
}
.padding-bottom-top-640pt {
  padding-bottom: 66.66666666666667vw !important;
  padding-top: 66.66666666666667vw !important;
}
.padding-left-640pt {
  padding-left: 66.66666666666667vw !important;
}
.padding-right-640pt {
  padding-right: 66.66666666666667vw !important;
}
.padding-bottom-640pt {
  padding-bottom: 66.66666666666667vw !important;
}
.padding-top-640pt {
  padding-top: 66.66666666666667vw !important;
}
.margin-640pt {
  margin: 66.66666666666667vw !important;
}
.margin-left-right-640pt {
  margin-left: 66.66666666666667vw !important;
  margin-right: 66.66666666666667vw !important;
}
.margin-bottom-top-640pt {
  margin-bottom: 66.66666666666667vw !important;
  margin-top: 66.66666666666667vw !important;
}
.margin-left-640pt {
  margin-left: 66.66666666666667vw !important;
}
.margin-right-640pt {
  margin-right: 66.66666666666667vw !important;
}
.margin-bottom-640pt {
  margin-bottom: 66.66666666666667vw !important;
}
.margin-top-640pt {
  margin-top: 66.66666666666667vw !important;
}
.height-680pt {
  height: 70.83333333333334vw;
}
.min-height-680pt {
  min-height: 70.83333333333334vw;
}
.max-height-680pt {
  max-height: 70.83333333333334vw;
}
.padding-680pt {
  padding: 70.83333333333334vw !important;
}
.padding-left-right-680pt {
  padding-left: 70.83333333333334vw !important;
  padding-right: 70.83333333333334vw !important;
}
.padding-bottom-top-680pt {
  padding-bottom: 70.83333333333334vw !important;
  padding-top: 70.83333333333334vw !important;
}
.padding-left-680pt {
  padding-left: 70.83333333333334vw !important;
}
.padding-right-680pt {
  padding-right: 70.83333333333334vw !important;
}
.padding-bottom-680pt {
  padding-bottom: 70.83333333333334vw !important;
}
.padding-top-680pt {
  padding-top: 70.83333333333334vw !important;
}
.margin-680pt {
  margin: 70.83333333333334vw !important;
}
.margin-left-right-680pt {
  margin-left: 70.83333333333334vw !important;
  margin-right: 70.83333333333334vw !important;
}
.margin-bottom-top-680pt {
  margin-bottom: 70.83333333333334vw !important;
  margin-top: 70.83333333333334vw !important;
}
.margin-left-680pt {
  margin-left: 70.83333333333334vw !important;
}
.margin-right-680pt {
  margin-right: 70.83333333333334vw !important;
}
.margin-bottom-680pt {
  margin-bottom: 70.83333333333334vw !important;
}
.margin-top-680pt {
  margin-top: 70.83333333333334vw !important;
}
.height-720pt {
  height: 75vw;
}
.min-height-720pt {
  min-height: 75vw;
}
.max-height-720pt {
  max-height: 75vw;
}
.padding-720pt {
  padding: 75vw !important;
}
.padding-left-right-720pt {
  padding-left: 75vw !important;
  padding-right: 75vw !important;
}
.padding-bottom-top-720pt {
  padding-bottom: 75vw !important;
  padding-top: 75vw !important;
}
.padding-left-720pt {
  padding-left: 75vw !important;
}
.padding-right-720pt {
  padding-right: 75vw !important;
}
.padding-bottom-720pt {
  padding-bottom: 75vw !important;
}
.padding-top-720pt {
  padding-top: 75vw !important;
}
.margin-720pt {
  margin: 75vw !important;
}
.margin-left-right-720pt {
  margin-left: 75vw !important;
  margin-right: 75vw !important;
}
.margin-bottom-top-720pt {
  margin-bottom: 75vw !important;
  margin-top: 75vw !important;
}
.margin-left-720pt {
  margin-left: 75vw !important;
}
.margin-right-720pt {
  margin-right: 75vw !important;
}
.margin-bottom-720pt {
  margin-bottom: 75vw !important;
}
.margin-top-720pt {
  margin-top: 75vw !important;
}
.height-760pt {
  height: 79.16666666666667vw;
}
.min-height-760pt {
  min-height: 79.16666666666667vw;
}
.max-height-760pt {
  max-height: 79.16666666666667vw;
}
.padding-760pt {
  padding: 79.16666666666667vw !important;
}
.padding-left-right-760pt {
  padding-left: 79.16666666666667vw !important;
  padding-right: 79.16666666666667vw !important;
}
.padding-bottom-top-760pt {
  padding-bottom: 79.16666666666667vw !important;
  padding-top: 79.16666666666667vw !important;
}
.padding-left-760pt {
  padding-left: 79.16666666666667vw !important;
}
.padding-right-760pt {
  padding-right: 79.16666666666667vw !important;
}
.padding-bottom-760pt {
  padding-bottom: 79.16666666666667vw !important;
}
.padding-top-760pt {
  padding-top: 79.16666666666667vw !important;
}
.margin-760pt {
  margin: 79.16666666666667vw !important;
}
.margin-left-right-760pt {
  margin-left: 79.16666666666667vw !important;
  margin-right: 79.16666666666667vw !important;
}
.margin-bottom-top-760pt {
  margin-bottom: 79.16666666666667vw !important;
  margin-top: 79.16666666666667vw !important;
}
.margin-left-760pt {
  margin-left: 79.16666666666667vw !important;
}
.margin-right-760pt {
  margin-right: 79.16666666666667vw !important;
}
.margin-bottom-760pt {
  margin-bottom: 79.16666666666667vw !important;
}
.margin-top-760pt {
  margin-top: 79.16666666666667vw !important;
}
.height-800pt {
  height: 83.33333333333334vw;
}
.min-height-800pt {
  min-height: 83.33333333333334vw;
}
.max-height-800pt {
  max-height: 83.33333333333334vw;
}
.padding-800pt {
  padding: 83.33333333333334vw !important;
}
.padding-left-right-800pt {
  padding-left: 83.33333333333334vw !important;
  padding-right: 83.33333333333334vw !important;
}
.padding-bottom-top-800pt {
  padding-bottom: 83.33333333333334vw !important;
  padding-top: 83.33333333333334vw !important;
}
.padding-left-800pt {
  padding-left: 83.33333333333334vw !important;
}
.padding-right-800pt {
  padding-right: 83.33333333333334vw !important;
}
.padding-bottom-800pt {
  padding-bottom: 83.33333333333334vw !important;
}
.padding-top-800pt {
  padding-top: 83.33333333333334vw !important;
}
.margin-800pt {
  margin: 83.33333333333334vw !important;
}
.margin-left-right-800pt {
  margin-left: 83.33333333333334vw !important;
  margin-right: 83.33333333333334vw !important;
}
.margin-bottom-top-800pt {
  margin-bottom: 83.33333333333334vw !important;
  margin-top: 83.33333333333334vw !important;
}
.margin-left-800pt {
  margin-left: 83.33333333333334vw !important;
}
.margin-right-800pt {
  margin-right: 83.33333333333334vw !important;
}
.margin-bottom-800pt {
  margin-bottom: 83.33333333333334vw !important;
}
.margin-top-800pt {
  margin-top: 83.33333333333334vw !important;
}
.height-840pt {
  height: 87.5vw;
}
.min-height-840pt {
  min-height: 87.5vw;
}
.max-height-840pt {
  max-height: 87.5vw;
}
.padding-840pt {
  padding: 87.5vw !important;
}
.padding-left-right-840pt {
  padding-left: 87.5vw !important;
  padding-right: 87.5vw !important;
}
.padding-bottom-top-840pt {
  padding-bottom: 87.5vw !important;
  padding-top: 87.5vw !important;
}
.padding-left-840pt {
  padding-left: 87.5vw !important;
}
.padding-right-840pt {
  padding-right: 87.5vw !important;
}
.padding-bottom-840pt {
  padding-bottom: 87.5vw !important;
}
.padding-top-840pt {
  padding-top: 87.5vw !important;
}
.margin-840pt {
  margin: 87.5vw !important;
}
.margin-left-right-840pt {
  margin-left: 87.5vw !important;
  margin-right: 87.5vw !important;
}
.margin-bottom-top-840pt {
  margin-bottom: 87.5vw !important;
  margin-top: 87.5vw !important;
}
.margin-left-840pt {
  margin-left: 87.5vw !important;
}
.margin-right-840pt {
  margin-right: 87.5vw !important;
}
.margin-bottom-840pt {
  margin-bottom: 87.5vw !important;
}
.margin-top-840pt {
  margin-top: 87.5vw !important;
}
.height-880pt {
  height: 91.66666666666667vw;
}
.min-height-880pt {
  min-height: 91.66666666666667vw;
}
.max-height-880pt {
  max-height: 91.66666666666667vw;
}
.padding-880pt {
  padding: 91.66666666666667vw !important;
}
.padding-left-right-880pt {
  padding-left: 91.66666666666667vw !important;
  padding-right: 91.66666666666667vw !important;
}
.padding-bottom-top-880pt {
  padding-bottom: 91.66666666666667vw !important;
  padding-top: 91.66666666666667vw !important;
}
.padding-left-880pt {
  padding-left: 91.66666666666667vw !important;
}
.padding-right-880pt {
  padding-right: 91.66666666666667vw !important;
}
.padding-bottom-880pt {
  padding-bottom: 91.66666666666667vw !important;
}
.padding-top-880pt {
  padding-top: 91.66666666666667vw !important;
}
.margin-880pt {
  margin: 91.66666666666667vw !important;
}
.margin-left-right-880pt {
  margin-left: 91.66666666666667vw !important;
  margin-right: 91.66666666666667vw !important;
}
.margin-bottom-top-880pt {
  margin-bottom: 91.66666666666667vw !important;
  margin-top: 91.66666666666667vw !important;
}
.margin-left-880pt {
  margin-left: 91.66666666666667vw !important;
}
.margin-right-880pt {
  margin-right: 91.66666666666667vw !important;
}
.margin-bottom-880pt {
  margin-bottom: 91.66666666666667vw !important;
}
.margin-top-880pt {
  margin-top: 91.66666666666667vw !important;
}
.height-920pt {
  height: 95.83333333333334vw;
}
.min-height-920pt {
  min-height: 95.83333333333334vw;
}
.max-height-920pt {
  max-height: 95.83333333333334vw;
}
.padding-920pt {
  padding: 95.83333333333334vw !important;
}
.padding-left-right-920pt {
  padding-left: 95.83333333333334vw !important;
  padding-right: 95.83333333333334vw !important;
}
.padding-bottom-top-920pt {
  padding-bottom: 95.83333333333334vw !important;
  padding-top: 95.83333333333334vw !important;
}
.padding-left-920pt {
  padding-left: 95.83333333333334vw !important;
}
.padding-right-920pt {
  padding-right: 95.83333333333334vw !important;
}
.padding-bottom-920pt {
  padding-bottom: 95.83333333333334vw !important;
}
.padding-top-920pt {
  padding-top: 95.83333333333334vw !important;
}
.margin-920pt {
  margin: 95.83333333333334vw !important;
}
.margin-left-right-920pt {
  margin-left: 95.83333333333334vw !important;
  margin-right: 95.83333333333334vw !important;
}
.margin-bottom-top-920pt {
  margin-bottom: 95.83333333333334vw !important;
  margin-top: 95.83333333333334vw !important;
}
.margin-left-920pt {
  margin-left: 95.83333333333334vw !important;
}
.margin-right-920pt {
  margin-right: 95.83333333333334vw !important;
}
.margin-bottom-920pt {
  margin-bottom: 95.83333333333334vw !important;
}
.margin-top-920pt {
  margin-top: 95.83333333333334vw !important;
}
.height-960pt {
  height: 100vw;
}
.min-height-960pt {
  min-height: 100vw;
}
.max-height-960pt {
  max-height: 100vw;
}
.padding-960pt {
  padding: 100vw !important;
}
.padding-left-right-960pt {
  padding-left: 100vw !important;
  padding-right: 100vw !important;
}
.padding-bottom-top-960pt {
  padding-bottom: 100vw !important;
  padding-top: 100vw !important;
}
.padding-left-960pt {
  padding-left: 100vw !important;
}
.padding-right-960pt {
  padding-right: 100vw !important;
}
.padding-bottom-960pt {
  padding-bottom: 100vw !important;
}
.padding-top-960pt {
  padding-top: 100vw !important;
}
.margin-960pt {
  margin: 100vw !important;
}
.margin-left-right-960pt {
  margin-left: 100vw !important;
  margin-right: 100vw !important;
}
.margin-bottom-top-960pt {
  margin-bottom: 100vw !important;
  margin-top: 100vw !important;
}
.margin-left-960pt {
  margin-left: 100vw !important;
}
.margin-right-960pt {
  margin-right: 100vw !important;
}
.margin-bottom-960pt {
  margin-bottom: 100vw !important;
}
.margin-top-960pt {
  margin-top: 100vw !important;
}
.font-size-4pt {
  font-size: 0.416666666666667vw;
}
.font-size-8pt {
  font-size: 0.833333333333333vw;
}
.font-size-12pt {
  font-size: 1.25vw;
}
.font-size-16pt {
  font-size: 1.666666666666667vw;
}
.font-size-20pt {
  font-size: 2.083333333333333vw;
}
.font-size-24pt {
  font-size: 2.5vw;
}
.font-size-28pt {
  font-size: 2.916666666666667vw;
}
.font-size-32pt {
  font-size: 3.333333333333333vw;
}
.font-size-36pt {
  font-size: 3.75vw;
}
.font-size-40pt {
  font-size: 4.166666666666667vw;
}
.font-size-44pt {
  font-size: 4.583333333333334vw;
}
.font-size-48pt {
  font-size: 5vw;
}
.font-size-52pt {
  font-size: 5.416666666666667vw;
}
.font-size-56pt {
  font-size: 5.833333333333334vw;
}
.font-size-60pt {
  font-size: 6.25vw;
}
.font-size-64pt {
  font-size: 6.666666666666667vw;
}
.font-size-68pt {
  font-size: 7.083333333333334vw;
}
.font-size-72pt {
  font-size: 7.5vw;
}
.font-size-76pt {
  font-size: 7.916666666666667vw;
}
.font-size-80pt {
  font-size: 8.333333333333334vw;
}
.font-size-84pt {
  font-size: 8.75vw;
}
.font-size-88pt {
  font-size: 9.166666666666668vw;
}
.font-size-92pt {
  font-size: 9.583333333333334vw;
}
.font-size-96pt {
  font-size: 10vw;
}
.container {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.grid {
  display: grid !important;
  grid-gap: 0;
  grid-template-columns: repeat(24, 1fr);
}
.vertical-start {
  align-items: start;
}
.vertical-center {
  align-items: center;
}
.vertical-end {
  align-items: end;
}
.between {
  justify-content: center;
}
.gap-none {
  grid-gap: 0;
  margin-bottom: 0;
}
.gap-column-none {
  grid-column-gap: 0;
}
.gap-row-none {
  grid-row-gap: 0;
  margin-bottom: 0;
}
.first {
  order: -1;
}
.last {
  order: 24;
}
.hide {
  display: none !important;
}
.show {
  display: initial !important;
}
.grid-1 {
  grid-template-columns: repeat(24, 1fr);
}
.grid-2 {
  grid-template-columns: repeat(12, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(8, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(4.8, 1fr);
}
.grid-6 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-7 {
  grid-template-columns: repeat(3.428571428571428, 1fr);
}
.grid-8 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-9 {
  grid-template-columns: repeat(2.666666666666667, 1fr);
}
.grid-10 {
  grid-template-columns: repeat(2.4, 1fr);
}
.grid-11 {
  grid-template-columns: repeat(2.181818181818182, 1fr);
}
.grid-12 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-13 {
  grid-template-columns: repeat(1.846153846153846, 1fr);
}
.grid-14 {
  grid-template-columns: repeat(1.714285714285714, 1fr);
}
.grid-15 {
  grid-template-columns: repeat(1.6, 1fr);
}
.grid-16 {
  grid-template-columns: repeat(1.5, 1fr);
}
.grid-17 {
  grid-template-columns: repeat(1.411764705882353, 1fr);
}
.grid-18 {
  grid-template-columns: repeat(1.333333333333333, 1fr);
}
.grid-19 {
  grid-template-columns: repeat(1.263157894736842, 1fr);
}
.grid-20 {
  grid-template-columns: repeat(1.2, 1fr);
}
.grid-21 {
  grid-template-columns: repeat(1.142857142857143, 1fr);
}
.grid-22 {
  grid-template-columns: repeat(1.090909090909091, 1fr);
}
.grid-23 {
  grid-template-columns: repeat(1.043478260869565, 1fr);
}
.grid-24 {
  grid-template-columns: repeat(1, 1fr);
}
.column-1 {
  grid-column: span 1/span 1;
}
.column-2 {
  grid-column: span 2/span 2;
}
.column-3 {
  grid-column: span 3/span 3;
}
.column-4 {
  grid-column: span 4/span 4;
}
.column-5 {
  grid-column: span 5/span 5;
}
.column-6 {
  grid-column: span 6/span 6;
}
.column-7 {
  grid-column: span 7/span 7;
}
.column-8 {
  grid-column: span 8/span 8;
}
.column-9 {
  grid-column: span 9/span 9;
}
.column-10 {
  grid-column: span 10/span 10;
}
.column-11 {
  grid-column: span 11/span 11;
}
.column-12 {
  grid-column: span 12/span 12;
}
.column-13 {
  grid-column: span 13/span 13;
}
.column-14 {
  grid-column: span 14/span 14;
}
.column-15 {
  grid-column: span 15/span 15;
}
.column-16 {
  grid-column: span 16/span 16;
}
.column-17 {
  grid-column: span 17/span 17;
}
.column-18 {
  grid-column: span 18/span 18;
}
.column-19 {
  grid-column: span 19/span 19;
}
.column-20 {
  grid-column: span 20/span 20;
}
.column-21 {
  grid-column: span 21/span 21;
}
.column-22 {
  grid-column: span 22/span 22;
}
.column-23 {
  grid-column: span 23/span 23;
}
.column-24 {
  grid-column: span 24/span 24;
}
.offset-1 {
  grid-column-start: 1;
}
.offset-2 {
  grid-column-start: 2;
}
.offset-3 {
  grid-column-start: 3;
}
.offset-4 {
  grid-column-start: 4;
}
.offset-5 {
  grid-column-start: 5;
}
.offset-6 {
  grid-column-start: 6;
}
.offset-7 {
  grid-column-start: 7;
}
.offset-8 {
  grid-column-start: 8;
}
.offset-9 {
  grid-column-start: 9;
}
.offset-10 {
  grid-column-start: 10;
}
.offset-11 {
  grid-column-start: 11;
}
.offset-12 {
  grid-column-start: 12;
}
.offset-13 {
  grid-column-start: 13;
}
.offset-14 {
  grid-column-start: 14;
}
.offset-15 {
  grid-column-start: 15;
}
.offset-16 {
  grid-column-start: 16;
}
.offset-17 {
  grid-column-start: 17;
}
.offset-18 {
  grid-column-start: 18;
}
.offset-19 {
  grid-column-start: 19;
}
.offset-20 {
  grid-column-start: 20;
}
.offset-21 {
  grid-column-start: 21;
}
.offset-22 {
  grid-column-start: 22;
}
.offset-23 {
  grid-column-start: 23;
}
.offset-24 {
  grid-column-start: 24;
}
.flex {
  flex-wrap: wrap;
  display: flex;
}
.fill {
  flex: 1 1 0%;
  flex-basis: 0%;
}
.fit {
  flex-basis: auto;
}
.float-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
