@require "../CODE/STYLUS/vista.styl"

// ~~

+Media( at-20em at-40em )
{
    html
    {
        background-color: #FFFF00;
    }
}

// ~~

MediaQueryNameList = above-20em, above-30em, above-40em, above-60em, above-80em;

ContainerMaxWidthMap = {
    above-20em: 15rem,
    above-30em: 25rem,
    above-40em: 35rem,
    above-60em: 55rem,
    above-80em: 75rem
};

ContainerMarginMap = {
    above-20em: 32 * Pxm,
    above-30em: 48 * Pxm,
    above-40em: 64 * Pxm,
    above-60em: 96 * Pxm,
    above-80em: 128 * Pxm
};

// ~~


+Prefix( test- )
{
    MakeContainerCentered( 10rem, ContainerMaxWidthMap, MediaQueryNameList );
    MakeContainerMargined( 1rem, ContainerMarginMap, MediaQueryNameList );
}

MakeWidthAuto( MediaQueryNameList );
MakeWidthRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMinWidthRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMaxWidthRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeFractionalWidthRange( 12, MediaQueryNameList );
MakeMinFractionalWidthRange( 12, MediaQueryNameList );
MakeMaxFractionalWidthRange( 12, MediaQueryNameList );
MakeGridWidthRange( 12, 100%, 2%, "col", MediaQueryNameList );
MakeHeightAuto( MediaQueryNameList );
MakeHeightRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMinHeightRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMaxHeightRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeFractionalHeightRange( 12, MediaQueryNameList );
MakeMinFractionalHeightRange( 12, MediaQueryNameList );
MakeMaxFractionalHeightRange( 12, MediaQueryNameList );
MakeGridHeightRange( 12, 100%, 2%, "col", MediaQueryNameList );
MakePaddingRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakePaddingLateralRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakePaddingVerticalRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakePaddingLeftRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakePaddingRightRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakePaddingTopRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakePaddingBottomRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMarginAuto( MediaQueryNameList );
MakeMarginLateralAuto( MediaQueryNameList );
MakeMarginLateralRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMarginVerticalAuto( MediaQueryNameList );
MakeMarginVerticalRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMarginLeftAuto( MediaQueryNameList );
MakeMarginLeftRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMarginRightAuto( MediaQueryNameList );
MakeMarginRightRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMarginTopAuto( MediaQueryNameList );
MakeMarginTopRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMarginBottomAuto( MediaQueryNameList );
MakeMarginBottomRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeFractionalMarginLeftRange( 12, 12, MediaQueryNameList );
MakeFractionalMarginRightRange( 12, 12, MediaQueryNameList );
MakeGutterRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeDisplay( MediaQueryNameList );
MakeFlex( MediaQueryNameList );
MakeFlexBasisRange( 12, 12, MediaQueryNameList );
MakeFlexShrinkRange( 0, 1, 12, 1, "", MediaQueryNameList );
MakeFlexGrowRange( 0, 1, 12, 1, "", MediaQueryNameList );
MakeFontSizeRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeFontWeightRange( 100, 100, 9, MediaQueryNameList );
MakeLineHeightRange( 0.5, 0.5, 4, 1, "", MediaQueryNameList );
MakeLineHeightRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeCarousel( 2 );
MakeCarousel( 3 );
MakeCarousel( 4 );
MakeCarousel( 5 );
MakeCarousel( 6 );
MakeParallax( MediaQueryNameList );
