@require "../CODE/STYLUS/vista_reset.styl"
@require "../CODE/STYLUS/vista.styl"

// ~~

+Media( below-20em above-40em )
{
    html
    {
        background-color: #FFFF00;
    }
}

// ~~

MediaQueryNameList = above-20em, above-30em, above-40em, above-60em, above-80em;

// ~~

MakeExtendedContainer( MediaQueryNameList, "test-" );
MakeCenteredContainer( 10rem, 15rem 25rem 35rem 55rem 75rem, MediaQueryNameList, "test-" );
MakeMarginedContainer( 1rem, 2rem 3rem 4rem 5rem 6rem, MediaQueryNameList, "test-" );
MakePaddedContainer( 1rem, 2rem 3rem 4rem 5rem 6rem, MediaQueryNameList, "test-" );
MakeMarginAuto( MediaQueryNameList );
MakeMarginLateralAuto( MediaQueryNameList );
MakeMarginLateralValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMarginVerticalAuto( MediaQueryNameList );
MakeMarginVerticalValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMarginLeftAuto( MediaQueryNameList );
MakeMarginLeftValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMarginRightAuto( MediaQueryNameList );
MakeMarginRightValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMarginTopAuto( MediaQueryNameList );
MakeMarginTopValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMarginBottomAuto( MediaQueryNameList );
MakeMarginBottomValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeFractionalMarginLeftValueRange( 12, 12, MediaQueryNameList );
MakeFractionalMarginRightRange( 12, 12, MediaQueryNameList );

MakeHeightAuto( MediaQueryNameList );
MakeHeightValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMinHeightValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMaxHeightValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeFractionalHeightValueRange( 12, MediaQueryNameList );
MakeMinFractionalHeightValueRange( 12, MediaQueryNameList );
MakeMaxFractionalHeightValueRange( 12, MediaQueryNameList );
MakeGridHeightValueRange( 12, 100%, 2%, "col", MediaQueryNameList );
MakeWidthAuto( MediaQueryNameList );
MakeWidthValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMinWidthValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeMaxWidthValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeFractionalWidthValueRange( 12, MediaQueryNameList );
MakeMinFractionalWidthValueRange( 12, MediaQueryNameList );
MakeMaxFractionalWidthValueRange( 12, MediaQueryNameList );
MakeGridWidthValueRange( 12, 100%, 2%, "col", MediaQueryNameList );
MakePaddingValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakePaddingLateralValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakePaddingVerticalValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakePaddingLeftValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakePaddingRightValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakePaddingTopValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakePaddingBottomValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeGutterValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );

MakeDisplayNone( MediaQueryNameList );
MakeDisplayNone( MediaQueryNameList, , -important, !important );
MakeFlexWrap( MediaQueryNameList );
MakeFlexBasisValueRange( 12, 12, MediaQueryNameList );
MakeFlexShrinkValueRange( 0, 1, 12, 1, "", MediaQueryNameList );
MakeFlexGrowValueRange( 0, 1, 12, 1, "", MediaQueryNameList );

MakeLineHeightValueRange( 0.5, 0.5, 4, 1, "", MediaQueryNameList );
MakeLineHeightValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeFontSizeValueRange( 10, 10, 5, Pxm, "pxm", MediaQueryNameList );
MakeFontWeightValueRange( 100, 100, 9, MediaQueryNameList );
MakeTextAlignCenter( MediaQueryNameList );
MakeTextTransformUppercase( MediaQueryNameList );

MakeCarouselStripValue( 2 );
MakeCarouselStripValue( 3 );
MakeCarouselStripValue( 4 );
MakeCarouselStripValue( 5 );
MakeCarouselStripValue( 6 );
MakeCarouselSlideValue( 2 );
MakeCarouselSlideValue( 3 );
MakeCarouselSlideValue( 4 );
MakeCarouselSlideValue( 5 );
MakeCarouselSlideValue( 6 );
MakeParallax( MediaQueryNameList );
