html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6
    margin : 0
    padding : 0

h1,
h2,
h3,
h4,
h5,
h6
    font-size : 100%
    font-weight : normal

ul
    list-style : none

button,
input,
select,
textarea
    margin : 0

html
    box-sizing : border-box

*, *:before, *:after
    box-sizing : inherit

img,
embed,
iframe,
object,
video
    height : auto
    max-width : 100%

audio
    max-width : 100%

iframe
    border : 0

table
    border-collapse : collapse
    border-spacing : 0

td,
th
    padding : 0
    text-align : left

pc = 1%
px = 1px
pw = 1vw
ph = 1vh
pt = 100vw / 960.0
rm = 1rem

MakeWidths( size, unit, suffix )
    .with-{size}{suffix}
        width : size * unit
    .min-with-{size}{suffix}
        min-width : size * unit
    .max-with-{size}{suffix}
        max-width : size * unit

MakeHeights( size, unit, suffix )
    .height-{size}{suffix}
        height : size * unit
    .min-height-{size}{suffix}
        min-height : size * unit
    .max-height-{size}{suffix}
        max-height : size * unit

MakePaddings( size, unit, suffix )
    .padding-{size}{suffix}
        padding : size * unit !important
    .padding-left-right-{size}{suffix}
        padding-left : size * unit !important
        padding-right : size * unit !important
    .padding-bottom-top-{size}{suffix}
        padding-bottom : size * unit !important
        padding-top : size * unit !important
    .padding-left-{size}{suffix}
        padding-left : size * unit !important
    .padding-right-{size}{suffix}
        padding-right : size * unit !important
    .padding-bottom-{size}{suffix}
        padding-bottom : size * unit !important
    .padding-top-{size}{suffix}
        padding-top : size * unit !important

MakeMargins( size, unit, suffix )
    .margin-{size}{suffix}
        margin : size * unit !important
    .margin-left-right-{size}{suffix}
        margin-left : size * unit !important
        margin-right : size * unit !important
    .margin-bottom-top-{size}{suffix}
        margin-bottom : size * unit !important
        margin-top : size * unit !important
    .margin-left-{size}{suffix}
        margin-left : size * unit !important
    .margin-right-{size}{suffix}
        margin-right : size * unit !important
    .margin-bottom-{size}{suffix}
        margin-bottom : size * unit !important
    .margin-top-{size}{suffix}
        margin-top : size * unit !important

MakeFontSize( size, unit, suffix )
    .font-size-{size}{suffix}
        font-size : size * unit

for index in 0 .. 24
    size = index * 40
    MakeWiths( size, pt, "pt" )
    MakeHeights( size, pt, "pt" )
    MakePaddings( size, pt, "pt" )
    MakeMargins( size, pt, "pt" )

for index in 1 .. 24
    size = index * 4
    MakeFontSize( size, pt, "pt" )

.container
    width : 100%
    margin : 0 auto
    display : block

.grid
    display : grid !important
    grid-gap : 0
    grid-template-columns : repeat(24, 1fr)

.vertical-start
    align-items : start

.vertical-center
    align-items : center

.vertical-end
    align-items : end

.between
    justify-content : center

.gap-none
    grid-gap : 0
    margin-bottom : 0

.gap-column-none
    grid-column-gap : 0

.gap-row-none
    grid-row-gap : 0
    margin-bottom : 0

.first
    order : -1

.last
    order : 24

.hide
    display : none !important

.show
    display : initial !important

for index in 1 .. 24
    fraction = 24.0 / index
    .grid-{index}
        grid-template-columns : repeat(fraction, 1fr)

for index in 1 .. 24
    .column-{index}
        grid-column : span index/span index

for index in 1 .. 24
    .offset-{index}
        grid-column-start : index

.flex
    flex-wrap : wrap
    display : flex

.fill
    flex : 1 1 0%
    flex-basis : 0%

.fit
    flex-basis : auto

.float-center
    margin-left : auto
    margin-right : auto
    display : block
    float : none

.float-left
    float : left

.float-right
    float : right

.clear-fix::after
    content : ""
    display : table
    clear : both

.text-left
    text-align : left

.text-right
    text-align : right

.text-center
    text-align : center
