MakeGutter( size, unit_value, unit_name, media_query_name_list, media_query_map )

    .gutter-{size}{unit_name}
    {
        margin-top: -( size * unit_value );
        margin-left: -( size * unit_value );
    }

    .gutter-{size}{unit_name} > [class*="flex-item"]
    {
        padding-top: size * unit_value;
        padding-left: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .gutter-{size}{unit_name}-{media_query_name}
            {
                margin-top: -( size * unit_value );
                margin-left: -( size * unit_value );
            }

            .gutter-{size}{unit_name}-{media_query_name} > [class*="flex-item"]
            {
                padding-top: size * unit_value;
                padding-left: size * unit_value;
            }
        }
    }

// ~~

MakeGutterRange( start, step, count, unit_value, unit_name, media_query_name_list, media_query_map )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeGutter( size, unit_value, unit_name, media_query_name_list, media_query_map );
    }
