.flex-row
{
    flex-direction: row;
}

.flex-row-reverse
{
    flex-direction: row-reverse;
}

.flex-column
{
    flex-direction: column;
}

.flex-column-reverse
{
    flex-direction: column-reverse;
}

.flex-wrap
{
    flex-wrap: wrap;
}

.flex-nowrap
{
    flex-wrap: nowrap;
}

.flex-left
{
    justify-content: flex-start;
}

.flex-center
{
    justify-content: center;
}

.flex-right
{
    justify-content: flex-end;
}

.flex-between
{
    justify-content: space-between;
}

.flex-around
{
    justify-content: space-around;
}

.flex-top
{
    align-items: flex-start;
}

.flex-middle
{
    align-items: center;
}

.flex-bottom
{
    align-items: flex-end;
}

.flex-stretch
{
    align-items: stretch;
}

.flex-baseline
{
    align-items: baseline;
}

.flex-top-self
{
    align-self: flex-start;
}

.flex-middle-self
{
    align-self: center;
}

.flex-bottom-self
{
    align-self: flex-end;
}

.flex-stretch-self
{
    align-self: stretch;
}

.flex-baseline-self
{
    align-self: baseline;
}

.flex-first
{
    order: -1;
}

.flex-last
{
    order: 1;
}

// ~~

MakeFlex( media_query_map )

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .flex-row-{media_query_name}
            {
                flex-direction: row;
            }

            .flex-row-reverse-{media_query_name}
            {
                flex-direction: row-reverse;
            }

            .flex-column-{media_query_name}
            {
                flex-direction: column;
            }

            .flex-column-reverse-{media_query_name}
            {
                flex-direction: column-reverse;
            }

            .flex-wrap-{media_query_name}
            {
                flex-wrap: wrap;
            }

            .flex-nowrap-{media_query_name}
            {
                flex-wrap: nowrap;
            }

            .flex-left-{media_query_name}
            {
                justify-content: flex-start;
            }

            .flex-center-{media_query_name}
            {
                justify-content: center;
            }

            .flex-right-{media_query_name}
            {
                justify-content: flex-end;
            }

            .flex-between-{media_query_name}
            {
                justify-content: space-between;
            }

            .flex-around-{media_query_name}
            {
                justify-content: space-around;
            }

            .flex-top-{media_query_name}
            {
                align-items: flex-start;
            }

            .flex-middle-{media_query_name}
            {
                align-items: center;
            }

            .flex-bottom-{media_query_name}
            {
                align-items: flex-end;
            }

            .flex-stretch-{media_query_name}
            {
                align-items: stretch;
            }

            .flex-baseline-{media_query_name}
            {
                align-items: baseline;
            }

            .flex-top-{media_query_name}
            {
                align-self: flex-start;
            }

            .flex-middle-{media_query_name}
            {
                align-self: center;
            }

            .flex-bottom-{media_query_name}
            {
                align-self: flex-end;
            }

            .flex-stretch-{media_query_name}
            {
                align-self: stretch;
            }

            .flex-baseline-{media_query_name}
            {
                align-self: baseline;
            }

            .flex-first-{media_query_name}
            {
                order: -1;
            }

            .flex-last-{media_query_name}
            {
                order: 1;
            }
        }
    }

// ~~

MakeFlexBasis( column_count, media_query_name_list, media_query_map )

    for column_index in 1 .. column_count

        .flex-basis-{column_index}_{column_count}
        {
            flex-basis: 100% * ( column_index / column_count );
            max-width: 100% * ( column_index / column_count );
        }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .flex-basis-{column_index}_{column_count}-{media_query_name}
            {
                flex-basis: 100% * ( column_index / column_count );
                max-width: 100% * ( column_index / column_count );
            }
        }
    }

// ~~

MakeFlexBasisRange( first_column_count, last_column_count, media_query_name_list, media_query_map )

    for column_count in first_column_count .. last_column_count
    {
        MakeFlexBasis( column_count, media_query_name_list, media_query_map )
    }

// ~~

MakeFlexShrink( minimum_factor, maximum_factor, media_query_name_list, media_query_map )

    for factor in minimum_factor .. maximum_factor

        .flex-shrink-{factor}
        {
            flex-shrink: factor;
        }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .flex-shrink-{factor}-{media_query_name}
            {
                flex-shrink: factor;
            }
        }
    }

// ~~

MakeFlexGrow( minimum_factor, maximum_factor, media_query_name_list, media_query_map )

    for factor in minimum_factor .. maximum_factor

        .flex-grow-{factor}
        {
            flex-grow: factor;
        }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .flex-grow-{factor}-{media_query_name}
            {
                flex-grow: factor;
            }
        }
    }
