.hidden
{
    visibility: hidden;
}

.visible
{
    visibility: visible;
}

.collapse
{
    visibility: collapse;
}

// ~~

MakeVisibility( media_query_name_list = {} )

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .hidden-{media_query_name}
            {
                visibility: hidden;
            }

            .visible-{media_query_name}
            {
                visibility: visible;
            }

            .collapse-{media_query_name}
            {
                visibility: collapse;
            }
        }
    }
