.height-auto
{
    height: auto;
}

// ~~

MakeHeightAuto( media_query_name_list )

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .height-auto-{media_query_name}
            {
                height: auto;
            }
        }
    }

// ~~

MakeHeight( size, unit_value, unit_name, media_query_name_list )

    .height-{size}{unit_name}
    {
        height: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .height-{size}{unit_name}-{media_query_name}
            {
                height: size * unit_value;
            }
        }
    }

// ~~

MakeHeightRange( start, step, count, unit_value, unit_name, media_query_name_list )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeHeight( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeMinHeight( size, unit_value, unit_name, media_query_name_list )

    .min-height-{size}{unit_name}
    {
        min-height: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .min-height-{size}{unit_name}-{media_query_name}
            {
                min-height: size * unit_value;
            }
        }
    }

// ~~

MakeMinHeightRange( start, step, count, unit_value, unit_name, media_query_name_list )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeHeight( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeMaxHeight( size, unit_value, unit_name, media_query_name_list )

    .max-height-{size}{unit_name}
    {
        max-height: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .max-height-{size}{unit_name}-{media_query_name}
            {
                max-height: size * unit_value;
            }
        }
    }

// ~~

MakeMaxHeightRange( start, step, count, unit_value, unit_name, media_query_name_list )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeHeight( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeFractionalHeight( column_count, media_query_name_list )

    for column_index in 1 .. column_count
    {
        .height-{column_index}_{column_count}
        {
            height: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .height-{column_index}_{column_count}-{media_query_name}
                {
                    height: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeFractionalHeightRange( first_column_count, last_column_count, media_query_name_list )

    for column_count in first_column_count .. last_column_count
    {
        MakeFractionalHeight( column_count, media_query_name_list );
    }

// ~~

MakeMinFractionalHeight( column_count, media_query_name_list )

    for column_index in 1 .. column_count
    {
        .min-height-{column_index}_{column_count}
        {
            min-height: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .min-height-{column_index}_{column_count}-{media_query_name}
                {
                    min-height: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeMinFractionalHeightRange( first_column_count, last_column_count, media_query_name_list )

    for column_count in first_column_count .. last_column_count
    {
        MakeMinFractionalHeight( column_count, media_query_name_list );
    }

// ~~

MakeMaxFractionalHeight( column_count, media_query_name_list )

    for column_index in 1 .. column_count
    {
        .max-height-{column_index}_{column_count}
        {
            max-height: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .max-height-{column_index}_{column_count}-{media_query_name}
                {
                    max-height: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeMaxFractionalHeightRange( first_column_count, last_column_count, media_query_name_list )

    for column_count in first_column_count .. last_column_count
    {
        MakeMaxFractionalHeight( column_count, media_query_name_list );
    }
