.margin-auto
{
    margin: auto;
}

// ~~

MakeMarginAuto( media_query_name_list, media_query_map )

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-auto-{media_query_name}
            {
                margin: auto;
            }
        }
    }

// ~~

MakeMargin( size, unit_value, unit_name, media_query_name_list, media_query_map )

    .margin-{size}{unit_name}
    {
        margin: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-{size}{unit_name}-{media_query_name}
            {
                margin: size * unit_value;
            }
        }
    }

// ~~

MakeMarginRange( start, step, count, unit_value, unit_name, media_query_name_list, media_query_map )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeMargin( size, unit_value, unit_name, media_query_name_list, media_query_map );
    }

// ~~

.margin-lateral-auto
{
    margin-left: auto;
    margin-right: auto;
}

// ~~

MakeMarginLateralAuto( media_query_name_list, media_query_map )

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-lateral-auto-{media_query_name}
            {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

// ~~

MakeMarginLateral( size, unit_value, unit_name, media_query_name_list, media_query_map )

    .margin-lateral-{size}{unit_name}
    {
        margin-left: size * unit_value;
        margin-right: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-lateral-{size}{unit_name}-{media_query_name}
            {
                margin-left: size * unit_value;
                margin-right: size * unit_value;
            }
        }
    }

// ~~

MakeMarginLateralRange( start, step, count, unit_value, unit_name, media_query_name_list, media_query_map )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeMarginLateral( size, unit_value, unit_name, media_query_name_list, media_query_map );
    }

// ~~

.margin-vertical-auto
{
    margin-top: auto;
    margin-bottom: auto;
}

// ~~

MakeMarginVerticalAuto( media_query_name_list, media_query_map )

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-vertical-auto-{media_query_name}
            {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

// ~~

MakeMarginVertical( size, unit_value, unit_name, media_query_name_list, media_query_map )

    .margin-vertical-{size}{unit_name}
    {
        margin-top: size * unit_value;
        margin-bottom: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-vertical-{size}{unit_name}-{media_query_name}
            {
                margin-top: size * unit_value;
                margin-bottom: size * unit_value;
            }
        }
    }

// ~~

MakeMarginVerticalRange( start, step, count, unit_value, unit_name, media_query_name_list, media_query_map )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeMarginVertical( size, unit_value, unit_name, media_query_name_list, media_query_map );
    }

// ~~

.margin-left-auto
{
    margin-left: auto;
}

// ~~

MakeMarginLeftAuto( media_query_name_list, media_query_map )

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-left-auto-{media_query_name}
            {
                margin-left: auto;
            }
        }
    }

// ~~

MakeMarginLeft( size, unit_value, unit_name, media_query_name_list, media_query_map )

    .margin-left-{size}{unit_name}
    {
        margin-left: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-left-{size}{unit_name}-{media_query_name}
            {
                margin-left: size * unit_value;
            }
        }
    }

// ~~

MakeMarginLeftRange( start, step, count, unit_value, unit_name, media_query_name_list, media_query_map )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeMarginLeft( size, unit_value, unit_name, media_query_name_list, media_query_map );
    }

// ~~

.margin-right-auto
{
    margin-right: auto;
}

// ~~

MakeMarginRightAuto( media_query_name_list, media_query_map )

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-right-auto-{media_query_name}
            {
                margin-right: auto;
            }
        }
    }

// ~~

MakeMarginRight( size, unit_value, unit_name, media_query_name_list, media_query_map )

    .margin-right-{size}{unit_name}
    {
        margin-right: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-right-{size}{unit_name}-{media_query_name}
            {
                margin-right: size * unit_value;
            }
        }
    }

// ~~

MakeMarginRightRange( start, step, count, unit_value, unit_name, media_query_name_list, media_query_map )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeMarginRight( size, unit_value, unit_name, media_query_name_list, media_query_map );
    }

// ~~

.margin-top-auto
{
    margin-top: auto;
}

// ~~

MakeMarginTopAuto( media_query_name_list, media_query_map )

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-top-auto-{media_query_name}
            {
                margin-top: auto;
            }
        }
    }

// ~~

MakeMarginTop( size, unit_value, unit_name, media_query_name_list, media_query_map )

    .margin-top-{size}{unit_name}
    {
        margin-top: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-top-{size}{unit_name}-{media_query_name}
            {
                margin-top: size * unit_value;
            }
        }
    }

// ~~

MakeMarginTopRange( start, step, count, unit_value, unit_name, media_query_name_list, media_query_map )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeMarginTop( size, unit_value, unit_name, media_query_name_list, media_query_map );
    }

// ~~

.margin-bottom-auto
{
    margin-bottom: auto;
}

// ~~

MakeMarginBottomAuto( media_query_name_list, media_query_map )

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-bottom-auto-{media_query_name}
            {
                margin-bottom: auto;
            }
        }
    }

// ~~

MakeMarginBottom( size, unit_value, unit_name, media_query_name_list, media_query_map )

    .margin-bottom-{size}{unit_name}
    {
        margin-bottom: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .margin-bottom-{size}{unit_name}-{media_query_name}
            {
                margin-bottom: size * unit_value;
            }
        }
    }

// ~~

MakeMarginBottomRange( start, step, count, unit_value, unit_name, media_query_name_list, media_query_map )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeMarginBottom( size, unit_value, unit_name, media_query_name_list, media_query_map );
    }

// ~~

MakeFractionalMarginLeft( column_count, media_query_name_list, media_query_map )

    for column_index in 1 .. column_count

        .margin-left-{column_index}_{column_count}
        {
            margin-left: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media media_query_map[ media_query_name ]
            {
                .margin-left-{column_index}_{column_count}-{media_query_name}
                {
                    margin-left: 100% * ( column_index / column_count );
                }
            }
        }

// ~~

MakeFractionalMarginLeftRange( first_column_count, last_column_count, media_query_name_list, media_query_map )

    for column_count in first_column_count .. last_column_count
    {
        MakeFractionalMarginLeft( column_count, media_query_name_list, media_query_map );
    }

// ~~

MakeFractionalMarginRight( column_count, media_query_name_list, media_query_map )

    for column_index in 1 .. column_count

        .margin-right-{column_index}_{column_count}
        {
            margin-right: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media media_query_map[ media_query_name ]
            {
                .margin-right-{column_index}_{column_count}-{media_query_name}
                {
                    margin-right: 100% * ( column_index / column_count );
                }
            }
        }

// ~~

MakeFractionalMarginRightRange( first_column_count, last_column_count, media_query_name_list, media_query_map )

    for column_count in first_column_count .. last_column_count
    {
        MakeFractionalMarginRight( column_count, media_query_name_list, media_query_map );
    }
