MakeWidths( 0, 5, 20, Pc, "pc" );
MakeHeights( 0, 5, 20, Pc, "pc" );
MakeWidths( 0, 20, 60, Pt, "pt" );
MakeHeights( 0, 20, 60, Pt, "pt" );
MakePaddings( 0, 5, 30, Pt, "pt" );
MakeMargins( 0, 5, 30, Pt, "pt" );
MakeFontSizes( 8, 4, 30, Pt, "pt" );
