.carousel
{
    overflow: hidden;
}

// ~~

MakeCarousel( slide_count, slide_duration = 5s )

    .carousel-strip-{slide_count}
    {
        display: flex;
        position: relative;
        left: 0;
        margin: 0;
        width: ( slide_count + 1 ) * 100%;
        text-align: left;
        animation: slide_count * slide_duration carousel-animation- + slide_count infinite;
        animation-timing-function: ease;
    }

    .carousel-slide-{slide_count}
    {
        width: ( 100% / ( slide_count + 1 ) );
        height: auto;
    }

    vendors = official

    @keyframes carousel-animation-{slide_count}

        0%
        {
            left: 0%;
        }

        // Stylus doesn't support generated key times :(

        if slide_count == 2
        {
            40.000000000000000%    // 100% / 2 * 0.8
            {
                left: 0%;
            }

            50.000000000000000%    // 100% / 2 * 1
            {
                left: -100%;
            }

            90.000000000000000%    // 100% / 2 * 1.8
            {
                left: -100%;
            }
        }

        if slide_count == 3
        {
            26.666666666666667%    // 100% / 3 * 0.8
            {
                left: 0%;
            }

            33.333333333333333%    // 100% / 3 * 1
            {
                left: -100%;
            }

            60.000000000000000%    // 100% / 3 * 1.8
            {
                left: -100%;
            }

            66.666666666666667%    // 100% / 3 * 2
            {
                left: -200%;
            }

            93.333333333333333%    // 100% / 3 * 2.8
            {
                left: -200%;
            }
        }

        if slide_count == 4
        {
            20.000000000000000%    // 100% / 4 * 0.8
            {
                left: 0%;
            }

            25.000000000000000%    // 100% / 4 * 1
            {
                left: -100%;
            }

            45.000000000000000%    // 100% / 4 * 1.8
            {
                left: -100%;
            }

            50.000000000000000%    // 100% / 4 * 2
            {
                left: -200%;
            }

            70.000000000000000%    // 100% / 4 * 2.8
            {
                left: -200%;
            }

            75.000000000000000%    // 100% / 4 * 3
            {
                left: -300%;
            }

            95.000000000000000%    // 100% / 4 * 3.8
            {
                left: -300%;
            }
        }

        if slide_count == 5
        {
            16.000000000000000%    // 100% / 5 * 0.8
            {
                left: 0%;
            }

            20.000000000000000%    // 100% / 5 * 1
            {
                left: -100%;
            }

            36.000000000000000%    // 100% / 5 * 1.8
            {
                left: -100%;
            }

            40.000000000000000%    // 100% / 5 * 2
            {
                left: -200%;
            }

            56.000000000000000%    // 100% / 5 * 2.8
            {
                left: -200%;
            }

            60.000000000000000%    // 100% / 5 * 3
            {
                left: -300%;
            }

            76.000000000000000%    // 100% / 5 * 3.8
            {
                left: -300%;
            }

            80.000000000000000%    // 100% / 5 * 4
            {
                left: -400%;
            }

            96.000000000000000%    // 100% / 5 * 4.8
            {
                left: -400%;
            }
        }

        if slide_count == 6
        {
            13.333333333333333%    // 100% / 6 * 0.8
            {
                left: 0%;
            }

            16.666666666666667%    // 100% / 6 * 1
            {
                left: -100%;
            }

            30.000000000000000%    // 100% / 6 * 1.8
            {
                left: -100%;
            }

            33.333333333333333%    // 100% / 6 * 2
            {
                left: -200%;
            }

            46.666666666666667%    // 100% / 6 * 2.8
            {
                left: -200%;
            }

            50.000000000000000%    // 100% / 6 * 3
            {
                left: -300%;
            }

            63.333333333333333%    // 100% / 6 * 3.8
            {
                left: -300%;
            }

            66.666666666666667%    // 100% / 6 * 4
            {
                left: -400%;
            }

            80.000000000000000%    // 100% / 6 * 4.8
            {
                left: -400%;
            }

            83.333333333333333%    // 100% / 6 * 5
            {
                left: -500%;
            }

            96.666666666666667%    // 100% / 6 * 5.8
            {
                left: -500%;
            }
        }

        100%
        {
            left: -100% * slide_count;
        }
