.display-none
{
    display: none;
}

.display-block
{
    display: block;
}

.display-inline-block
{
    display: inline-block;
}

.display-flex
{
    display: flex;
}

// ~~

MakeDisplay( media_query_map )

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .display-none-{media_query_name}
            {
                display: none;
            }

            .display-block-{media_query_name}
            {
                display: block;
            }

            .display-inline-block-{media_query_name}
            {
                display: inline-block;
            }

            .display-flex-{media_query_name}
            {
                display: flex;
            }
        }
    }
