.order-first
{
    order: -1;
}

.order-last
{
    order: 1;
}

// ~~

MakeOrder( media_query_name_list, media_query_map )

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .order-first-{media_query_name}
            {
                order: -1;
            }

            .order-last-{media_query_name}
            {
                order: 1;
            }
        }
    }

