.width-auto
{
    width: auto;
}

// ~~

MakeWidthAuto( media_query_map )

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .width-auto-{media_query_name}
            {
                width: auto;
            }
        }
    }

// ~~

MakeWidth( size, unit_value, unit_name, media_query_name_list, media_query_map )

    .width-{size}{unit_name}
    {
        width: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .width-{size}{unit_name}-{media_query_name}
            {
                width: size * unit_value;
            }
        }
    }

// ~~

MakeWidthRange( start, step, count, unit_value, unit_name, media_query_name_list, media_query_map )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeWidth( size, unit_value, unit_name, media_query_name_list, media_query_map );
    }

// ~~

MakeMinWidth( size, unit_value, unit_name, media_query_name_list, media_query_map )

    .min-width-{size}{unit_name}
    {
        min-width: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .min-width-{size}{unit_name}-{media_query_name}
            {
                min-width: size * unit_value;
            }
        }
    }

// ~~

MakeMinWidthRange( start, step, count, unit_value, unit_name, media_query_name_list, media_query_map )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeMinWidth( size, unit_value, unit_name, media_query_name_list, media_query_map );
    }

// ~~

MakeMaxWidth( size, unit_value, unit_name, media_query_name_list, media_query_map )

    .max-width-{size}{unit_name}
    {
        max-width: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .max-width-{size}{unit_name}-{media_query_name}
            {
                max-width: size * unit_value;
            }
        }
    }

// ~~

MakeMaxWidthRange( start, step, count, unit_value, unit_name, media_query_name_list, media_query_map )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeMaxWidth( size, unit_value, unit_name, media_query_name_list, media_query_map );
    }

// ~~

MakeFractionalWidth( column_count, media_query_name_list, media_query_map )

    for column_index in 1 .. column_count
    {
        .width-{column_index}_{column_count}
        {
            width: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media media_query_map[ media_query_name ]
            {
                .width-{column_index}_{column_count}-{media_query_name}
                {
                    width: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeFractionalWidthRange( first_column_count, last_column_count, media_query_name_list, media_query_map )

    for column_count in first_column_count .. last_column_count
    {
        MakeFractionalWidth( column_count, media_query_name_list, media_query_map );
    }

// ~~

MakeMinFractionalWidth( column_count, media_query_name_list, media_query_map )

    for column_index in 1 .. column_count
    {
        .min-width-{column_index}_{column_count}
        {
            min-width: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media media_query_map[ media_query_name ]
            {
                .min-width-{column_index}_{column_count}-{media_query_name}
                {
                    min-width: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeMinFractionalWidthRange( first_column_count, last_column_count, media_query_name_list, media_query_map )

    for column_count in first_column_count .. last_column_count
    {
        MakeMinFractionalWidth( column_count, media_query_name_list, media_query_map );
    }

// ~~

MakeMaxFractionalWidth( column_count, media_query_name_list, media_query_map )

    for column_index in 1 .. column_count
    {
        .max-width-{column_index}_{column_count}
        {
            max-width: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media media_query_map[ media_query_name ]
            {
                .max-width-{column_index}_{column_count}-{media_query_name}
                {
                    max-width: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeMaxFractionalWidthRange( first_column_count, last_column_count, media_query_name_list, media_query_map )

    for column_count in first_column_count .. last_column_count
    {
        MakeMaxFractionalWidth( column_count, media_query_name_list, media_query_map );
    }
