.display-none
{
    display: none;
}

.display-block
{
    display: block;
}

.display-inline-block
{
    display: inline-block;
}

.display-flex
{
    display: flex;
}

.display-grid
{
    display: -ms-grid;
    display: grid;
}

.display-inline-grid
{
    display: -ms-inline-grid;
    display: inline-grid;
}

// ~~

MakeDisplay( media_query_name_list )

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .display-none-{media_query_name}
            {
                display: none;
            }

            .display-block-{media_query_name}
            {
                display: block;
            }

            .display-inline-block-{media_query_name}
            {
                display: inline-block;
            }

            .display-flex-{media_query_name}
            {
                display: flex;
            }

            .display-grid-{media_query_name}
            {
                display: grid;
            }
        }
    }
