MakeFontSize( size, unit_value, unit_name, media_query_name_list, media_query_map )

    .font-size-{size}{unit_name}
    {
        font-size: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media media_query_map[ media_query_name ]
        {
            .font-size-{size}{unit_name}-{media_query_name}
            {
                font-size: size * unit_value;
            }
        }
    }

MakeFontSizeRange( start, step, count, unit_value, unit_name, media_query_name_list, media_query_map )

    for index in 0 .. count
    {
        size = start + index * step;

        MakeFontSize( size, unit_value, unit_name, media_query_name_list, media_query_map );
    }
