.border-debug,
.border-debug *
{
    border: 0.1rem solid rgb( 255, 0, 0, 0.5 );
}

// ~~

MakeBorderRadius( size, unit_value, unit_name, media_query_name_list )

    .border-radius-{size}{unit_name}
    {
        border-radius: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .border-radius-{size}{unit_name}-{media_query_name}
            {
                border-radius: size * unit_value;
            }
        }
    }

// ~~

MakeBorderRadiusRange( start, step, count, unit_value, unit_name, media_query_name_list )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeBorderRadius( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeBorderColor( name, value, media_query_name_list )

    .border-color-{name}
    {
        border-color: value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .border-color-{name}-{media_query_name}
            {
                border-color: value;
            }
        }
    }
