MakePadding( size, unit_value, unit_name, media_query_name_list = {} )

    .padding-{size}{unit_name}
    {
        padding: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-{size}{unit_name}-{media_query_name}
            {
                padding: size * unit_value;
            }
        }
    }

// ~~

MakePaddingRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePadding( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakePaddingLateral( size, unit_value, unit_name, media_query_name_list = {} )

    .padding-lateral-{size}{unit_name}
    {
        padding-left: size * unit_value;
        padding-right: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-lateral-{size}{unit_name}-{media_query_name}
            {
                padding-left: size * unit_value;
                padding-right: size * unit_value;
            }
        }
    }

// ~~

MakePaddingLateralRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePaddingLateral( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakePaddingVertical( size, unit_value, unit_name, media_query_name_list = {} )

    .padding-vertical-{size}{unit_name}
    {
        padding-top: size * unit_value;
        padding-bottom: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-vertical-{size}{unit_name}-{media_query_name}
            {
                padding-top: size * unit_value;
                padding-bottom: size * unit_value;
            }
        }
    }

// ~~

MakePaddingVerticalRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePaddingVertical( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakePaddingLeft( size, unit_value, unit_name, media_query_name_list = {} )

    .padding-left-{size}{unit_name}
    {
        padding-left: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-left-{size}{unit_name}-{media_query_name}
            {
                padding-left: size * unit_value;
            }
        }
    }

// ~~

MakePaddingLeftRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePaddingLeft( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakePaddingRight( size, unit_value, unit_name, media_query_name_list = {} )

    .padding-right-{size}{unit_name}
    {
        padding-right: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-right-{size}{unit_name}-{media_query_name}
            {
                padding-right: size * unit_value;
            }
        }
    }

// ~~

MakePaddingRightRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePaddingRight( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakePaddingTop( size, unit_value, unit_name, media_query_name_list = {} )

    .padding-top-{size}{unit_name}
    {
        padding-top: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-top-{size}{unit_name}-{media_query_name}
            {
                padding-top: size * unit_value;
            }
        }
    }

// ~~

MakePaddingTopRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePaddingTop( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakePaddingBottom( size, unit_value, unit_name, media_query_name_list = {} )

    .padding-bottom-{size}{unit_name}
    {
        padding-bottom: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-bottom-{size}{unit_name}-{media_query_name}
            {
                padding-bottom: size * unit_value;
            }
        }
    }

// ~~

MakePaddingBottomRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePaddingBottom( size, unit_value, unit_name, media_query_name_list );
    }
