.carousel
{
    overflow: hidden;
}

// ~~

MakeCarousel( slide_count, pause_duration = 4s, translation_duration = 1s )

    slide_duration = pause_duration + translation_duration

    .carousel-strip-{slide_count}
    {
        display: flex;
        position: relative;
        left: 0;
        margin: 0;
        width: slide_count * 100%;
    }

    .carousel-slide-{slide_count}
    {
        width: ( 100% / slide_count );
    }

    vendors = official

    @keyframes carousel-strip-looping-animation-{slide_count}

        for slide_index in 0 .. slide_count - 2

            show_time = slide_index / ( slide_count - 1 )
            move_time = ( slide_index + ( 1.0 - translation_duration / slide_duration ) ) / ( slide_count - 1 )

            {100% * show_time}

                left: -100% * slide_index;

            {100% * move_time}

                left: -100% * slide_index;

        100%
        {
            left: -100% * ( slide_count - 1 );
        }

    .carousel-strip-looping-animation-{slide_count}
    {
        animation: ( slide_count - 1 ) * slide_duration carousel-strip-looping-animation- + slide_count infinite;
        animation-timing-function: ease;
    }
