@require "../../CODE/STYLUS/vista_reset.styl"
@require "../../CODE/STYLUS/vista.styl"

// ~~

MakeDisplayFlex();
MakeContainerExtended();
MakeContainerCenteredValue( 960 * Pxm );
MakeFlexDirectionRow();
MakeFlexDirectionColumn();
MakeJustifyContentBetween();
MakeJustifyContentCenter();
MakeAlignItemsCenter();
MakeWidthValue( 400, Pxm, "pxm" );
MakeWidthValue( 800, Pxm, "pxm" );
MakeHeightValue( 40, Pxm, "pxm" );
MakeHeightValue( 200, Pxm, "pxm" );
MakeHeightValue( 400, Pxm, "pxm" );
MakeBackgroundColorValue( "dark-gray", #444444 );
MakeBackgroundColorValue( "light-gray", #EEEEEE );
MakeBackgroundColorValue( "gray", #888888 );
MakeBackgroundColorValue( "light-cyan", #88F8F8 );
MakeBackgroundColorValue( "light-magenta", #F888F8 );
MakeBackgroundColorValue( "light-yellow", #F8F888 );
MakeBackgroundColorValue( "white", #FFFFFF );
MakeTextColorValue( "black", #000000 );
MakeTextColorValue( "white", #FFFFFF );

// ~~

html
{
    background: #FFFFFF;
}

a
{
    text-decoration: none;
    color: inherit;
}
