@require "../../vista.styl"

// ~~

Pt = 0.0625rem;

// ~~

MakeContainerCentered( 960 * Pt, {}, {}, 0 );
MakeRootFontSize( 16px, {}, {}, 0 );
MakeWidth( 400, Pt, "pt", {}, 0 );
MakeWidth( 800, Pt, "pt", {}, 0 );
MakeHeight( 40, Pt, "pt", {}, 0 );
MakeHeight( 200, Pt, "pt", {}, 0 );
MakeHeight( 400, Pt, "pt", {}, 0 );
MakeBackgroundColor( "dark-gray", #444444, {}, 0 );
MakeBackgroundColor( "light-gray", #EEEEEE, {}, 0 );
MakeBackgroundColor( "gray", #888888, {}, 0 );
MakeBackgroundColor( "light-cyan", #88F8F8, {}, 0 );
MakeBackgroundColor( "light-magenta", #F888F8, {}, 0 );
MakeBackgroundColor( "light-yellow", #F8F888, {}, 0 );
MakeBackgroundColor( "white", #FFFFFF, {}, 0 );
MakeTextColor( "black", #000000, {}, 0 );
MakeTextColor( "white", #FFFFFF, {}, 0 );

// ~~

html
{
    background: #FFFFFF;
}

a
{
    color: inherit;
    text-decoration: none;
}
