@require "../../CODE/STYLUS/vista.styl"

// ~~

MakeContainerCentered( 960 * Pxm );
MakeWidth( 400, Pxm, "pxm" );
MakeWidth( 800, Pxm, "pxm" );
MakeHeight( 40, Pxm, "pxm" );
MakeHeight( 200, Pxm, "pxm" );
MakeHeight( 400, Pxm, "pxm" );
MakeBackgroundColor( "dark-gray", #444444 );
MakeBackgroundColor( "light-gray", #EEEEEE );
MakeBackgroundColor( "gray", #888888 );
MakeBackgroundColor( "light-cyan", #88F8F8 );
MakeBackgroundColor( "light-magenta", #F888F8 );
MakeBackgroundColor( "light-yellow", #F8F888 );
MakeBackgroundColor( "white", #FFFFFF );
MakeTextColor( "black", #000000 );
MakeTextColor( "white", #FFFFFF );

// ~~

html
{
    background: #FFFFFF;
}

a
{
    color: inherit;
    text-decoration: none;
}
