// -- IMPORTS

@require "../../CODE/STYLUS/vista_reset.styl"
@require "../../CODE/STYLUS/vista.styl"

// -- ELEMENTS

html
{
    background: #FFFFFF;
}

// -- CLASSES

MakeSlideshowSlidePerpetualAnimation( 6, 3000, 500, "test-" );

// ~~

.test-slideshow
{
    position: relative;

    height: 100vh;
    width: 100%;
}

.test-slideshow-slide
{
    position: absolute;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center center;
    background-size: cover;
}

.test-slideshow-slide-background-1
{
    background-image: url( "slide_1.jpg" );
}

.test-slideshow-slide-background-2
{
    background-image: url( "slide_2.jpg" );
}

.test-slideshow-slide-background-3
{
    background-image: url( "slide_3.jpg" );
}

.test-slideshow-slide-background-4
{
    background-image: url( "slide_4.jpg" );
}

.test-slideshow-slide-background-5
{
    background-image: url( "slide_5.jpg" );
}

.test-slideshow-slide-background-6
{
    background-image: url( "slide_6.jpg" );
}

.test-slideshow-arrow
{
    font-size: 4rem;
    color: white;

    cursor: pointer;
}

.test-slideshow-left-arrow
{
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translateY( -50% );
}

.test-slideshow-right-arrow
{
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY( -50% );
}
