// -- IMPORTS

@require "../../CODE/STYLUS/vista_reset.styl"
@require "../../CODE/STYLUS/vista.styl"

// -- ELEMENTS

html
{
    background: #FFFFFF;
}

// -- CLASSES

MakeSlideshowSlidePerpetualAnimation( 6, 3000, 500, "test-" );

// ~~

.test-slideshow
{
    position: relative;

    height: 100vh;
    width: 100%;
}

.test-slideshow-slide
{
    position: absolute;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center center;
    background-size: cover;

    color: white;
}

.test-slideshow-slide-background-1
{
    background-image: url( "../MEDIA/slide_1.jpg" );
}

.test-slideshow-slide-background-2
{
    background-image: url( "../MEDIA/slide_2.jpg" );
}

.test-slideshow-slide-background-3
{
    background-image: url( "../MEDIA/slide_3.jpg" );
}

.test-slideshow-slide-background-4
{
    background-image: url( "../MEDIA/slide_4.jpg" );
}

.test-slideshow-slide-background-5
{
    background-image: url( "../MEDIA/slide_5.jpg" );
}

.test-slideshow-slide-background-6
{
    background-image: url( "../MEDIA/slide_6.jpg" );
}

.test-slideshow-slide-menu
{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX( -50% );

    margin-left: auto;
    margin-right: auto;

    display: flex;
}

.test-slideshow-slide-button
{
    height: 0.5rem;
    width: 0.5rem;
    border: 2px solid white;
    border-radius: 50%;
}

.test-slideshow-slide-button:hover,
.test-slideshow-slide-button.is-selected
{
    background: white;
}

.test-slideshow-slide-button + .test-slideshow-slide-button
{
    margin-left: 2rem;
}

.test-slideshow-arrow
{
    font-size: 4rem;
    color: white;

    cursor: pointer;
}

.test-slideshow-left-arrow
{
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translateY( -50% );
}

.test-slideshow-right-arrow
{
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY( -50% );
}
