@require "../../CODE/STYLUS/vista_reset.styl"
@require "../../CODE/STYLUS/vista.styl"

// ~~

MakeParallaxBackground();

// ~~

.background-1
{
    background-image : url(10.jpg);
}

.background-2
{
    background-image : url(11.jpg);
}

.background-3
{
    background-image : url(12.jpg);
}
