@require "../../CODE/STYLUS/vista_reset.styl"
@require "../../CODE/STYLUS/vista.styl"

// ~~

MakeParallaxBackground();

// ~~

.background-1
{
    background-image : url(background_1.jpg);
}

.background-2
{
    background-image : url(background_2.jpg);
}

.background-3
{
    background-image : url(background_3.jpg);
}
