// -- MIXINS

MakeListStyleTypeNone( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}list-style-type-none{suffix}
    {
        list-style-type: none important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}list-style-type-none-{media_query_name}{suffix}
            {
                list-style-type: none important;
            }
        }
    }

// ~~

MakeListStyleTypeDisc( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}list-style-type-disc{suffix}
    {
        list-style-type: disc important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}list-style-type-disc-{media_query_name}{suffix}
            {
                list-style-type: disc important;
            }
        }
    }

// ~~

MakeListStyleTypeCircle( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}list-style-type-circle{suffix}
    {
        list-style-type: circle important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}list-style-type-circle-{media_query_name}{suffix}
            {
                list-style-type: circle important;
            }
        }
    }

// ~~

MakeListStyleTypeSquare( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}list-style-type-square{suffix}
    {
        list-style-type: square important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}list-style-type-square-{media_query_name}{suffix}
            {
                list-style-type: square important;
            }
        }
    }

// ~~

MakeListStyleTypeDecimal( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}list-style-type-decimal{suffix}
    {
        list-style-type: decimal important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}list-style-type-decimal-{media_query_name}{suffix}
            {
                list-style-type: decimal important;
            }
        }
    }

// ~~

MakeListStylePositionInside( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}list-style-position-inside{suffix}
    {
        list-style-position: inside important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}list-style-position-inside-{media_query_name}{suffix}
            {
                list-style-position: inside important;
            }
        }
    }

// ~~

MakeListStylePositionOutside( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}list-style-position-outside{suffix}
    {
        list-style-position: outside important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}list-style-position-outside-{media_query_name}{suffix}
            {
                list-style-position: outside important;
            }
        }
    }
