MakeOverflowVisible( media_query_name_list = {}, suffix = )

    .overflow-visible{suffix}
    {
        overflow: visible;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .overflow-visible-{media_query_name}{suffix}
            {
                overflow: visible;
            }
        }
    }

// ~~

MakeOverflowHidden( media_query_name_list = {}, suffix = )

    .overflow-hidden{suffix}
    {
        overflow: hidden;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .overflow-hidden-{media_query_name}{suffix}
            {
                overflow: hidden;
            }
        }
    }

// ~~

MakeOverflowAuto( media_query_name_list = {}, suffix = )

    .overflow-auto{suffix}
    {
        overflow: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .overflow-auto-{media_query_name}{suffix}
            {
                overflow: auto;
            }
        }
    }

// ~~

MakeOverflowYVisible( media_query_name_list = {}, suffix = )

    .overflow-y-visible{suffix}
    {
        overflow-y: visible;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .overflow-y-visible-{media_query_name}{suffix}
            {
                overflow-y: visible;
            }
        }
    }

// ~~

MakeOverflowYHidden( media_query_name_list = {}, suffix = )

    .overflow-y-hidden{suffix}
    {
        overflow-y: hidden;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .overflow-y-hidden-{media_query_name}{suffix}
            {
                overflow-y: hidden;
            }
        }
    }

// ~~

MakeOverflowYAuto( media_query_name_list = {}, suffix = )

    .overflow-y-auto{suffix}
    {
        overflow-y: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .overflow-y-auto-{media_query_name}{suffix}
            {
                overflow-y: auto;
            }
        }
    }

// ~~

MakeOverflowXVisible( media_query_name_list = {}, suffix = )

    .overflow-x-visible{suffix}
    {
        overflow-x: visible;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .overflow-x-visible-{media_query_name}{suffix}
            {
                overflow-x: visible;
            }
        }
    }

// ~~

MakeOverflowXHidden( media_query_name_list = {}, suffix = )

    .overflow-x-hidden{suffix}
    {
        overflow-x: hidden;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .overflow-x-hidden-{media_query_name}{suffix}
            {
                overflow-x: hidden;
            }
        }
    }

// ~~

MakeOverflowXAuto( media_query_name_list = {}, suffix = )

    .overflow-x-auto{suffix}
    {
        overflow-x: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .overflow-x-auto-{media_query_name}{suffix}
            {
                overflow-x: auto;
            }
        }
    }

// ~~

MakeOverflowScrollbarHidden( media_query_name_list = {}, suffix = )

    .overflow-scrollbar-hidden{suffix}
    {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .overflow-scrollbar-hidden{suffix}::-webkit-scrollbar
    {
        display: none;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .overflow-scrollbar-hidden-{media_query_name}{suffix}
            {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }

            .overflow-scrollbar-hidden-{media_query_name}{suffix}::-webkit-scrollbar
            {
                display: none;
            }
        }
    }

// ~~

MakeOverflowTiny( media_query_name_list = {}, suffix = )

    .overflow-tiny{suffix}
    {
        height: 0;
        width: 0;
        overflow: hidden;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .overflow-tiny-{media_query_name}{suffix}
            {
                height: 0;
                width: 0;
                overflow: hidden;
            }
        }
    }
