MakeFontSizeValue( size, unit_value, unit_name, media_query_name_list = {}, prefix =, suffix = )

    .{prefix}font-size-{size}{unit_name}{suffix}
    {
        font-size: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}font-size-{size}{unit_name}-{media_query_name}{suffix}
            {
                font-size: size * unit_value;
            }
        }
    }

// ~~

MakeFontSizeValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, prefix =, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeFontSizeValue( size, unit_value, unit_name, media_query_name_list, prefix, suffix );
    }

// ~~

MakeFontWeightValue( weight, media_query_name_list = {}, prefix =, suffix = )

    .{prefix}font-weight-{weight}{suffix}
    {
        font-weight: weight;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}font-weight-{weight}-{media_query_name}{suffix}
            {
                font-weight: weight;
            }
        }
    }

// ~~

MakeFontWeightValueRange( start, step, count, media_query_name_list = {}, prefix =, suffix = )

    for index in 0 .. count - 1
    {
        weight = start + index * step;

        MakeFontWeightValue( weight, media_query_name_list, prefix, suffix );
    }
