// -- MIXINS

MakeCarousel( prefix =, suffix =, important = )

    .{prefix}carousel{suffix}
    {
        position: relative important;

        overflow-x: hidden important;
    }

// ~~

MakeCarouselStrip( slide_count = 1, visible_slide_count = 1, prefix =, infix =, suffix =, important = )

    .{prefix}carousel{infix}-strip{suffix}
    {
        position: relative important;
        left: 0 important;

        margin: 0 important;
        width: ( slide_count / visible_slide_count ) * 100% important;

        display: flex important;
    }

// ~~

MakeCarouselStripPerpetualAnimation( slide_count, visible_slide_count = 1, pause_duration = 3000, translation_duration = 500, prefix =, infix =, suffix =, important = )

    slide_duration = pause_duration + translation_duration

    vendors = official

    @keyframes {prefix}carousel{infix}-strip-perpetual-animation{suffix}

        for slide_index in 0 .. slide_count - 1 - visible_slide_count

            show_time = slide_index / ( slide_count - visible_slide_count )
            move_time = ( slide_index + ( 1.0 - translation_duration / slide_duration ) ) / ( slide_count - visible_slide_count )

            {100% * show_time}

                left: -100% * slide_index * ( 1.0 / visible_slide_count ) important;

            {100% * move_time}

                left: -100% * slide_index * ( 1.0 / visible_slide_count ) important;

        100%
        {
            left: -100% * ( slide_count - visible_slide_count ) * ( 1.0 / visible_slide_count ) important;
        }

    .{prefix}carousel{infix}-strip-perpetual-animation{suffix}
    {
        animation: unquote( prefix + "carousel" + infix + "-strip-perpetual-animation" + suffix ) ( slide_count - visible_slide_count ) * slide_duration * 0.001s infinite ease important;
    }

// ~~

MakeCarouselSlide( slide_count, prefix =, infix =, suffix =, important = )

    .{prefix}carousel{infix}-slide{suffix}
    {
        width: ( 100% / slide_count ) important;
    }
