MakeAlignItemsStart( media_query_name_list = {} )

    .align-items-start
    {
        align-items: flex-start;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .align-items-start-{media_query_name}
            {
                align-items: flex-start;
            }
        }
    }

// ~~

MakeAlignItemsCenter( media_query_name_list = {} )

    .align-items-center
    {
        align-items: center;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .align-items-center-{media_query_name}
            {
                align-items: center;
            }
        }
    }

// ~~

MakeAlignItemsEnd( media_query_name_list = {} )

    .align-items-end
    {
        align-items: flex-end;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .align-items-end-{media_query_name}
            {
                align-items: flex-end;
            }
        }
    }

// ~~

MakeAlignItemsStretch( media_query_name_list = {} )

    .align-items-stretch
    {
        align-items: stretch;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .align-items-stretch-{media_query_name}
            {
                align-items: stretch;
            }
        }
    }

// ~~

MakeAlignItemsBaseline( media_query_name_list = {} )

    .align-items-baseline
    {
        align-items: baseline;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .align-items-baseline-{media_query_name}
            {
                align-items: baseline;
            }
        }
    }

// ~~

MakeAlignSelfStart( media_query_name_list = {} )

    .align-self-start
    {
        align-self: flex-start;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .align-self-start-{media_query_name}
            {
                align-self: flex-start;
            }
        }
    }

// ~~

MakeAlignSelfCenter( media_query_name_list = {} )

    .align-self-center
    {
        align-self: center;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .align-self-center-{media_query_name}
            {
                align-self: center;
            }
        }
    }

// ~~

MakeAlignSelfEnd( media_query_name_list = {} )

    .align-self-end
    {
        align-self: flex-end;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .align-self-end-{media_query_name}
            {
                align-self: flex-end;
            }
        }
    }

// ~~

MakeAlignSelfStretch( media_query_name_list = {} )

    .align-self-stretch
    {
        align-self: stretch;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {

            .align-self-stretch-{media_query_name}
            {
                align-self: stretch;
            }
        }
    }

// ~~

MakeAlignSelfBaseline( media_query_name_list = {} )

    .align-self-baseline
    {
        align-self: baseline;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .align-self-baseline-{media_query_name}
            {
                align-self: baseline;
            }
        }
    }

