MakeWidthAuto( media_query_name_list = {} )

    .width-auto
    {
        width: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .width-auto-{media_query_name}
            {
                width: auto;
            }
        }
    }

// ~~

MakeWidthAll( media_query_name_list = {} )

    .width-all
    {
        width: 100%;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .width-all-{media_query_name}
            {
                width: 100%;
            }
        }
    }

// ~~

MakeWidthValue( size, unit_value, unit_name, media_query_name_list = {} )

    .width-{size}{unit_name}
    {
        width: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .width-{size}{unit_name}-{media_query_name}
            {
                width: size * unit_value;
            }
        }
    }

// ~~

MakeWidthValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeWidthValue( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeMinWidthValue( size, unit_value, unit_name, media_query_name_list = {} )

    .min-width-{size}{unit_name}
    {
        min-width: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .min-width-{size}{unit_name}-{media_query_name}
            {
                min-width: size * unit_value;
            }
        }
    }

// ~~

MakeMinWidthValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMinWidthValue( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeMaxWidthValue( size, unit_value, unit_name, media_query_name_list = {} )

    .max-width-{size}{unit_name}
    {
        max-width: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .max-width-{size}{unit_name}-{media_query_name}
            {
                max-width: size * unit_value;
            }
        }
    }

// ~~

MakeMaxWidthValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMaxWidthValue( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeFractionalWidthValueRange( column_count, media_query_name_list = {} )

    for column_index in 1 .. column_count
    {
        .width-{column_index}_{column_count}
        {
            width: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .width-{column_index}_{column_count}-{media_query_name}
                {
                    width: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeMinFractionalWidthValueRange( column_count, media_query_name_list = {} )

    for column_index in 1 .. column_count
    {
        .min-width-{column_index}_{column_count}
        {
            min-width: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .min-width-{column_index}_{column_count}-{media_query_name}
                {
                    min-width: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeMaxFractionalWidthValueRange( column_count, media_query_name_list = {} )

    for column_index in 1 .. column_count
    {
        .max-width-{column_index}_{column_count}
        {
            max-width: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .max-width-{column_index}_{column_count}-{media_query_name}
                {
                    max-width: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeGridWidthValueRange( column_count, total_size, gutter_size, unit_name, media_query_name_list = {} )

    column_size = ( total_size - ( column_count - 1 ) * gutter_size ) / column_count;

    for column_index in 1 .. column_count
    {
        .grid-width-{column_index}{unit_name}
        {
            width: column_size * column_index + gutter_size * ( column_index - 1 );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .grid-width-{column_index}{unit_name}-{media_query_name}
                {
                    width: column_size * column_index + gutter_size * ( column_index - 1 );
                }
            }
        }
    }
