@keyframes is-uploaded-animation
{
    0%
    {
        background-position: 0 calc(100% + 15px);
    }
    100%
    {
        background-position: 0 0;
    }
}

.is-uploaded-image
{
    height: 100%;
    width: 100%;
    background: linear-gradient( 0deg, blue 50%, transparent 50% );
    background-repeat: repeat-y;
    background-size: 100% 15px;
    background-position: 0 calc( 100% + 15px );
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    animation: is-uploaded-animation 8s infinite linear;
}

.form-component .form-translation + .form-translation,
{
    margin-top: 0.25rem;
}

.form-component .form-input,
.form-component .form-select
{
    min-height: 2rem;
    width: 100%;
    border: 1 * Pxm solid BorderColor;
    border-radius: 0.25rem;
    padding: 0.25rem;

    display: block;

    background-color: WhiteColor;
}

.form-component .form-textarea
{
    overflow: hidden;
    height: 2.25rem;
    min-height: 2.25rem;
    width: 100%;
    border: 1 * Pxm solid BorderColor;
    border-radius: 0.25rem;
    padding: 0.25rem;

    display: block;
}

.form-component .form-input:not([hidden]) + .form-input:not([hidden]),
.form-component .form-textarea:not([hidden]) + .form-textarea:not([hidden])
{
    margin-top: 0.5rem;
}

.form-component .form-translation
{
    display: grid;
    grid-template-columns: 1fr 5rem 3rem;
    align-items: start;
    column-gap: 0.5rem;
}

.form-component .form-translation.is-readonly
{
    grid-template-columns: 1fr 5rem;
}

.form-component .form-path.form-translation-data
{
    border: none !important;
    padding: 0 !important;
}

.form-component .form-translation-specifier
{
    margin-top: 0 !important;
}

.form-component .form-translation-add-button
{
    background: url( "/static/image/admin/add_icon.svg" ) no-repeat center center / contain;
}

.form-component .form-translation-remove-button
{
    background: url( "/static/image/admin/remove_icon.svg" ) no-repeat center center / contain;
}

.form-component .form-upload-container
{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto 1fr;
    grid-template-areas : \
        "input input input input" \
        "preview upload-button delete-button .";
    row-gap: 0.5rem;
    align-items: center;
    column-gap: 0.5rem;
}

.form-component .form-upload-container.is-readonly
{
    column-gap: 0;
}

.form-component .form-upload-input
{
    grid-area: input;
}

.form-component .form-upload-image,
.form-component .form-upload-video
{
    height: 12.5rem;
    //width: 100%;
    max-width: 50vw;
    border-radius: 0.25rem;

    grid-area: preview;
    object-fit: cover;
}

.form-component .form-upload-button
{
    grid-area: upload-button;

    background: url( "/static/image/admin/upload_icon.svg" ) no-repeat center center / contain;
}

.form-component .form-upload-file
{
    overflow: hidden;
    height: 0;
    width: 0;
}

.form-component .form-delete-button
{
    grid-area: delete-button;

    background: url( "/static/image/admin/delete_icon.svg" ) no-repeat center center / contain;
}

.form-component .form-upload-button + .form-delete-button
{
    margin-left: 0;
}

.form-component .form-multilingual-container
{
    display: flex;
    flex-direction: column;
}

.form-component .form-list-container
{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.form-component .form-list-container.is-readonly
{
    column-gap: 0;
}

.form-component .form-value-container
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto auto auto;
    grid-template-areas: \
        "list-value drag-button add-button remove-button";
    column-gap: 0.5rem;
}

.form-component .form-list-container.is-readonly .form-value-container
{
    column-gap: 0;
}

.form-component .form-value
{
    grid-area: list-value;
}

.form-component .form-button
{
    height: 1.2rem;
    width: 1.2rem;
    border: none;

    display: inline-block;

    cursor: pointer;
}

.form-component .form-button + .form-button
{
    margin-left: 0.25rem;
}

.form-component .form-drag-button
{
    grid-area: drag-button;

    background: url( "/static/image/admin/drag_icon.svg" ) no-repeat center center / contain;
}

.form-component .form-add-button
{
    grid-area: add-button;

    background: url( "/static/image/admin/add_icon.svg" ) no-repeat center center / contain;
}

.form-component .form-remove-button
{
    grid-area: remove-button;

    background: url( "/static/image/admin/remove_icon.svg" ) no-repeat center center / contain;
}

.form-component .form-add-button + .form-remove-button
{
    margin-left: 0;
}
