// -- MIXINS

MakeScrollSnapTypeMandatory( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}scroll-snap-type-mandatory{suffix}
    {
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat( 100vh );
        scroll-snap-type: y mandatory;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}scroll-snap-type-mandatory-{media_query_name}{suffix}
            {
                scroll-snap-type: y mandatory;
                scroll-snap-type: mandatory;
            }
        }
    }

// ~~

MakeScrollSnapAlignNone( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}scroll-snap-align-none{suffix}
    {
        scroll-snap-align: none;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}scroll-snap-align-none-{media_query_name}{suffix}
            {
                scroll-snap-align: none;
            }
        }
    }


// ~~

MakeScrollSnapAlignStart( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}scroll-snap-align-start{suffix}
    {
        scroll-snap-align: start;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}scroll-snap-align-start-{media_query_name}{suffix}
            {
                scroll-snap-align: start;
            }
        }
    }


// ~~

MakeScrollSnapAlignCenter( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}scroll-snap-align-center{suffix}
    {
        scroll-snap-align: center;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}scroll-snap-align-center-{media_query_name}{suffix}
            {
                scroll-snap-align: center;
            }
        }
    }


// ~~

MakeScrollSnapAlignEnd( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}scroll-snap-align-end{suffix}
    {
        scroll-snap-align: end;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}scroll-snap-align-end-{media_query_name}{suffix}
            {
                scroll-snap-align: end;
            }
        }
    }
