// -- MIXINS

MakeBackgroundOriginBorderBox( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-origin-border-box{suffix}
    {
        background-origin: border-box important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-origin-border-box-{media_query_name}{suffix}
            {
                background-origin: border-box important;
            }
        }
    }

// ~~

MakeBackgroundOriginPaddingBox( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-origin-padding-box{suffix}
    {
        background-origin: padding-box important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-origin-padding-box-{media_query_name}{suffix}
            {
                background-origin: padding-box important;
            }
        }
    }

// ~~

MakeBackgroundOriginContentBox( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-origin-content-box{suffix}
    {
        background-origin: content-box important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-origin-content-box-{media_query_name}{suffix}
            {
                background-origin: content-box important;
            }
        }
    }

// ~~

MakeBackgroundClipBorderBox( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-origin-border-box{suffix}
    {
        background-origin: border-box important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-origin-border-box-{media_query_name}{suffix}
            {
                background-origin: border-box important;
            }
        }
    }

// ~~

MakeBackgroundClipPaddingBox( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-origin-padding-box{suffix}
    {
        background-origin: padding-box important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-origin-padding-box-{media_query_name}{suffix}
            {
                background-origin: padding-box important;
            }
        }
    }

// ~~

MakeBackgroundClipContentBox( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-origin-content-box{suffix}
    {
        background-origin: content-box important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-origin-content-box-{media_query_name}{suffix}
            {
                background-origin: content-box important;
            }
        }
    }

// ~~

MakeBackgroundClipText( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-origin-content-text{suffix}
    {
        background-origin: content-text important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-origin-content-text-{media_query_name}{suffix}
            {
                background-origin: content-text important;
            }
        }
    }

// ~~

MakeBackgroundAttachmentLocal( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-attachment-local{suffix}
    {
        background-attachment: local important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-attachment-local-{media_query_name}{suffix}
            {
                background-attachment: local important;
            }
        }
    }

// ~~

MakeBackgroundAttachmentScroll( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-attachment-scroll{suffix}
    {
        background-attachment: scroll important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-attachment-scroll-{media_query_name}{suffix}
            {
                background-attachment: scroll important;
            }
        }
    }

// ~~

MakeBackgroundAttachmentFixed( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-attachment-fixed{suffix}
    {
        background-attachment: fixed important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-attachment-fixed-{media_query_name}{suffix}
            {
                background-attachment: fixed important;
            }
        }
    }

// ~~

MakeBackgroundPositionCenter( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-position-center{suffix}
    {
        background-position: center important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-position-center-{media_query_name}{suffix}
            {
                background-position: center important;
            }
        }
    }

// ~~

MakeBackgroundPositionTopLeft( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-position-top-left{suffix}
    {
        background-position: top left important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-position-top-left-{media_query_name}{suffix}
            {
                background-position: top left important;
            }
        }
    }

// ~~

MakeBackgroundPositionTopRight( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-position-top-right{suffix}
    {
        background-position: top right important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-position-top-right-{media_query_name}{suffix}
            {
                background-position: top right important;
            }
        }
    }

// ~~

MakeBackgroundPositionBottomLeft( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-position-bottom-left{suffix}
    {
        background-position: bottom left important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-position-bottom-left-{media_query_name}{suffix}
            {
                background-position: bottom left important;
            }
        }
    }

// ~~

MakeBackgroundPositionBottomRight( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-position-bottom-right{suffix}
    {
        background-position: bottom right important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-position-bottom-right-{media_query_name}{suffix}
            {
                background-position: bottom right important;
            }
        }
    }

// ~~

MakeBackgroundSizeAuto( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-size-auto{suffix}
    {
        background-size: auto important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-size-auto-{media_query_name}{suffix}
            {
                background-size: auto important;
            }
        }
    }

// ~~

MakeBackgroundSizeContain( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-size-contain{suffix}
    {
        background-size: contain important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-size-contain-{media_query_name}{suffix}
            {
                background-size: contain important;
            }
        }
    }

// ~~

MakeBackgroundSizeCover( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-size-cover{suffix}
    {
        background-size: cover important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-size-cover-{media_query_name}{suffix}
            {
                background-size: cover important;
            }
        }
    }

// ~~

MakeBackgroundColorValue( name, value, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}background-color-{name}{suffix}
    {
        background-color: value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}background-color-{name}-{media_query_name}{suffix}
            {
                background-color: value important;
            }
        }
    }

// ~~

MakeZoomedBackground( transition_duration = 0.8s, timing_function = ease, scaling_factor = 1.05, prefix =, suffix =, important = )

    .{prefix}zoomed-background{suffix}
    {
        position: relative important;

        overflow: hidden important;
    }

    .{prefix}zoomed-background{suffix}::after
    {
        position: absolute important;
        top: 0 important;
        bottom: 0 important;
        left: 0 important;
        right: 0 important;

        content: "" important;
        background: inherit important;

        transition: transform transition_duration timing_function important;
    }

    .{prefix}zoomed-background{suffix}:hover::after
    {
        transform: scale( scaling_factor ) important;
    }

    .{prefix}zoomed-background{suffix} > *
    {
        z-index: 1 important;
        position: relative important;
    }
