// -- MIXINS

MakeObjectFitNone( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}object-fit-none{suffix}
    {
        object-fit: none important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}object-fit-none-{media_query_name}{suffix}
            {
                object-fit: none important;
            }
        }
    }

// ~~

MakeObjectFitContain( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}object-fit-contain{suffix}
    {
        object-fit: contain important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}object-fit-contain-{media_query_name}{suffix}
            {
                object-fit: contain important;
            }
        }
    }

// ~~

MakeObjectFitScaleDown( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}object-fit-scale-down{suffix}
    {
        object-fit: scale-down important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}object-fit-scale-down-{media_query_name}{suffix}
            {
                object-fit: scale-down important;
            }
        }
    }

// ~~

MakeObjectFitCover( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}object-fit-cover{suffix}
    {
        object-fit: cover important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}object-fit-cover-{media_query_name}{suffix}
            {
                object-fit: cover important;
            }
        }
    }

// ~~

MakeObjectFitFill( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}object-fit-fill{suffix}
    {
        object-fit: fill important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}object-fit-fill-{media_query_name}{suffix}
            {
                object-fit: fill important;
            }
        }
    }
