MakeGutterValue( size, unit_value, unit_name, media_query_name_list = {} )

    .gutter-{size}{unit_name}
    {
        margin-top: -( size * unit_value );
        margin-left: -( size * unit_value );
    }

    .gutter-{size}{unit_name} > *
    {
        padding-top: size * unit_value;
        padding-left: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .gutter-{size}{unit_name}-{media_query_name}
            {
                margin-top: -( size * unit_value );
                margin-left: -( size * unit_value );
            }

            .gutter-{size}{unit_name}-{media_query_name} > *
            {
                padding-top: size * unit_value;
                padding-left: size * unit_value;
            }
        }
    }

// ~~

MakeGutterValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeGutterValue( size, unit_value, unit_name, media_query_name_list );
    }
