MakeLineHeight( size, unit_value, unit_name, media_query_name_list = {} )

    .line-height-{size}{unit_name}
    {
        line-height: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .line-height-{size}{unit_name}-{media_query_name}
            {
                line-height: size * unit_value;
            }
        }
    }

// ~~

MakeLineHeightRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeLineHeight( size, unit_value, unit_name, media_query_name_list );
    }
