MakeMarginAuto( media_query_name_list = {} )

    .margin-auto
    {
        margin: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-auto-{media_query_name}
            {
                margin: auto;
            }
        }
    }

// ~~

MakeMarginValue( size, unit_value, unit_name, media_query_name_list = {} )

    .margin-{size}{unit_name}
    {
        margin: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-{size}{unit_name}-{media_query_name}
            {
                margin: size * unit_value;
            }
        }
    }

// ~~

MakeMarginValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginValue( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeMarginLateralAuto( media_query_name_list = {} )

    .margin-lateral-auto
    {
        margin-left: auto;
        margin-right: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-lateral-auto-{media_query_name}
            {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

// ~~

MakeMarginLateralValue( size, unit_value, unit_name, media_query_name_list = {} )

    .margin-lateral-{size}{unit_name}
    {
        margin-left: size * unit_value;
        margin-right: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-lateral-{size}{unit_name}-{media_query_name}
            {
                margin-left: size * unit_value;
                margin-right: size * unit_value;
            }
        }
    }

// ~~

MakeMarginLateralValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginLateralValue( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeMarginVerticalAuto( media_query_name_list = {} )

    .margin-vertical-auto
    {
        margin-top: auto;
        margin-bottom: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-vertical-auto-{media_query_name}
            {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

// ~~

MakeMarginVerticalValue( size, unit_value, unit_name, media_query_name_list = {} )

    .margin-vertical-{size}{unit_name}
    {
        margin-top: size * unit_value;
        margin-bottom: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-vertical-{size}{unit_name}-{media_query_name}
            {
                margin-top: size * unit_value;
                margin-bottom: size * unit_value;
            }
        }
    }

// ~~

MakeMarginVerticalValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginVerticalValue( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeMarginLeftAuto( media_query_name_list = {} )

    .margin-left-auto
    {
        margin-left: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-left-auto-{media_query_name}
            {
                margin-left: auto;
            }
        }
    }

// ~~

MakeMarginLeftValue( size, unit_value, unit_name, media_query_name_list = {} )

    .margin-left-{size}{unit_name}
    {
        margin-left: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-left-{size}{unit_name}-{media_query_name}
            {
                margin-left: size * unit_value;
            }
        }
    }

// ~~

MakeMarginLeftValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginLeftValue( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeMarginRightAuto( media_query_name_list = {} )

    .margin-right-auto
    {
        margin-right: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-right-auto-{media_query_name}
            {
                margin-right: auto;
            }
        }
    }

// ~~

MakeMarginRightValue( size, unit_value, unit_name, media_query_name_list = {} )

    .margin-right-{size}{unit_name}
    {
        margin-right: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-right-{size}{unit_name}-{media_query_name}
            {
                margin-right: size * unit_value;
            }
        }
    }

// ~~

MakeMarginRightValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginRightValue( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeMarginBottomAuto( media_query_name_list = {} )

    .margin-bottom-auto
    {
        margin-bottom: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-bottom-auto-{media_query_name}
            {
                margin-bottom: auto;
            }
        }
    }

// ~~

MakeMarginBottomValue( size, unit_value, unit_name, media_query_name_list = {} )

    .margin-bottom-{size}{unit_name}
    {
        margin-bottom: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-bottom-{size}{unit_name}-{media_query_name}
            {
                margin-bottom: size * unit_value;
            }
        }
    }

// ~~

MakeMarginBottomValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginBottomValue( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeMarginTopValue( size, unit_value, unit_name, media_query_name_list = {} )

    .margin-top-{size}{unit_name}
    {
        margin-top: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-top-{size}{unit_name}-{media_query_name}
            {
                margin-top: size * unit_value;
            }
        }
    }

// ~~

MakeMarginTopValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginTopValue( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeMarginTopAuto( media_query_name_list = {} )

    .margin-top-auto
    {
        margin-top: auto;
    }

    // ~~

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .margin-top-auto-{media_query_name}
            {
                margin-top: auto;
            }
        }
    }

// ~~

MakeFractionalMarginLeftValue( column_count, media_query_name_list = {} )

    for column_index in 1 .. column_count

        .margin-left-{column_index}_{column_count}
        {
            margin-left: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .margin-left-{column_index}_{column_count}-{media_query_name}
                {
                    margin-left: 100% * ( column_index / column_count );
                }
            }
        }

// ~~

MakeFractionalMarginLeftValueRange( first_column_count, last_column_count, media_query_name_list = {} )

    for column_count in first_column_count .. last_column_count
    {
        MakeFractionalMarginLeftValue( column_count, media_query_name_list );
    }

// ~~

MakeFractionalMarginRightValue( column_count, media_query_name_list = {} )

    for column_index in 1 .. column_count

        .margin-right-{column_index}_{column_count}
        {
            margin-right: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .margin-right-{column_index}_{column_count}-{media_query_name}
                {
                    margin-right: 100% * ( column_index / column_count );
                }
            }
        }

// ~~

MakeFractionalMarginRightRange( first_column_count, last_column_count, media_query_name_list = {} )

    for column_count in first_column_count .. last_column_count
    {
        MakeFractionalMarginRightValue( column_count, media_query_name_list );
    }
