// -- MIXINS

SetRootFontSize( font_size, font_size_array, media_query_name_array )

    html
    {
        font-size: font_size;
    }

    for media_query_name, media_query_name_index in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            html
            {
                font-size: font_size_array[ media_query_name_index ];
            }
        }
    }

// ~~

MakeFontFamilyValue( name, family, media_query_name_array = {}, prefix =, suffix = )

    .{prefix}font-family-{name}{suffix}
    {
        font-family: convert( family );
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}font-family-{name}-{media_query_name}{suffix}
            {
                font-family: convert( family );
            }
        }
    }

// ~~

MakeFontSizeValue( size, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix = )

    .{prefix}font-size-{size}{unit_name}{suffix}
    {
        font-size: size * unit_value;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}font-size-{size}{unit_name}-{media_query_name}{suffix}
            {
                font-size: size * unit_value;
            }
        }
    }

// ~~

MakeFontSizeValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeFontSizeValue( size, unit_value, unit_name, media_query_name_array, prefix, suffix );
    }

// ~~

MakeFontWeightValue( weight, media_query_name_array = {}, prefix =, suffix = )

    .{prefix}font-weight-{weight}{suffix}
    {
        font-weight: weight;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}font-weight-{weight}-{media_query_name}{suffix}
            {
                font-weight: weight;
            }
        }
    }

// ~~

MakeFontWeightValueRange( start, step, count, media_query_name_array = {}, prefix =, suffix = )

    for index in 0 .. count - 1
    {
        weight = start + index * step;

        MakeFontWeightValue( weight, media_query_name_array, prefix, suffix );
    }
