MakeLineHeightValue( size, unit_value, unit_name, media_query_name_list = {}, suffix = )

    .line-height-{size}{unit_name}{suffix}
    {
        line-height: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .line-height-{size}{unit_name}-{media_query_name}{suffix}
            {
                line-height: size * unit_value;
            }
        }
    }

// ~~

MakeLineHeightValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeLineHeightValue( size, unit_value, unit_name, media_query_name_list, suffix );
    }
