.text-transform-lowercase
{
    text-transform: lowercase;
}

.text-transform-uppercase
{
    text-transform: uppercase;
}

.text-transform-capitalize
{
    text-transform: capitalize;
}

.text-align-left
{
    text-align: left;
}

.text-align-center
{
    text-align: center;
}

.text-align-right
{
    text-align: right;
}

.text-align-justify
{
    text-align: justify;
}

// ~~

MakeTextColor( name, value, media_query_name_list = {} )

    .text-color-{name}
    {
        color: value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .text-color-{name}-{media_query_name}
            {
                color: value;
            }
        }
    }
