// -- MIXINS

MakeSortableGridColumn( prefix =, suffix = )

    .{prefix}sortable-grid-column{suffix}
    {
        user-select: none;
        cursor: pointer;
    }

    .{prefix}sortable-grid-column{suffix}.order-is-ascending:after
    {
        position: absolute;

        content: "\00a0\25B2";
    }

    .{prefix}sortable-grid-column{suffix}.order-is-descending:after
    {
        position: absolute;

        content: "\00a0\25BC";
    }

// ~~

MakeSortableTableColumn( prefix =, suffix = )

    .{prefix}sortable-table-column{suffix}
    {
        user-select: none;
        cursor: pointer;
    }

    .{prefix}sortable-table-column{suffix}.order-is-ascending:after
    {
        position: absolute;

        content: "\00a0\25B2";
    }

    .{prefix}sortable-table-column{suffix}.order-is-descending:after
    {
        position: absolute;

        content: "\00a0\25BC";
    }
