MakeScrollSnapTypeMandatory( media_query_name_list = {} )

    .scroll-snap-type-mandatory
    {
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat( 100vh );
        scroll-snap-type: y mandatory;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .scroll-snap-type-mandatory-{media_query_name}
            {
                scroll-snap-type: y mandatory;
                scroll-snap-type: mandatory;
            }
        }
    }

// ~~

MakeScrollSnapAlignNone( media_query_name_list = {} )

    .scroll-snap-align-none
    {
        scroll-snap-align: none;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .scroll-snap-align-none-{media_query_name}
            {
                scroll-snap-align: none;
            }
        }
    }


// ~~

MakeScrollSnapAlignStart( media_query_name_list = {} )

    .scroll-snap-align-start
    {
        scroll-snap-align: start;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .scroll-snap-align-start-{media_query_name}
            {
                scroll-snap-align: start;
            }
        }
    }


// ~~

MakeScrollSnapAlignCenter( media_query_name_list = {} )

    .scroll-snap-align-center
    {
        scroll-snap-align: center;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .scroll-snap-align-center-{media_query_name}
            {
                scroll-snap-align: center;
            }
        }
    }


// ~~

MakeScrollSnapAlignEnd( media_query_name_list = {} )

    .scroll-snap-align-end
    {
        scroll-snap-align: end;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .scroll-snap-align-end-{media_query_name}
            {
                scroll-snap-align: end;
            }
        }
    }
