// -- MIXINS

MakeOverflowVisible( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}overflow-visible{suffix}
    {
        overflow: visible;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}overflow-visible-{media_query_name}{suffix}
            {
                overflow: visible;
            }
        }
    }

// ~~

MakeOverflowHidden( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}overflow-hidden{suffix}
    {
        overflow: hidden;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}overflow-hidden-{media_query_name}{suffix}
            {
                overflow: hidden;
            }
        }
    }

// ~~

MakeOverflowAuto( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}overflow-auto{suffix}
    {
        overflow: auto;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}overflow-auto-{media_query_name}{suffix}
            {
                overflow: auto;
            }
        }
    }

// ~~

MakeOverflowYVisible( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}overflow-y-visible{suffix}
    {
        overflow-y: visible;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}overflow-y-visible-{media_query_name}{suffix}
            {
                overflow-y: visible;
            }
        }
    }

// ~~

MakeOverflowYHidden( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}overflow-y-hidden{suffix}
    {
        overflow-y: hidden;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}overflow-y-hidden-{media_query_name}{suffix}
            {
                overflow-y: hidden;
            }
        }
    }

// ~~

MakeOverflowYAuto( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}overflow-y-auto{suffix}
    {
        overflow-y: auto;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}overflow-y-auto-{media_query_name}{suffix}
            {
                overflow-y: auto;
            }
        }
    }

// ~~

MakeOverflowXVisible( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}overflow-x-visible{suffix}
    {
        overflow-x: visible;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}overflow-x-visible-{media_query_name}{suffix}
            {
                overflow-x: visible;
            }
        }
    }

// ~~

MakeOverflowXHidden( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}overflow-x-hidden{suffix}
    {
        overflow-x: hidden;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}overflow-x-hidden-{media_query_name}{suffix}
            {
                overflow-x: hidden;
            }
        }
    }

// ~~

MakeOverflowXAuto( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}overflow-x-auto{suffix}
    {
        overflow-x: auto;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}overflow-x-auto-{media_query_name}{suffix}
            {
                overflow-x: auto;
            }
        }
    }

// ~~

MakeOverflowScrollbarHidden( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}overflow-scrollbar-hidden{suffix}
    {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .{prefix}overflow-scrollbar-hidden{suffix}::-webkit-scrollbar
    {
        display: none;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}overflow-scrollbar-hidden-{media_query_name}{suffix}
            {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }

            .{prefix}overflow-scrollbar-hidden-{media_query_name}{suffix}::-webkit-scrollbar
            {
                display: none;
            }
        }
    }

// ~~

MakeOverflowTiny( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}overflow-tiny{suffix}
    {
        overflow: hidden;
        height: 0;
        width: 0;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}overflow-tiny-{media_query_name}{suffix}
            {
                overflow: hidden;
                height: 0;
                width: 0;
            }
        }
    }
