MakeParallaxBackground( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}parallax-background{suffix}
    {
        position : relative;
        background-attachment : fixed;
        background-position : center 0;
        background-repeat : no-repeat;
        background-size : cover;
        height : 100vh;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}parallax-background-{media_query_name}{suffix}
            {
                position : relative;
                background-attachment : fixed;
                background-position : center 0;
                background-repeat : no-repeat;
                background-size : cover;
                height : 100vh;
            }
        }
    }
