// -- MIXINS

MakeTextAlignLeft( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}text-align-left{suffix}
    {
        text-align: left important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}text-align-left-{media_query_name}{suffix}
            {
                text-align: left important;
            }
        }
    }

// ~~

MakeTextAlignCenter( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}text-align-center{suffix}
    {
        text-align: center important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}text-align-center-{media_query_name}{suffix}
            {
                text-align: center important;
            }
        }
    }

// ~~

MakeTextAlignRight( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}text-align-right{suffix}
    {
        text-align: right important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}text-align-right-{media_query_name}{suffix}
            {
                text-align: right important;
            }

            .{prefix}text-align-justify-{media_query_name}{suffix}
            {
                text-align: justify important;
            }
        }
    }

// ~~

MakeTextAlignJustify( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}text-align-justify{suffix}
    {
        text-align: justify important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}text-align-justify-{media_query_name}{suffix}
            {
                text-align: justify important;
            }
        }
    }
