// -- MIXINS

MakeCursorDefault( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-default{suffix}
    {
        cursor: default important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-default-{media_query_name}{suffix}
            {
                cursor: default important;
            }
        }
    }

// ~~

MakeCursorPointer( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-pointer{suffix}
    {
        cursor: pointer important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-pointer-{media_query_name}{suffix}
            {
                cursor: pointer important;
            }
        }
    }

// ~~

MakeCursorText( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-text{suffix}
    {
        cursor: text important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-text-{media_query_name}{suffix}
            {
                cursor: text important;
            }
        }
    }

// ~~

MakeCursorGrab( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-grab{suffix}
    {
        cursor: grab important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-grab-{media_query_name}{suffix}
            {
                cursor: grab important;
            }
        }
    }

// ~~

MakeCursorGrabbing( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-grabbing{suffix}
    {
        cursor: grabbing important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-grabbing-{media_query_name}{suffix}
            {
                cursor: grabbing important;
            }
        }
    }

// ~~

MakeCursorZoomIn( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-zoom-in{suffix}
    {
        cursor: zoom-in important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-zoom-in-{media_query_name}{suffix}
            {
                cursor: zoom-in important;
            }
        }
    }

// ~~

MakeCursorZoomOut( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-zoom-out{suffix}
    {
        cursor: zoom-out important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-zoom-out-{media_query_name}{suffix}
            {
                cursor: zoom-out important;
            }
        }
    }

// ~~

MakeCursorAllScroll( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-all-scroll{suffix}
    {
        cursor: all-scroll important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-all-scroll-{media_query_name}{suffix}
            {
                cursor: all-scroll important;
            }
        }
    }

// ~~

MakeCursorMove( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-move{suffix}
    {
        cursor: move important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-move-{media_query_name}{suffix}
            {
                cursor: move important;
            }
        }
    }

// ~~

MakeCursorNsResize( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-ns-resize{suffix}
    {
        cursor: ns-resize important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-ns-resize-{media_query_name}{suffix}
            {
                cursor: ns-resize important;
            }
        }
    }

// ~~

MakeCursorEwResize( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-ew-resize{suffix}
    {
        cursor: ew-resize important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-ew-resize-{media_query_name}{suffix}
            {
                cursor: ew-resize important;
            }
        }
    }

// ~~

MakeCursorColResize( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-col-resize{suffix}
    {
        cursor: col-resize important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-col-resize-{media_query_name}{suffix}
            {
                cursor: col-resize important;
            }
        }
    }

// ~~

MakeCursorRowResize( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-row-resize{suffix}
    {
        cursor: row-resize important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-row-resize-{media_query_name}{suffix}
            {
                cursor: row-resize important;
            }
        }
    }

// ~~

MakeCursorCrosshair( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-crosshair{suffix}
    {
        cursor: crosshair important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-crosshair-{media_query_name}{suffix}
            {
                cursor: crosshair important;
            }
        }
    }

// ~~

MakeCursorWait( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-wait{suffix}
    {
        cursor: wait important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-wait-{media_query_name}{suffix}
            {
                cursor: wait important;
            }
        }
    }

// ~~

MakeCursorNotAllowed( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}cursor-not-allowed{suffix}
    {
        cursor: not-allowed important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-not-allowed-{media_query_name}{suffix}
            {
                cursor: not-allowed important;
            }
        }
    }
