// -- MIXINS

MakePositionStatic( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}position-static{suffix}
    {
        position: static important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}position-static-{media_query_name}{suffix}
            {
                position: static important;
            }
        }
    }

// ~~

MakePositionRelative( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}position-relative{suffix}
    {
        position: relative important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}position-relative-{media_query_name}{suffix}
            {
                position: relative important;
            }
        }
    }

// ~~

MakePositionAbsolute( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}position-absolute{suffix}
    {
        position: absolute important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}position-absolute-{media_query_name}{suffix}
            {
                position: absolute important;
            }
        }
    }

// ~~

MakePositionFixed( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}position-fixed{suffix}
    {
        position: fixed important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}position-fixed-{media_query_name}{suffix}
            {
                position: fixed important;
            }
        }
    }

// ~~

MakePositionSticky( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}position-sticky{suffix}
    {
        position: sticky important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}position-sticky-{media_query_name}{suffix}
            {
                position: sticky important;
            }
        }
    }

// ~~

MakePositionFixedTop( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}position-fixed-top{suffix}
    {
        z-index: 1030 important;
        position: fixed important;
        top: 0 important;
        left: 0 important;
        right: 0 important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}position-fixed-top-{media_query_name}{suffix}
            {
                z-index: 1030 important;
                position: fixed important;
                top: 0 important;
                left: 0 important;
                right: 0 important;
            }
        }
    }

// ~~

MakePositionFixedBottom( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}position-fixed-bottom{suffix}
    {
        z-index: 1030 important;
        position: fixed important;
        bottom: 0 important;
        left: 0 important;
        right: 0 important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}position-fixed-bottom-{media_query_name}{suffix}
            {
                z-index: 1030 important;
                position: fixed important;
                bottom: 0 important;
                left: 0 important;
                right: 0 important;
            }
        }
    }

// ~~

MakePositionLeftValue( offset, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}position-left-{offset}{unit_name}{suffix}
    {
        left: offset * unit_value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}position-left-{offset}{unit_name}-{media_query_name}{suffix}
            {
                left: offset * unit_value important;
            }
        }
    }

// ~~

MakePositionLeftValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    for index in 0 .. count - 1
    {
        offset = start + index * step;

        MakePositionLeftValue( offset, unit_value, unit_name, media_query_name_array, prefix, suffix, important );
    }

// ~~

MakePositionRightValue( offset, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}position-right-{offset}{unit_name}{suffix}
    {
        right: offset * unit_value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}position-right-{offset}{unit_name}-{media_query_name}{suffix}
            {
                right: offset * unit_value important;
            }
        }
    }

// ~~

MakePositionRightValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    for index in 0 .. count - 1
    {
        offset = start + index * step;

        MakePositionRightValue( offset, unit_value, unit_name, media_query_name_array, prefix, suffix, important );
    }

// ~~

MakePositionBottomValue( offset, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}position-bottom-{offset}{unit_name}{suffix}
    {
        bottom: offset * unit_value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}position-bottom-{offset}{unit_name}-{media_query_name}{suffix}
            {
                bottom: offset * unit_value important;
            }
        }
    }

// ~~

MakePositionBottomValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    for index in 0 .. count - 1
    {
        offset = start + index * step;

        MakePositionBottomValue( offset, unit_value, unit_name, media_query_name_array, prefix, suffix, important );
    }

// ~~

MakePositionTopValue( offset, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}position-top-{offset}{unit_name}{suffix}
    {
        top: offset * unit_value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}position-top-{offset}{unit_name}-{media_query_name}{suffix}
            {
                top: offset * unit_value important;
            }
        }
    }

// ~~

MakePositionTopValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    for index in 0 .. count - 1
    {
        offset = start + index * step;

        MakePositionTopValue( offset, unit_value, unit_name, media_query_name_array, prefix, suffix, important );
    }
