.overflow-visible
{
    overflow: visible;
}

.overflow-hidden
{
    overflow: hidden;
}

.overflow-auto
{
    overflow: auto;
}

.overflow-y-visible
{
    overflow-y: visible;
}

.overflow-y-hidden
{
    overflow-y: hidden;
}

.overflow-y-auto
{
    overflow-y: auto;
}

.overflow-x-visible
{
    overflow-x: visible;
}

.overflow-x-hidden
{
    overflow-x: hidden;
}

.overflow-x-auto
{
    overflow-x: auto;
}

.overflow-scrollbar-hidden
{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.overflow-scrollbar-hidden::-webkit-scrollbar
{
    display: none;
}

.overflow-tiny
{
    height: 0;
    width: 0;
    overflow: hidden;
}
