// -- MIXINS

MakeScrollSnapTypeXMandatory( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}scroll-snap-type-x-mandatory{suffix}
    {
        scroll-snap-type: mandatory important;
        scroll-snap-type: x mandatory important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}scroll-snap-type-x-mandatory-{media_query_name}{suffix}
            {
                scroll-snap-type: mandatory important;
                scroll-snap-type: x mandatory important;
            }
        }
    }

// ~~

MakeScrollSnapTypeYMandatory( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}scroll-snap-type-y-mandatory{suffix}
    {
        scroll-snap-type: mandatory important;
        scroll-snap-type: y mandatory important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}scroll-snap-type-y-mandatory-{media_query_name}{suffix}
            {
                scroll-snap-type: mandatory important;
                scroll-snap-type: y mandatory important;
            }
        }
    }

// ~~

MakeScrollSnapAlignNone( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}scroll-snap-align-none{suffix}
    {
        scroll-snap-align: none important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}scroll-snap-align-none-{media_query_name}{suffix}
            {
                scroll-snap-align: none important;
            }
        }
    }

// ~~

MakeScrollSnapAlignStart( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}scroll-snap-align-start{suffix}
    {
        scroll-snap-align: start important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}scroll-snap-align-start-{media_query_name}{suffix}
            {
                scroll-snap-align: start important;
            }
        }
    }

// ~~

MakeScrollSnapAlignCenter( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}scroll-snap-align-center{suffix}
    {
        scroll-snap-align: center important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}scroll-snap-align-center-{media_query_name}{suffix}
            {
                scroll-snap-align: center important;
            }
        }
    }

// ~~

MakeScrollSnapAlignEnd( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}scroll-snap-align-end{suffix}
    {
        scroll-snap-align: end important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}scroll-snap-align-end-{media_query_name}{suffix}
            {
                scroll-snap-align: end important;
            }
        }
    }
