// -- MIXINS

MakeOpacityValue( size, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}opacity-{size}{unit_name}{suffix}
    {
        opacity: size * unit_value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}opacity-{size}{unit_name}-{media_query_name}{suffix}
            {
                opacity: size * unit_value important;
            }
        }
    }

// ~~

MakeOpacityValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeOpacityValue( size, unit_value, unit_name, media_query_name_array, prefix, suffix, important );
    }
