MakeHeightAuto( media_query_name_list = {} )

    .height-auto
    {
        height: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .height-auto-{media_query_name}
            {
                height: auto;
            }
        }
    }

// ~~

MakeHeightAll( media_query_name_list = {} )

    .height-all
    {
        height: 100%;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .height-all-{media_query_name}
            {
                height: 100%;
            }
        }
    }

// ~~

MakeHeightValue( size, unit_value, unit_name, media_query_name_list = {} )

    .height-{size}{unit_name}
    {
        height: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .height-{size}{unit_name}-{media_query_name}
            {
                height: size * unit_value;
            }
        }
    }

// ~~

MakeHeightValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeHeightValue( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeMinHeightValue( size, unit_value, unit_name, media_query_name_list = {} )

    .min-height-{size}{unit_name}
    {
        min-height: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .min-height-{size}{unit_name}-{media_query_name}
            {
                min-height: size * unit_value;
            }
        }
    }

// ~~

MakeMinHeightValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMinHeightValue( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeMaxHeightValue( size, unit_value, unit_name, media_query_name_list = {} )

    .max-height-{size}{unit_name}
    {
        max-height: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .max-height-{size}{unit_name}-{media_query_name}
            {
                max-height: size * unit_value;
            }
        }
    }

// ~~

MakeMaxHeightValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {} )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMaxHeightValue( size, unit_value, unit_name, media_query_name_list );
    }

// ~~

MakeFractionalHeightValueRange( column_count, media_query_name_list = {} )

    for column_index in 1 .. column_count
    {
        .height-{column_index}_{column_count}
        {
            height: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .height-{column_index}_{column_count}-{media_query_name}
                {
                    height: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeMinFractionalHeightValueRange( column_count, media_query_name_list = {} )

    for column_index in 1 .. column_count
    {
        .min-height-{column_index}_{column_count}
        {
            min-height: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .min-height-{column_index}_{column_count}-{media_query_name}
                {
                    min-height: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeMaxFractionalHeightValueRange( column_count, media_query_name_list = {} )

    for column_index in 1 .. column_count
    {
        .max-height-{column_index}_{column_count}
        {
            max-height: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .max-height-{column_index}_{column_count}-{media_query_name}
                {
                    max-height: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeGridHeightValueRange( row_count, total_size, gutter_size, unit_name, media_query_name_list = {} )

    row_size = ( total_size - ( row_count - 1 ) * gutter_size ) / row_count;

    for row_index in 1 .. row_count
    {
        .grid-height-{row_index}{unit_name}
        {
            height: row_size * row_index + gutter_size * ( row_index - 1 );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .grid-height-{row_index}{unit_name}-{media_query_name}
                {
                    height: row_size * row_index + gutter_size * ( row_index - 1 );
                }
            }
        }
    }
