MakePaddingValue( size, unit_value, unit_name, media_query_name_list = {}, suffix = )

    .padding-{size}{unit_name}{suffix}
    {
        padding: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-{size}{unit_name}-{media_query_name}{suffix}
            {
                padding: size * unit_value;
            }
        }
    }

// ~~

MakePaddingValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePaddingValue( size, unit_value, unit_name, media_query_name_list, suffix );
    }

// ~~

MakePaddingVerticalValue( size, unit_value, unit_name, media_query_name_list = {}, suffix = )

    .padding-vertical-{size}{unit_name}{suffix}
    {
        padding-top: size * unit_value;
        padding-bottom: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-vertical-{size}{unit_name}-{media_query_name}{suffix}
            {
                padding-top: size * unit_value;
                padding-bottom: size * unit_value;
            }
        }
    }

// ~~

MakePaddingVerticalValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePaddingVerticalValue( size, unit_value, unit_name, media_query_name_list, suffix );
    }

// ~~

MakePaddingLateralValue( size, unit_value, unit_name, media_query_name_list = {}, suffix = )

    .padding-lateral-{size}{unit_name}
    {
        padding-left: size * unit_value;
        padding-right: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-lateral-{size}{unit_name}-{media_query_name}{suffix}
            {
                padding-left: size * unit_value;
                padding-right: size * unit_value;
            }
        }
    }

// ~~

MakePaddingLateralValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePaddingLateralValue( size, unit_value, unit_name, media_query_name_list, suffix );
    }

// ~~

MakePaddingTopValue( size, unit_value, unit_name, media_query_name_list = {}, suffix = )

    .padding-top-{size}{unit_name}{suffix}
    {
        padding-top: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-top-{size}{unit_name}-{media_query_name}{suffix}
            {
                padding-top: size * unit_value;
            }
        }
    }

// ~~

MakePaddingTopValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePaddingTopValue( size, unit_value, unit_name, media_query_name_list, suffix );
    }
    
// ~~

MakePaddingBottomValue( size, unit_value, unit_name, media_query_name_list = {}, suffix = )

    .padding-bottom-{size}{unit_name}{suffix}
    {
        padding-bottom: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-bottom-{size}{unit_name}-{media_query_name}{suffix}
            {
                padding-bottom: size * unit_value;
            }
        }
    }

// ~~

MakePaddingBottomValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePaddingBottomValue( size, unit_value, unit_name, media_query_name_list, suffix );
    }

// ~~

MakePaddingLeftValue( size, unit_value, unit_name, media_query_name_list = {}, suffix = )

    .padding-left-{size}{unit_name}{suffix}
    {
        padding-left: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-left-{size}{unit_name}-{media_query_name}{suffix}
            {
                padding-left: size * unit_value;
            }
        }
    }

// ~~

MakePaddingLeftValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePaddingLeftValue( size, unit_value, unit_name, media_query_name_list, suffix );
    }

// ~~

MakePaddingRightValue( size, unit_value, unit_name, media_query_name_list = {}, suffix = )

    .padding-right-{size}{unit_name}{suffix}
    {
        padding-right: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .padding-right-{size}{unit_name}-{media_query_name}{suffix}
            {
                padding-right: size * unit_value;
            }
        }
    }

// ~~

MakePaddingRightValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakePaddingRightValue( size, unit_value, unit_name, media_query_name_list, suffix );
    }
