// -- MIXINS

MakeExtendedContainer( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}extended-container{suffix}
    {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}extended-container-{media_query_name}{suffix}
            {
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }
        }
    }

// ~~

MakeCenteredContainer( max_width, max_width_array = {}, media_query_name_array = {}, prefix =, suffix = )

    .{prefix}centered-container{suffix}
    {
        margin-left: auto;
        margin-right: auto;
        max-width: max_width;
    }

    for media_query_name, media_query_name_index in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}centered-container{suffix}
            {
                margin-left: auto;
                margin-right: auto;
                max-width: max_width_array[ media_query_name_index ];
            }
        }
    }

// ~~

MakeMarginedContainer( margin, margin_array, media_query_name_array = {}, prefix =, suffix = )

    .{prefix}margined-container{suffix}
    {
        margin-left: margin;
        margin-right: margin;
    }

    for media_query_name, media_query_name_index in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margined-container{suffix}
            {
                margin-left: margin_array[ media_query_name_index ];
                margin-right: margin_array[ media_query_name_index ];
            }
        }
    }

// ~~

MakePaddedContainer( padding, padding_array, media_query_name_array = {}, prefix =, suffix = )

    .{prefix}padded-container{suffix}
    {
        padding-left: padding;
        padding-right: padding;
    }

    for media_query_name, media_query_name_index in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}padded-container{suffix}
            {
                padding-left: padding_array[ media_query_name_index ];
                padding-right: padding_array[ media_query_name_index ];
            }
        }
    }
