// -- MIXINS

MakeOrientationLandscape( prefix =, suffix = )

    @media ( orientation: portrait )
    {
        .{prefix}orientation-landscape{suffix}
        {
            transform: rotate( 90deg );
            transform-origin: bottom left;
            position: absolute;
            top: -100vw;

            height: 100vw;
            width: 100vh;
        }
    }
