MakeVisibilityHidden( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}visibility-hidden{suffix}
    {
        visibility: hidden;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}visibility-hidden-{media_query_name}{suffix}
            {
                visibility: hidden;
            }
        }
    }

// ~~

MakeVisibilityVisible( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}visibility-visible{suffix}
    {
        visibility: visible;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}visibility-visible-{media_query_name}{suffix}
            {
                visibility: visible;
            }
        }
    }

// ~~

MakeVisibilityCollapse( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}visibility-collapse{suffix}
    {
        visibility: collapse;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}visibility-collapse-{media_query_name}{suffix}
            {
                visibility: collapse;
            }
        }
    }
