// -- MIXINS

MakeScaledButton( transition_duration = 0.25s, timing_function = ease, scaling_factor = 1.1, prefix =, suffix =, important = )

    .{prefix}scaled-button{suffix}
    {
        cursor: pointer important;
        transition: transform transition_duration timing_function important;
    }

    .{prefix}scaled-button{suffix}:hover
    {
        transform: scale( scaling_factor ) important;
    }

// ~~

MakeZoomedButton( transition_duration = 0.8s, timing_function = ease, scaling_factor = 1.05, prefix =, suffix =, important = )

    .{prefix}zoomed-button{suffix}
    {
        position: relative important;

        overflow: hidden important;

        cursor: pointer important;
    }

    .{prefix}zoomed-button{suffix}::after
    {
        position: absolute important;
        top: 0 important;
        bottom: 0 important;
        left: 0 important;
        right: 0 important;

        content: "" important;
        background: inherit important;

        transition: transform transition_duration timing_function important;
    }

    .{prefix}zoomed-button{suffix}:hover::after
    {
        transform: scale( scaling_factor ) important;
    }

    .{prefix}zoomed-button{suffix} > *
    {
        z-index: 1 important;
        position: relative important;
    }
