// -- MIXINS

MakeRowValue( gutter_width, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}row-{gutter_width}{unit_name}{suffix}
    {
        margin-top: -( gutter_width * unit_value ) important;
        margin-left: -( gutter_width * unit_value ) important;

        display: flex important;
        flex-wrap: wrap important;
    }

    .{prefix}row-{gutter_width}{unit_name}{suffix} > *
    {
        padding-top: gutter_width * unit_value important;
        padding-left: gutter_width * unit_value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}row-{gutter_width}{unit_name}-{media_query_name}{suffix}
            {
                margin-top: -( gutter_width * unit_value ) important;
                margin-left: -( gutter_width * unit_value ) important;

                display: flex important;
                flex-wrap: wrap important;
            }

            .{prefix}row-{gutter_width}{unit_name}-{media_query_name}{suffix} > *
            {
                padding-top: gutter_width * unit_value important;
                padding-left: gutter_width * unit_value important;
            }
        }
    }

// ~~

MakeRowValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    for index in 0 .. count - 1
    {
        gutter_width = start + index * step;

        MakeRowValue( gutter_width, unit_value, unit_name, media_query_name_array, prefix, suffix, important );
    }
