// -- MIXINS

MakeTextTransformLowercase( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}text-transform-lowercase{suffix}
    {
        text-transform: lowercase;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}text-transform-lowercase-{media_query_name}{suffix}
            {
                text-transform: lowercase;
            }
        }
    }

// ~~

MakeTextTransformUppercase( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}text-transform-uppercase{suffix}
    {
        text-transform: uppercase;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}text-transform-uppercase-{media_query_name}{suffix}
            {
                text-transform: uppercase;
            }
        }
    }

// ~~

MakeTextTransformCapitalize( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}text-transform-capitalize{suffix}
    {
        text-transform: capitalize;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}text-transform-capitalize-{media_query_name}{suffix}
            {
                text-transform: capitalize;
            }
        }
    }
