// -- MIXINS

MakeJustifyContentStart( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}justify-content-start{suffix}
    {
        justify-content: start important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-content-start-{media_query_name}{suffix}
            {
                justify-content: start important;
            }
        }
    }

// ~~

MakeJustifyContentCenter( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}justify-content-center{suffix}
    {
        justify-content: center important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-content-center-{media_query_name}{suffix}
            {
                justify-content: center important;
            }
        }
    }

// ~~

MakeJustifyContentEnd( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}justify-content-end{suffix}
    {
        justify-content: end important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-content-end-{media_query_name}{suffix}
            {
                justify-content: end important;
            }
        }
    }

// ~~

MakeJustifyContentSpaceBetween( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}justify-content-space-between{suffix}
    {
        justify-content: space-between important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-content-space-between-{media_query_name}{suffix}
            {
                justify-content: space-between important;
            }
        }
    }

// ~~

MakeJustifyContentSpaceAround( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}justify-content-space-around{suffix}
    {
        justify-content: space-around important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-content-space-around-{media_query_name}{suffix}
            {
                justify-content: space-around important;
            }
        }
    }

// ~~

MakeJustifySelfStart( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}justify-self-start{suffix}
    {
        justify-self: start important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-self-start-{media_query_name}{suffix}
            {
                justify-self: start important;
            }
        }
    }

// ~~

MakeJustifySelfCenter( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}justify-self-center{suffix}
    {
        justify-self: center important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-self-center-{media_query_name}{suffix}
            {
                justify-self: center important;
            }
        }
    }

// ~~

MakeJustifySelfEnd( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}justify-self-end{suffix}
    {
        justify-self: end important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-self-end-{media_query_name}{suffix}
            {
                justify-self: end important;
            }
        }
    }
