MakeCarousel( prefix =, suffix = )

    .{prefix}carousel{suffix}
    {
        position: relative;
        overflow-x: hidden;
    }

// ~~

MakeCarouselStrip( slide_count = 1, visible_slide_count = 1, prefix =, suffix = )

    .{prefix}carousel-strip{suffix}
    {
        display: flex;
        position: relative;
        left: 0;
        margin: 0;
        width: ( slide_count / visible_slide_count ) * 100%;
    }

// ~~

MakeCarouselStripPerpetualAnimation( slide_count, visible_slide_count = 1, pause_duration = 3000, translation_duration = 500, prefix =, suffix = )

    slide_duration = pause_duration + translation_duration

    vendors = official

    @keyframes {prefix}carousel-strip-perpetual-animation{suffix}

        for slide_index in 0 .. slide_count - 1 - visible_slide_count

            show_time = slide_index / ( slide_count - visible_slide_count )
            move_time = ( slide_index + ( 1.0 - translation_duration / slide_duration ) ) / ( slide_count - visible_slide_count )

            {100% * show_time}

                left: -100% * slide_index * ( 1.0 / visible_slide_count );

            {100% * move_time}

                left: -100% * slide_index * ( 1.0 / visible_slide_count );

        100%
        {
            left: -100% * ( slide_count - visible_slide_count ) * ( 1.0 / visible_slide_count );
        }

    .{prefix}carousel-strip-perpetual-animation{suffix}
    {
        animation: ( slide_count - visible_slide_count ) * slide_duration * 0.001s prefix + "carousel-strip-perpetual-animation" + suffix infinite;
        animation-timing-function: ease;
    }

// ~~

MakeCarouselSlide( slide_count, prefix =, suffix = )

    .{prefix}carousel-slide{suffix}
    {
        width: ( 100% / slide_count );
    }
