MakeVerticalAlignBottom( media_query_name_list = {} )

    .vertical-align-bottom
    {
        vertical-align: bottom;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .vertical-align-bottom-{media_query_name}
            {
                vertical-align: bottom;
            }
        }
    }

// ~~

MakeVerticalAlignMiddle( media_query_name_list = {} )

    .vertical-align-middle
    {
        vertical-align: middle;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .vertical-align-middle-{media_query_name}
            {
                vertical-align: middle;
            }
        }
    }

// ~~

MakeVerticalAlignTop( media_query_name_list = {} )

    .vertical-align-top
    {
        vertical-align: top;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .vertical-align-top-{media_query_name}
            {
                vertical-align: top;
            }
        }
    }

// ~~

MakeVerticalAlignSub( media_query_name_list = {} )

    .vertical-align-sub
    {
        vertical-align: sub;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .vertical-align-sub-{media_query_name}
            {
                vertical-align: sub;
            }
        }
    }

// ~~

MakeVerticalAlignBaseline( media_query_name_list = {} )

    .vertical-align-baseline
    {
        vertical-align: baseline;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .vertical-align-baseline-{media_query_name}
            {
                vertical-align: baseline;
            }
        }
    }

// ~~

MakeVerticalAlignTextTop( media_query_name_list = {} )

    .vertical-align-text-top
    {
        vertical-align: text-top;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .vertical-align-text-top-{media_query_name}
            {
                vertical-align: text-top;
            }
        }
    }
