MakeContainerExtended( media_query_name_list = {}, suffix = )

    .container-extended{suffix}
    {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .container-extended-{media_query_name}{suffix}
            {
                width: 100%;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

// ~~

MakeContainerCenteredValue( max_width, max_width_map = {}, media_query_name_list = {}, suffix = )

    .container-centered{suffix}
    {
        max-width: max_width;
        margin-left: auto;
        margin-right: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .container-centered{suffix}
            {
                max-width: max_width_map[ media_query_name ];
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

// ~~

MakeContainerMarginedValue( margin, margin_map, media_query_name_list = {}, suffix = )

    .container-margined{suffix}
    {
        margin-left: margin;
        margin-right: margin;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .container-margined{suffix}
            {
                margin-left: margin_map[ media_query_name ];
                margin-right: margin_map[ media_query_name ];
            }
        }
    }
