MakeOrderFirst( media_query_name_list = {}, suffix = )

    .order-first{suffix}
    {
        order: -1;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .order-last-{media_query_name}{suffix}
            {
                order: 1;
            }
        }
    }

// ~~

MakeOrderLast( media_query_name_list = {}, suffix = )

    .order-last{suffix}
    {
        order: 1;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .order-last-{media_query_name}{suffix}
            {
                order: 1;
            }
        }
    }

