MakeJustifyContentStart( media_query_name_list = {} )

    .justify-content-start
    {
        justify-content: flex-start;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .justify-content-start-{media_query_name}
            {
                justify-content: flex-start;
            }
        }
    }

// ~~

MakeJustifyContentCenter( media_query_name_list = {} )

    .justify-content-center
    {
        justify-content: center;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .justify-content-center-{media_query_name}
            {
                justify-content: center;
            }
        }
    }

// ~~

MakeJustifyContentEnd( media_query_name_list = {} )

    .justify-content-end
    {
        justify-content: flex-end;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .justify-content-end-{media_query_name}
            {
                justify-content: flex-end;
            }
        }
    }

// ~~

MakeJustifyContentSpaceBetween( media_query_name_list = {} )

    .justify-content-space-between
    {
        justify-content: space-between;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .justify-content-space-between-{media_query_name}
            {
                justify-content: space-between;
            }
        }
    }

// ~~

MakeJustifyContentSpaceAround( media_query_name_list = {} )

    .justify-content-space-around
    {
        justify-content: space-around;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {

            .justify-content-space-around-{media_query_name}
            {
                justify-content: space-around;
            }
        }
    }

// ~~

MakeJustifySelfStart( media_query_name_list = {} )

    .justify-self-start
    {
        justify-self: flex-start;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .justify-self-start-{media_query_name}
            {
                justify-self: flex-start;
            }
        }
    }

// ~~

MakeJustifySelfCenter( media_query_name_list = {} )

    .justify-self-center
    {
        justify-self: center;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .justify-self-center-{media_query_name}
            {
                justify-self: center;
            }
        }
    }

// ~~

MakeJustifySelfEnd( media_query_name_list = {} )

    .justify-self-end
    {
        justify-self: flex-end;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .justify-self-end-{media_query_name}
            {
                justify-self: flex-end;
            }
        }
    }

