// -- MIXINS

MakeColorValue( name, value, media_query_name_list = {}, prefix =, suffix = )

    .{prefix}color-{name}{suffix}
    {
        color: value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}color-{name}-{media_query_name}{suffix}
            {
                color: value;
            }
        }
    }
