MakeTextColorValue( name, value, media_query_name_list = {}, suffix = )

    .text-color-{name}{suffix}
    {
        color: value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .text-color-{name}-{media_query_name}{suffix}
            {
                color: value;
            }
        }
    }
