// -- MIXINS

MakeMarginAuto( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-auto{suffix}
    {
        margin: auto important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-auto-{media_query_name}{suffix}
            {
                margin: auto important;
            }
        }
    }

// ~~

MakeMarginValue( size, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-{size}{unit_name}{suffix}
    {
        margin: size * unit_value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-{size}{unit_name}-{media_query_name}{suffix}
            {
                margin: size * unit_value important;
            }
        }
    }

// ~~

MakeMarginValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginValue( size, unit_value, unit_name, media_query_name_array, prefix, suffix, important );
    }

// ~~

MakeMarginVerticalAuto( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-vertical-auto{suffix}
    {
        margin-top: auto important;
        margin-bottom: auto important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-vertical-auto-{media_query_name}{suffix}
            {
                margin-top: auto important;
                margin-bottom: auto important;
            }
        }
    }

// ~~

MakeMarginVerticalValue( size, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-vertical-{size}{unit_name}{suffix}
    {
        margin-top: size * unit_value important;
        margin-bottom: size * unit_value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-vertical-{size}{unit_name}-{media_query_name}{suffix}
            {
                margin-top: size * unit_value important;
                margin-bottom: size * unit_value important;
            }
        }
    }

// ~~

MakeMarginVerticalValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginVerticalValue( size, unit_value, unit_name, media_query_name_array, prefix, suffix, important );
    }

// ~~

MakeMarginLateralAuto( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-lateral-auto{suffix}
    {
        margin-left: auto important;
        margin-right: auto important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-lateral-auto-{media_query_name}{suffix}
            {
                margin-left: auto important;
                margin-right: auto important;
            }
        }
    }

// ~~

MakeMarginLateralValue( size, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-lateral-{size}{unit_name}{suffix}
    {
        margin-left: size * unit_value important;
        margin-right: size * unit_value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-lateral-{size}{unit_name}-{media_query_name}{suffix}
            {
                margin-left: size * unit_value important;
                margin-right: size * unit_value important;
            }
        }
    }

// ~~

MakeMarginLateralValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginLateralValue( size, unit_value, unit_name, media_query_name_array, prefix, suffix, important );
    }

// ~~

MakeMarginTopAuto( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-top-auto{suffix}
    {
        margin-top: auto important;
    }

    // ~~

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-top-auto-{media_query_name}{suffix}
            {
                margin-top: auto important;
            }
        }
    }

// ~~

MakeMarginTopValue( size, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-top-{size}{unit_name}{suffix}
    {
        margin-top: size * unit_value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-top-{size}{unit_name}-{media_query_name}{suffix}
            {
                margin-top: size * unit_value important;
            }
        }
    }

// ~~

MakeMarginTopValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginTopValue( size, unit_value, unit_name, media_query_name_array, prefix, suffix, important );
    }

// ~~

MakeMarginBottomAuto( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-bottom-auto{suffix}
    {
        margin-bottom: auto important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-bottom-auto-{media_query_name}{suffix}
            {
                margin-bottom: auto important;
            }
        }
    }

// ~~

MakeMarginBottomValue( size, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-bottom-{size}{unit_name}{suffix}
    {
        margin-bottom: size * unit_value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-bottom-{size}{unit_name}-{media_query_name}{suffix}
            {
                margin-bottom: size * unit_value important;
            }
        }
    }

// ~~

MakeMarginBottomValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginBottomValue( size, unit_value, unit_name, media_query_name_array, prefix, suffix, important );
    }

// ~~

MakeMarginLeftAuto( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-left-auto{suffix}
    {
        margin-left: auto important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-left-auto-{media_query_name}{suffix}
            {
                margin-left: auto important;
            }
        }
    }

// ~~

MakeMarginLeftValue( size, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-left-{size}{unit_name}{suffix}
    {
        margin-left: size * unit_value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-left-{size}{unit_name}-{media_query_name}{suffix}
            {
                margin-left: size * unit_value important;
            }
        }
    }

// ~~

MakeMarginLeftValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginLeftValue( size, unit_value, unit_name, media_query_name_array, prefix, suffix, important );
    }

// ~~

MakeMarginRightAuto( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-right-auto{suffix}
    {
        margin-right: auto important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-right-auto-{media_query_name}{suffix}
            {
                margin-right: auto important;
            }
        }
    }

// ~~

MakeMarginRightValue( size, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}margin-right-{size}{unit_name}{suffix}
    {
        margin-right: size * unit_value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margin-right-{size}{unit_name}-{media_query_name}{suffix}
            {
                margin-right: size * unit_value important;
            }
        }
    }

// ~~

MakeMarginRightValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix =, important = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMarginRightValue( size, unit_value, unit_name, media_query_name_array, prefix, suffix, important );
    }

// ~~

MakeFractionalMarginLeftValue( column_count, media_query_name_array = {}, prefix =, suffix =, important = )

    for column_index in 1 .. column_count

        .{prefix}margin-left-{column_index}\\/{column_count}{suffix}
        {
            margin-left: 100% * ( column_index / column_count ) important;
        }

        for media_query_name in media_query_name_array
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .{prefix}margin-left-{column_index}\\/{column_count}-{media_query_name}{suffix}
                {
                    margin-left: 100% * ( column_index / column_count ) important;
                }
            }
        }

// ~~

MakeFractionalMarginLeftValueRange( first_column_count, last_column_count, media_query_name_array = {}, prefix =, suffix =, important = )

    for column_count in first_column_count .. last_column_count
    {
        MakeFractionalMarginLeftValue( column_count, media_query_name_array, prefix, suffix, important );
    }

// ~~

MakeFractionalMarginRightValue( column_count, media_query_name_array = {}, prefix =, suffix =, important = )

    for column_index in 1 .. column_count

        .{prefix}margin-right-{column_index}\\/{column_count}{suffix}
        {
            margin-right: 100% * ( column_index / column_count ) important;
        }

        for media_query_name in media_query_name_array
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .{prefix}margin-right-{column_index}\\/{column_count}-{media_query_name}{suffix}
                {
                    margin-right: 100% * ( column_index / column_count ) important;
                }
            }
        }

// ~~

MakeFractionalMarginRightRange( first_column_count, last_column_count, media_query_name_array = {}, prefix =, suffix =, important = )

    for column_count in first_column_count .. last_column_count
    {
        MakeFractionalMarginRightValue( column_count, media_query_name_array, prefix, suffix, important );
    }
