@keyframes upload-animation
{
    0%
    {
        background-position: 0 calc(100% + 15px);
    }
    100%
    {
        background-position: 0 0;
    }
}

.has-upload-animation
{
    height: 100%;
    width: 100%;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    background: linear-gradient( 0deg, blue 50%, transparent 50% );
    background-position: 0 calc( 100% + 15px );
    background-repeat: repeat-y;
    background-size: 100% 15px;

    animation: upload-animation 8s infinite linear;
}

.form-translation + .form-translation,
{
    margin-top: 0.25rem;
}

.form-input,
.form-select
{
    min-height: 2rem;
    width: 100%;
    border: 1 * Pxm solid BorderColor;
    border-radius: 0.25rem;
    padding: 0.25rem;

    display: block;

    background-color: WhiteColor;
}

.form-textarea
{
    overflow: hidden;
    height: 2.25rem;
    min-height: 2.25rem;
    width: 100%;
    border: 1 * Pxm solid BorderColor;
    border-radius: 0.25rem;
    padding: 0.25rem;

    display: block;
}

.form-input:not([hidden]) + .form-input:not([hidden]),
.form-textarea:not([hidden]) + .form-textarea:not([hidden])
{
    margin-top: 0.5rem;
}

.form-translation
{
    display: grid;
    grid-template-columns: 1fr 5rem 3rem;
    align-items: start;
    column-gap: 0.5rem;
}

.form-translation.is-readonly
{
    grid-template-columns: 1fr 5rem;
}

.form-path.form-translation-data
{
    border: none !important;
    padding: 0 !important;
}

.form-translation-specifier
{
    margin-top: 0 !important;
}

.form-translation-add-button
{
    background: url( "/static/image/admin/add_icon.svg" ) no-repeat center center / contain;
}

.form-translation-remove-button
{
    background: url( "/static/image/admin/remove_icon.svg" ) no-repeat center center / contain;
}

.form-upload-container
{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto 1fr;
    grid-template-areas : \
        "input input input input" \
        "preview upload-button delete-button .";
    gap: 0.5rem;
    align-items: center;
}

.form-upload-container.is-readonly
{
    column-gap: 0;
}

.form-upload-input
{
    grid-area: input;
}

.form-upload-image,
.form-upload-video
{
    grid-area: preview;

    height: 12.5rem;
    width: 100%;
    max-width: 50vw;
    border-radius: 0.25rem;

    object-fit: cover;
}

.form-upload-button
{
    grid-area: upload-button;

    background: url( "/static/image/admin/upload_icon.svg" ) no-repeat center center / contain;
}

.form-upload-file
{
    overflow: hidden;
    height: 0;
    width: 0;
}

.form-delete-button
{
    grid-area: delete-button;

    background: url( "/static/image/admin/delete_icon.svg" ) no-repeat center center / contain;
}

.form-upload-button + .form-delete-button
{
    margin-left: 0;
}

.form-multilingual-container
{
    display: flex;
    flex-direction: column;
}

.form-list-container
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-list-container.is-readonly
{
    column-gap: 0;
}

.form-value-container
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto auto auto;
    grid-template-areas: \
        "value drag-button add-button remove-button";
    column-gap: 0.5rem;
}

.form-list-container.is-readonly .form-value-container
{
    column-gap: 0;
}

.form-value
{
    grid-area: value;
}

.form-button
{
    height: 1.2rem;
    width: 1.2rem;
    border: none;

    display: inline-block;

    cursor: pointer;
}

.form-button + .form-button
{
    margin-left: 0.25rem;
}

.form-drag-button
{
    grid-area: drag-button;

    background: url( "/static/image/admin/drag_icon.svg" ) no-repeat center center / contain;
}

.form-add-button
{
    grid-area: add-button;

    background: url( "/static/image/admin/add_icon.svg" ) no-repeat center center / contain;
}

.form-remove-button
{
    grid-area: remove-button;

    background: url( "/static/image/admin/remove_icon.svg" ) no-repeat center center / contain;
}

.form-add-button + .form-remove-button
{
    margin-left: 0;
}

.form-container
{
    width: 100%;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: start;
}

.form-container-small
{
    max-width: 30rem;
}

.form-limited
{
    max-width: calc( 100lvw - 2rem );
}

.form-extended
{
    grid-column: 1 / -1;
}

.form-translation-list
{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.25rem 0.5rem;
}

.form-translation-data
{
}

.form-field-error,
.form-field-error + div input:not([readonly]),
.form-field-error + div textarea:not([readonly]),
.form-field-error + div select:not([readonly])
{
    outline: solid red 1px;
}

.form-field-name
{
    padding-top: 0.25rem;

    font-weight: 700;
}

.form-field-value
{
}

.form-column-name
{
    font-weight: 700;
}

.form-centered
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-text-button
{
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;

    background-color: RedColor;

    color: WhiteColor;
}

.form-button-large
{
    height: 2rem;
    width: 2rem;
}

.form-button-tooltip
{
    display: none;
}

.form-button:hover + .form-button-tooltip
{
    margin-left: 0.5rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;

    display: inline-block;

    color: WhiteColor;
}

.form-upload-input
{
    grid-area: input;
}

.form-upload-button
{
    grid-area: upload-button;
}

.form-upload-file
{
    overflow: hidden;
    height: 0;
    width: 0;
}

.form-delete-button
{
    grid-area: delete-button;
}

.form-upload-button + .form-delete-button
{
    margin-left: 0;
}

.form-list-container
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-value
{
    grid-area: value;
}

.form-drag-value-button
{
    grid-area: drag-button;
}

.form-add-value-button
{
    grid-area: add-button;
}

.form-remove-value-button
{
    grid-area: remove-button;
}

.form-add-value-button + .form-remove-value-button
{
    margin-left: 0;
}

.form-title
{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;

    font-size: 1.5rem;
    font-weight: 700;
}

.form-toolbar
{
    margin-top: 1rem;

    display: flex;
    justify-content: end;
    align-items: center;
}
