// -- VARIABLES

MediaQueryMap = {
    below-20em: "(max-width: 19.98em)",
    below-25em: "(max-width: 24.98em)",
    below-30em: "(max-width: 29.98em)",
    below-35em: "(max-width: 34.98em)",
    below-40em: "(max-width: 39.98em)",
    below-45em: "(max-width: 44.98em)",
    below-50em: "(max-width: 49.98em)",
    below-55em: "(max-width: 54.98em)",
    below-60em: "(max-width: 59.98em)",
    below-65em: "(max-width: 64.98em)",
    below-70em: "(max-width: 69.98em)",
    below-75em: "(max-width: 74.98em)",
    below-80em: "(max-width: 79.98em)",
    below-85em: "(max-width: 84.98em)",
    below-90em: "(max-width: 89.98em)",
    below-95em: "(max-width: 94.98em)",
    below-100em: "(max-width: 99.98em)",
    below-105em: "(max-width: 104.98em)",
    below-110em: "(max-width: 109.98em)",
    below-115em: "(max-width: 114.98em)",
    below-120em: "(max-width: 119.98em)",
    below-125em: "(max-width: 124.98em)",
    above-20em: "(min-width: 20em)",
    above-25em: "(min-width: 25em)",
    above-30em: "(min-width: 30em)",
    above-35em: "(min-width: 35em)",
    above-40em: "(min-width: 40em)",
    above-45em: "(min-width: 45em)",
    above-50em: "(min-width: 50em)",
    above-55em: "(min-width: 55em)",
    above-60em: "(min-width: 60em)",
    above-65em: "(min-width: 65em)",
    above-70em: "(min-width: 70em)",
    above-75em: "(min-width: 75em)",
    above-80em: "(min-width: 80em)",
    above-85em: "(min-width: 85em)",
    above-90em: "(min-width: 90em)",
    above-95em: "(min-width: 95em)",
    above-100em: "(min-width: 100em)",
    above-105em: "(min-width: 105em)",
    above-110em: "(min-width: 110em)",
    above-115em: "(min-width: 115em)",
    above-120em: "(min-width: 120em)",
    above-125em: "(min-width: 125em)",
    on-screen: "screen",
    on-print: "print"
};

// -- MIXINS

Media( media_query_name_list )

    media_query_list = ();

    for media_query_name in media_query_name_list
    {
        push( media_query_list, MediaQueryMap[ media_query_name ] );
    }

    media_query_list_text = join( ", ", media_query_list );

    @media media_query_list_text
        {block}
