// -- MIXINS

MakeVerticalAlignBottom( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}vertical-align-bottom{suffix}
    {
        vertical-align: bottom;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}vertical-align-bottom-{media_query_name}{suffix}
            {
                vertical-align: bottom;
            }
        }
    }

// ~~

MakeVerticalAlignMiddle( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}vertical-align-middle{suffix}
    {
        vertical-align: middle;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}vertical-align-middle-{media_query_name}{suffix}
            {
                vertical-align: middle;
            }
        }
    }

// ~~

MakeVerticalAlignTop( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}vertical-align-top{suffix}
    {
        vertical-align: top;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}vertical-align-top-{media_query_name}{suffix}
            {
                vertical-align: top;
            }
        }
    }

// ~~

MakeVerticalAlignSub( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}vertical-align-sub{suffix}
    {
        vertical-align: sub;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}vertical-align-sub-{media_query_name}{suffix}
            {
                vertical-align: sub;
            }
        }
    }

// ~~

MakeVerticalAlignBaseline( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}vertical-align-baseline{suffix}
    {
        vertical-align: baseline;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}vertical-align-baseline-{media_query_name}{suffix}
            {
                vertical-align: baseline;
            }
        }
    }

// ~~

MakeVerticalAlignTextTop( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}vertical-align-text-top{suffix}
    {
        vertical-align: text-top;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}vertical-align-text-top-{media_query_name}{suffix}
            {
                vertical-align: text-top;
            }
        }
    }
