// -- MIXINS

MakeVisibilityHidden( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}visibility-hidden{suffix}
    {
        visibility: hidden important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}visibility-hidden-{media_query_name}{suffix}
            {
                visibility: hidden important;
            }
        }
    }

// ~~

MakeVisibilityVisible( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}visibility-visible{suffix}
    {
        visibility: visible important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}visibility-visible-{media_query_name}{suffix}
            {
                visibility: visible important;
            }
        }
    }

// ~~

MakeVisibilityCollapse( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}visibility-collapse{suffix}
    {
        visibility: collapse important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}visibility-collapse-{media_query_name}{suffix}
            {
                visibility: collapse important;
            }
        }
    }
