MakeBackgroundColor( name, value, media_query_name_list = {} )

    .background-color-{name}
    {
        background-color: value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .background-color-{name}-{media_query_name}
            {
                background-color: value;
            }
        }
    }
