// -- MIXINS

MakeColorValue( name, value, media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}color-{name}{suffix}
    {
        color: value important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}color-{name}-{media_query_name}{suffix}
            {
                color: value important;
            }
        }
    }
