MakeOrderFirst( media_query_name_list = {} )

    .order-first
    {
        order: -1;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .order-last-{media_query_name}
            {
                order: 1;
            }
        }
    }

// ~~

MakeOrderLast( media_query_name_list = {} )

    .order-last
    {
        order: 1;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .order-last-{media_query_name}
            {
                order: 1;
            }
        }
    }

