// -- MIXINS

MakeOrientationLandscape( prefix =, suffix =, important = )

    @media ( orientation: portrait )
    {
        .{prefix}orientation-landscape{suffix}
        {
            position: absolute important;
            top: -100lvw important;
            transform-origin: bottom left important;
            transform: rotate( 90deg ) important;

            height: 100lvw important;
            width: 100dvh important;
        }
    }
