.align-items-start
{
    align-items: flex-start;
}

.align-items-center
{
    align-items: center;
}

.align-items-end
{
    align-items: flex-end;
}

.align-items-stretch
{
    align-items: stretch;
}

.align-items-baseline
{
    align-items: baseline;
}

// ~~

MakeAlign( media_query_name_list = {} )

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .align-items-start-{media_query_name}
            {
                align-items: flex-start;
            }

            .align-items-center-{media_query_name}
            {
                align-items: center;
            }

            .align-items-end-{media_query_name}
            {
                align-items: flex-end;
            }

            .align-items-stretch-{media_query_name}
            {
                align-items: stretch;
            }

            .align-items-baseline-{media_query_name}
            {
                align-items: baseline;
            }
        }
    }

// ~~

.align-self-start
{
    align-self: flex-start;
}

.align-self-center
{
    align-self: center;
}

.align-self-end
{
    align-self: flex-end;
}

.align-self-stretch
{
    align-self: stretch;
}

.align-self-baseline
{
    align-self: baseline;
}

// ~~

MakeAlignSelf( media_query_name_list = {} )

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .align-self-start-{media_query_name}
            {
                align-self: flex-start;
            }

            .align-self-center-{media_query_name}
            {
                align-self: center;
            }

            .align-self-end-{media_query_name}
            {
                align-self: flex-end;
            }

            .align-self-stretch-{media_query_name}
            {
                align-self: stretch;
            }

            .align-self-baseline-{media_query_name}
            {
                align-self: baseline;
            }
        }
    }

