// -- MIXINS

MakeJustifyContentStart( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}justify-content-start{suffix}
    {
        justify-content: flex-start;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-content-start-{media_query_name}{suffix}
            {
                justify-content: flex-start;
            }
        }
    }

// ~~

MakeJustifyContentCenter( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}justify-content-center{suffix}
    {
        justify-content: center;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-content-center-{media_query_name}{suffix}
            {
                justify-content: center;
            }
        }
    }

// ~~

MakeJustifyContentEnd( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}justify-content-end{suffix}
    {
        justify-content: flex-end;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-content-end-{media_query_name}{suffix}
            {
                justify-content: flex-end;
            }
        }
    }

// ~~

MakeJustifyContentSpaceBetween( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}justify-content-space-between{suffix}
    {
        justify-content: space-between;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-content-space-between-{media_query_name}{suffix}
            {
                justify-content: space-between;
            }
        }
    }

// ~~

MakeJustifyContentSpaceAround( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}justify-content-space-around{suffix}
    {
        justify-content: space-around;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {

            .{prefix}justify-content-space-around-{media_query_name}{suffix}
            {
                justify-content: space-around;
            }
        }
    }

// ~~

MakeJustifySelfStart( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}justify-self-start{suffix}
    {
        justify-self: flex-start;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-self-start-{media_query_name}{suffix}
            {
                justify-self: flex-start;
            }
        }
    }

// ~~

MakeJustifySelfCenter( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}justify-self-center{suffix}
    {
        justify-self: center;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-self-center-{media_query_name}{suffix}
            {
                justify-self: center;
            }
        }
    }

// ~~

MakeJustifySelfEnd( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}justify-self-end{suffix}
    {
        justify-self: flex-end;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}justify-self-end-{media_query_name}{suffix}
            {
                justify-self: flex-end;
            }
        }
    }

