// -- MIXINS

MakeParallaxBackground( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}parallax-background{suffix}
    {
        position : relative important;
        background-attachment : fixed important;
        background-position : center 0 important;
        background-repeat : no-repeat important;
        background-size : cover important;
        height : 100dvh important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}parallax-background-{media_query_name}{suffix}
            {
                position : relative important;
                background-attachment : fixed important;
                background-position : center 0 important;
                background-repeat : no-repeat important;
                background-size : cover important;
                height : 100dvh important;
            }
        }
    }
