MediaQueryMap = {
    at-20em: "(min-width: 20em) and (max-width: 29.98em)",
    at-30em: "(min-width: 30em) and (max-width: 39.98em)",
    at-40em: "(min-width: 40em) and (max-width: 49.98em)",
    at-50em: "(min-width: 50em) and (max-width: 59.98em)",
    at-60em: "(min-width: 60em) and (max-width: 69.98em)",
    at-70em: "(min-width: 70em) and (max-width: 79.98em)",
    at-80em: "(min-width: 80em) and (max-width: 89.98em)",
    at-90em: "(min-width: 90em) and (max-width: 99.98em)",
    at-100em: "(min-width: 100em) and (max-width: 109.98em)",
    at-110em: "(min-width: 110em) and (max-width: 119.98em)",
    at-120em: "(min-width: 120em) and (max-width: 129.98em)",
    below-20em: "(max-width: 19.98em)",
    below-30em: "(max-width: 29.98em)",
    below-40em: "(max-width: 39.98em)",
    below-50em: "(max-width: 49.98em)",
    below-60em: "(max-width: 59.98em)",
    below-70em: "(max-width: 69.98em)",
    below-80em: "(max-width: 79.98em)",
    below-90em: "(max-width: 89.98em)",
    below-100em: "(max-width: 99.98em)",
    below-110em: "(max-width: 109.98em)",
    below-120em: "(max-width: 119.98em)",
    above-20em: "(min-width: 20em)",
    above-30em: "(min-width: 30em)",
    above-40em: "(min-width: 40em)",
    above-50em: "(min-width: 50em)",
    above-60em: "(min-width: 60em)",
    above-70em: "(min-width: 70em)",
    above-80em: "(min-width: 80em)",
    above-90em: "(min-width: 90em)",
    above-100em: "(min-width: 100em)",
    above-110em: "(min-width: 110em)",
    above-120em: "(min-width: 120em)",
    on-screen: "screen",
    on-print: "print"
};

// ~~

Media( media_query_name_list )

    media_query_list = ();

    for media_query_name in media_query_name_list
    {
        push( media_query_list, MediaQueryMap[ media_query_name ] );
    }

    media_query_list_text = join( ", ", media_query_list );

    @media media_query_list_text
        {block}
