// -- MIXINS

MakeBorderRadiusValue( size, unit_value, unit_name, media_query_name_list = {}, prefix =, suffix = )

    .{prefix}border-radius-{size}{unit_name}{suffix}
    {
        border-radius: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}border-radius-{size}{unit_name}-{media_query_name}{suffix}
            {
                border-radius: size * unit_value;
            }
        }
    }

// ~~

MakeBorderRadiusValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, prefix =, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeBorderRadiusValue( size, unit_value, unit_name, media_query_name_list, prefix, suffix );
    }

// ~~

MakeBorderColorValue( name, value, media_query_name_list = {}, prefix =, suffix = )

    .{prefix}border-color-{name}{suffix}
    {
        border-color: value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}border-color-{name}-{media_query_name}{suffix}
            {
                border-color: value;
            }
        }
    }
