// -- MIXINS

MakeDisplayNone( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}display-none{suffix}
    {
        display: none important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-none-{media_query_name}{suffix}
            {
                display: none important;
            }
        }
    }

// ~~

MakeDisplayBlock( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}display-block{suffix}
    {
        display: block important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-block-{media_query_name}{suffix}
            {
                display: block important;
            }
        }
    }

// ~~

MakeDisplayContents( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}display-contents{suffix}
    {
        display: contents important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-contents-{media_query_name}{suffix}
            {
                display: contents important;
            }
        }
    }

// ~~

MakeDisplayTable( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}display-table{suffix}
    {
        display: table important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-table-{media_query_name}{suffix}
            {
                display: table important;
            }
        }
    }

// ~~

MakeDisplayTableCell( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}display-table-cell{suffix}
    {
        display: table-cell important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-table-cell-{media_query_name}{suffix}
            {
                display: table-cell important;
            }
        }
    }

// ~~

MakeDisplayFlex( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}display-flex{suffix}
    {
        display: flex important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-flex-{media_query_name}{suffix}
            {
                display: flex important;
            }
        }
    }

// ~~

MakeDisplayGrid( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}display-grid{suffix}
    {
        display: grid important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-grid-{media_query_name}{suffix}
            {
                display: grid important;
            }
        }
    }

// ~~

MakeDisplayInline( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}display-inline{suffix}
    {
        display: inline important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-inline-{media_query_name}{suffix}
            {
                display: inline important;
            }
        }
    }

// ~~

MakeDisplayInlineBlock( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}display-inline-block{suffix}
    {
        display: inline-block important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-inline-block-{media_query_name}{suffix}
            {
                display: inline-block important;
            }
        }
    }

// ~~

MakeDisplayInlineTable( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}display-inline-table{suffix}
    {
        display: inline-table important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-inline-table-{media_query_name}{suffix}
            {
                display: inline-table important;
            }
        }
    }

// ~~

MakeDisplayInlineFlex( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}display-inline-flex{suffix}
    {
        display: inline-flex important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-inline-flex-{media_query_name}{suffix}
            {
                display: inline-flex important;
            }
        }
    }

// ~~

MakeDisplayInlineGrid( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}display-inline-grid{suffix}
    {
        display: inline-grid important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-inline-grid-{media_query_name}{suffix}
            {
                display: inline-grid important;
            }
        }
    }

// ~~

MakeDisplayHidden( media_query_name_array = {}, prefix =, suffix =, important = )

    .{prefix}display-hidden{suffix}
    {
        display: none !important important;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-hidden-{media_query_name}{suffix}
            {
                display: none !important important;
            }
        }
    }
