// -- MIXINS

MakeDisplayNone( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}display-none{suffix}
    {
        display: none;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-none-{media_query_name}{suffix}
            {
                display: none;
            }
        }
    }

// ~~

MakeDisplayBlock( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}display-block{suffix}
    {
        display: block;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-block-{media_query_name}{suffix}
            {
                display: block;
            }
        }
    }

// ~~

MakeDisplayContents( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}display-contents{suffix}
    {
        display: contents;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-contents-{media_query_name}{suffix}
            {
                display: contents;
            }
        }
    }

// ~~

MakeDisplayTable( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}display-table{suffix}
    {
        display: table;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-table-{media_query_name}{suffix}
            {
                display: table;
            }
        }
    }

// ~~

MakeDisplayTableCell( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}display-table-cell{suffix}
    {
        display: table-cell;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-table-cell-{media_query_name}{suffix}
            {
                display: table-cell;
            }
        }
    }

// ~~

MakeDisplayFlex( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}display-flex{suffix}
    {
        display: flex;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-flex-{media_query_name}{suffix}
            {
                display: flex;
            }
        }
    }

// ~~

MakeDisplayGrid( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}display-grid{suffix}
    {
        display: grid;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-grid-{media_query_name}{suffix}
            {
                display: grid;
            }
        }
    }

// ~~

MakeDisplayInline( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}display-inline{suffix}
    {
        display: inline;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-inline-{media_query_name}{suffix}
            {
                display: inline;
            }
        }
    }


// ~~

MakeDisplayInlineBlock( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}display-inline-block{suffix}
    {
        display: inline-block;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-inline-block-{media_query_name}{suffix}
            {
                display: inline-block;
            }
        }
    }


// ~~

MakeDisplayInlineTable( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}display-inline-table{suffix}
    {
        display: inline-table;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-inline-table-{media_query_name}{suffix}
            {
                display: inline-table;
            }
        }
    }


// ~~

MakeDisplayInlineFlex( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}display-inline-flex{suffix}
    {
        display: inline-flex;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {

            .{prefix}display-inline-flex-{media_query_name}{suffix}
            {
                display: inline-flex;
            }
        }
    }


// ~~

MakeDisplayInlineGrid( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}display-inline-grid{suffix}
    {
        display: inline-grid;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {

            .{prefix}display-inline-grid-{media_query_name}{suffix}
            {
                display: inline-grid;
            }
        }
    }

// ~~

MakeDisplayHidden( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}display-hidden{suffix}
    {
        display: none !important;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}display-hidden-{media_query_name}{suffix}
            {
                display: none !important;
            }
        }
    }
