MakeVisibilityHidden( media_query_name_list = {} )

    .visibility-hidden
    {
        visibility: hidden;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .visibility-hidden-{media_query_name}
            {
                visibility: hidden;
            }
        }
    }

// ~~

MakeVisibilityVisible( media_query_name_list = {} )

    .visibility-visible
    {
        visibility: visible;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .visibility-visible-{media_query_name}
            {
                visibility: visible;
            }
        }
    }

// ~~

MakeVisibilityCollapse( media_query_name_list = {} )

    .visibility-collapse
    {
        visibility: collapse;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .visibility-collapse-{media_query_name}
            {
                visibility: collapse;
            }
        }
    }
