MakeCursorDefault( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-default{suffix}
    {
        cursor: default;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-default-{media_query_name}{suffix}
            {
                cursor: default;
            }
        }
    }

// ~~

MakeCursorPointer( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-pointer{suffix}
    {
        cursor: pointer;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-pointer-{media_query_name}{suffix}
            {
                cursor: pointer;
            }
        }
    }

// ~~

MakeCursorText( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-text{suffix}
    {
        cursor: text;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-text-{media_query_name}{suffix}
            {
                cursor: text;
            }
        }
    }

// ~~

MakeCursorGrab( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-grab{suffix}
    {
        cursor: grab;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-grab-{media_query_name}{suffix}
            {
                cursor: grab;
            }
        }
    }

// ~~

MakeCursorGrabbing( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-grabbing{suffix}
    {
        cursor: grabbing;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-grabbing-{media_query_name}{suffix}
            {
                cursor: grabbing;
            }
        }
    }

// ~~

MakeCursorZoomIn( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-zoom-in{suffix}
    {
        cursor: zoom-in;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-zoom-in-{media_query_name}{suffix}
            {
                cursor: zoom-in;
            }
        }
    }

// ~~

MakeCursorZoomOut( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-zoom-out{suffix}
    {
        cursor: zoom-out;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-zoom-out-{media_query_name}{suffix}
            {
                cursor: zoom-out;
            }
        }
    }

// ~~

MakeCursorAllScroll( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-all-scroll{suffix}
    {
        cursor: all-scroll;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-all-scroll-{media_query_name}{suffix}
            {
                cursor: all-scroll;
            }
        }
    }

// ~~

MakeCursorMove( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-move{suffix}
    {
        cursor: move;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-move-{media_query_name}{suffix}
            {
                cursor: move;
            }
        }
    }

// ~~

MakeCursorNsResize( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-ns-resize{suffix}
    {
        cursor: ns-resize;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-ns-resize-{media_query_name}{suffix}
            {
                cursor: ns-resize;
            }
        }
    }

// ~~

MakeCursorEwResize( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-ew-resize{suffix}
    {
        cursor: ew-resize;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-ew-resize-{media_query_name}{suffix}
            {
                cursor: ew-resize;
            }
        }
    }

// ~~

MakeCursorColResize( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-col-resize{suffix}
    {
        cursor: col-resize;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-col-resize-{media_query_name}{suffix}
            {
                cursor: col-resize;
            }
        }
    }

// ~~

MakeCursorRowResize( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-row-resize{suffix}
    {
        cursor: row-resize;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-row-resize-{media_query_name}{suffix}
            {
                cursor: row-resize;
            }
        }
    }

// ~~

MakeCursorCrosshair( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-crosshair{suffix}
    {
        cursor: crosshair;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-crosshair-{media_query_name}{suffix}
            {
                cursor: crosshair;
            }
        }
    }

// ~~

MakeCursorWait( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-wait{suffix}
    {
        cursor: wait;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-wait-{media_query_name}{suffix}
            {
                cursor: wait;
            }
        }
    }

// ~~

MakeCursorNotAllowed( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}cursor-not-allowed{suffix}
    {
        cursor: not-allowed;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}cursor-not-allowed-{media_query_name}{suffix}
            {
                cursor: not-allowed;
            }
        }
    }
