// -- MIXINS

MakeOrientationLandscape( prefix =, suffix = )

    @media ( orientation: portrait )
    {
        .{prefix}orientation-landscape{suffix}
        {
            transform: rotate( 90deg ) important;
            transform-origin: bottom left important;
            position: absolute important;
            top: -100vw important;

            height: 100vw important;
            width: 100vh important;
        }
    }
