MakeFlexDirectionRow( media_query_name_list = {}, suffix = )

    .flex-direction-row{suffix}
    {
        flex-direction: row;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .flex-direction-row-{media_query_name}{suffix}
            {
                flex-direction: row;
            }
        }
    }

// ~~

MakeFlexDirectionRowReverse( media_query_name_list = {}, suffix = )

    .flex-direction-row-reverse{suffix}
    {
        flex-direction: row-reverse;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .flex-direction-row-reverse-{media_query_name}{suffix}
            {
                flex-direction: row-reverse;
            }
        }
    }

// ~~

MakeFlexDirectionColumn( media_query_name_list = {}, suffix = )

    .flex-direction-column{suffix}
    {
        flex-direction: column;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .flex-direction-column-{media_query_name}{suffix}
            {
                flex-direction: column;
            }
        }
    }

// ~~

MakeFlexDirectionColumnReverse( media_query_name_list = {}, suffix = )

    .flex-direction-column-reverse{suffix}
    {
        flex-direction: column-reverse;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .flex-direction-column-reverse-{media_query_name}{suffix}
            {
                flex-direction: column-reverse;
            }
        }
    }

// ~~

MakeFlexWrap( media_query_name_list = {}, suffix = )

    .flex-wrap{suffix}
    {
        flex-wrap: wrap;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .flex-wrap-{media_query_name}{suffix}
            {
                flex-wrap: wrap;
            }
        }
    }

// ~~

MakeFlexNoWrap( media_query_name_list = {}, suffix = )

    .flex-nowrap{suffix}
    {
        flex-wrap: nowrap;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .flex-nowrap-{media_query_name}{suffix}
            {
                flex-wrap: nowrap;
            }

        }
    }

// ~~

MakeFlexShrinkValue( media_query_name_list = {}, suffix = )

    .flex-shrink{suffix}
    {
        flex-shrink: 1;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .flex-shrink-{media_query_name}{suffix}
            {
                flex-shrink: 1;
            }
        }
    }

// ~~

MakeFlexBasisValue( column_count, media_query_name_list = {}, suffix = )

    for column_index in 1 .. column_count

        .flex-basis-{column_index}\\/{column_count}{suffix}
        {
            flex-basis: 100% * ( column_index / column_count );
            max-width: 100% * ( column_index / column_count );
        }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .flex-basis-{column_index}\\/{column_count}-{media_query_name}{suffix}
            {
                flex-basis: 100% * ( column_index / column_count );
                max-width: 100% * ( column_index / column_count );
            }
        }
    }

// ~~

MakeFlexBasisValueRange( first_column_count, last_column_count, media_query_name_list = {}, suffix = )

    for column_count in first_column_count .. last_column_count
    {
        MakeFlexBasisValue( column_count, media_query_name_list, suffix );
    }

// ~~

MakeFlexShrinkValue( size, unit_value = 1, unit_name = "", media_query_name_list = {}, suffix = )

    .flex-shrink-{size}{unit_name}{suffix}
    {
        flex-shrink: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .flex-shrink-{size}{unit_name}-{media_query_name}{suffix}
            {
                flex-shrink: size * unit_value;
            }
        }
    }

// ~~

MakeFlexShrinkValueRange( start, step, count, unit_value = 1, unit_name = "", media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeFlexShrinkValue( size, unit_value, unit_name, media_query_name_list, suffix );
    }

// ~~

MakeFlexGrowValue( size, unit_value = 1, unit_name = "", media_query_name_list = {}, suffix = )

    .flex-grow-{size}{unit_name}{suffix}
    {
        flex-grow: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .flex-grow-{size}{unit_name}-{media_query_name}{suffix}
            {
                flex-grow: size * unit_value;
            }
        }
    }

// ~~

MakeFlexGrowValueRange( start, step, count, unit_value = 1, unit_name = "", media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeFlexGrowValue( size, unit_value, unit_name, media_query_name_list, suffix );
    }
