// -- MIXINS

MakeExtendedContainer( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}extended-container{suffix}
    {
        margin-right: auto;
        margin-left: auto;

        width: 100%;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}extended-container-{media_query_name}{suffix}
            {
                width: 100%;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

// ~~

MakeCenteredContainer( max_width, max_width_map = {}, media_query_name_list = {}, prefix =, suffix = )

    .{prefix}centered-container{suffix}
    {
        margin-left: auto;
        margin-right: auto;

        max-width: max_width;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}centered-container{suffix}
            {
                max-width: max_width_map[ media_query_name ];
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

// ~~

MakeMarginedContainer( margin, margin_map, media_query_name_list = {}, prefix =, suffix = )

    .{prefix}margined-container{suffix}
    {
        margin-left: margin;
        margin-right: margin;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}margined-container{suffix}
            {
                margin-left: margin_map[ media_query_name ];
                margin-right: margin_map[ media_query_name ];
            }
        }
    }

// ~~

MakePaddedContainer( padding, padding_map, media_query_name_list = {}, prefix =, suffix = )

    .{prefix}padded-container{suffix}
    {
        padding-left: padding;
        padding-right: padding;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}padded-container{suffix}
            {
                padding-left: padding_map[ media_query_name ];
                padding-right: padding_map[ media_query_name ];
            }
        }
    }
