MakePositionStatic( media_query_name_list = {}, suffix = )

    .position-static{suffix}
    {
        position: static;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .position-static-{media_query_name}{suffix}
            {
                position: static;
            }
        }
    }

// ~~

MakePositionRelative( media_query_name_list = {}, suffix = )

    .position-relative{suffix}
    {
        position: relative;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .position-relative-{media_query_name}{suffix}
            {
                position: relative;
            }
        }
    }

// ~~

MakePositionAbsolute( media_query_name_list = {}, suffix = )

    .position-absolute{suffix}
    {
        position: absolute;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .position-absolute-{media_query_name}{suffix}
            {
                position: absolute;
            }
        }
    }

// ~~

MakePositionFixed( media_query_name_list = {}, suffix = )

    .position-fixed{suffix}
    {
        position: fixed;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .position-fixed-{media_query_name}{suffix}
            {
                position: fixed;
            }
        }
    }

// ~~

MakePositionSticky( media_query_name_list = {}, suffix = )

    .position-sticky{suffix}
    {
        position: sticky;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .position-sticky-{media_query_name}{suffix}
            {
                position: sticky;
            }
        }
    }

// ~~

MakePositionFixedTop( media_query_name_list = {}, suffix = )

    .position-fixed-top{suffix}
    {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .position-fixed-top-{media_query_name}{suffix}
            {
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                z-index: 1030;
            }
        }
    }

// ~~

MakePositionFixedBottom( media_query_name_list = {}, suffix = )

    .position-fixed-bottom{suffix}
    {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .position-fixed-bottom-{media_query_name}{suffix}
            {
                position: fixed;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1030;
            }
        }
    }

// ~~

MakePositionLeftValue( offset, unit_value, unit_name, media_query_name_list = {}, suffix = )

    .position-left-{offset}{unit_name}{suffix}
    {
        left: offset * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .position-left-{offset}{unit_name}-{media_query_name}{suffix}
            {
                left: offset * unit_value;
            }
        }
    }

// ~~

MakePositionLeftValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        offset = start + index * step;

        MakePositionLeftValue( offset, unit_value, unit_name, media_query_name_list, suffix );
    }

// ~~

MakePositionRightValue( offset, unit_value, unit_name, media_query_name_list = {}, suffix = )

    .position-right-{offset}{unit_name}{suffix}
    {
        right: offset * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .position-right-{offset}{unit_name}-{media_query_name}{suffix}
            {
                right: offset * unit_value;
            }
        }
    }

// ~~

MakePositionRightValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        offset = start + index * step;

        MakePositionRightValue( offset, unit_value, unit_name, media_query_name_list, suffix );
    }

// ~~

MakePositionBottomValue( offset, unit_value, unit_name, media_query_name_list = {}, suffix = )

    .position-bottom-{offset}{unit_name}{suffix}
    {
        bottom: offset * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .position-bottom-{offset}{unit_name}-{media_query_name}{suffix}
            {
                bottom: offset * unit_value;
            }
        }
    }

// ~~

MakePositionBottomValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        offset = start + index * step;

        MakePositionBottomValue( offset, unit_value, unit_name, media_query_name_list, suffix );
    }

// ~~

MakePositionTopValue( offset, unit_value, unit_name, media_query_name_list = {}, suffix = )

    .position-top-{offset}{unit_name}{suffix}
    {
        top: offset * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .position-top-{offset}{unit_name}-{media_query_name}{suffix}
            {
                top: offset * unit_value;
            }
        }
    }

// ~~

MakePositionTopValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, suffix = )

    for index in 0 .. count - 1
    {
        offset = start + index * step;

        MakePositionTopValue( offset, unit_value, unit_name, media_query_name_list, suffix );
    }
