// -- MIXINS

MakeWidthAuto( media_query_name_array = {}, prefix =, suffix = )

    .{prefix}width-auto{suffix}
    {
        width: auto;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}width-auto-{media_query_name}{suffix}
            {
                width: auto;
            }
        }
    }

// ~~

MakeWidthValue( size, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix = )

    .{prefix}width-{size}{unit_name}{suffix}
    {
        width: size * unit_value;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}width-{size}{unit_name}-{media_query_name}{suffix}
            {
                width: size * unit_value;
            }
        }
    }

// ~~

MakeWidthValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeWidthValue( size, unit_value, unit_name, media_query_name_array, prefix, suffix );
    }

// ~~

MakeMinWidthValue( size, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix = )

    .{prefix}min-width-{size}{unit_name}{suffix}
    {
        min-width: size * unit_value;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}min-width-{size}{unit_name}-{media_query_name}{suffix}
            {
                min-width: size * unit_value;
            }
        }
    }

// ~~

MakeMinWidthValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMinWidthValue( size, unit_value, unit_name, media_query_name_array, prefix, suffix );
    }

// ~~

MakeMaxWidthValue( size, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix = )

    .{prefix}max-width-{size}{unit_name}{suffix}
    {
        max-width: size * unit_value;
    }

    for media_query_name in media_query_name_array
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}max-width-{size}{unit_name}-{media_query_name}{suffix}
            {
                max-width: size * unit_value;
            }
        }
    }

// ~~

MakeMaxWidthValueRange( start, step, count, unit_value, unit_name, media_query_name_array = {}, prefix =, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMaxWidthValue( size, unit_value, unit_name, media_query_name_array, prefix, suffix );
    }

// ~~

MakeFractionalWidthValueRange( column_count, media_query_name_array = {}, prefix =, suffix = )

    for column_index in 1 .. column_count
    {
        .{prefix}width-{column_index}\\/{column_count}{suffix}
        {
            width: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_array
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .{prefix}width-{column_index}\\/{column_count}-{media_query_name}{suffix}
                {
                    width: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeMinFractionalWidthValueRange( column_count, media_query_name_array = {}, prefix =, suffix = )

    for column_index in 1 .. column_count
    {
        .{prefix}min-width-{column_index}\\/{column_count}{suffix}
        {
            min-width: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_array
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .{prefix}min-width-{column_index}\\/{column_count}-{media_query_name}{suffix}
                {
                    min-width: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeMaxFractionalWidthValueRange( column_count, media_query_name_array = {}, prefix =, suffix = )

    for column_index in 1 .. column_count
    {
        .{prefix}max-width-{column_index}\\/{column_count}{suffix}
        {
            max-width: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_array
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .{prefix}max-width-{column_index}\\/{column_count}-{media_query_name}{suffix}
                {
                    max-width: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeGridWidthValueRange( column_count, total_size, gutter_size, unit_name, media_query_name_array = {}, prefix =, suffix = )

    column_size = ( total_size - ( column_count - 1 ) * gutter_size ) / column_count;

    for column_index in 1 .. column_count
    {
        .{prefix}grid-width-{column_index}{unit_name}{suffix}
        {
            width: column_size * column_index + gutter_size * ( column_index - 1 );
        }

        for media_query_name in media_query_name_array
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .{prefix}grid-width-{column_index}{unit_name}-{media_query_name}{suffix}
                {
                    width: column_size * column_index + gutter_size * ( column_index - 1 );
                }
            }
        }
    }
