// -- MIXINS

MakeHeightAuto( media_query_name_list = {}, prefix =, suffix = )

    .{prefix}height-auto{suffix}{suffix}
    {
        height: auto;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}height-auto-{media_query_name}{suffix}
            {
                height: auto;
            }
        }
    }

// ~~

MakeHeightValue( size, unit_value, unit_name, media_query_name_list = {}, prefix =, suffix = )

    .{prefix}height-{size}{unit_name}{suffix}
    {
        height: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}height-{size}{unit_name}-{media_query_name}{suffix}
            {
                height: size * unit_value;
            }
        }
    }

// ~~

MakeHeightValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, prefix =, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeHeightValue( size, unit_value, unit_name, media_query_name_list, prefix, suffix );
    }

// ~~

MakeMinHeightValue( size, unit_value, unit_name, media_query_name_list = {}, prefix =, suffix = )

    .{prefix}min-height-{size}{unit_name}{suffix}
    {
        min-height: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}min-height-{size}{unit_name}-{media_query_name}{suffix}
            {
                min-height: size * unit_value;
            }
        }
    }

// ~~

MakeMinHeightValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, prefix =, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMinHeightValue( size, unit_value, unit_name, media_query_name_list, prefix, suffix );
    }

// ~~

MakeMaxHeightValue( size, unit_value, unit_name, media_query_name_list = {}, prefix =, suffix = )

    .{prefix}max-height-{size}{unit_name}{suffix}
    {
        max-height: size * unit_value;
    }

    for media_query_name in media_query_name_list
    {
        @media MediaQueryMap[ media_query_name ]
        {
            .{prefix}max-height-{size}{unit_name}-{media_query_name}{suffix}
            {
                max-height: size * unit_value;
            }
        }
    }

// ~~

MakeMaxHeightValueRange( start, step, count, unit_value, unit_name, media_query_name_list = {}, prefix =, suffix = )

    for index in 0 .. count - 1
    {
        size = start + index * step;

        MakeMaxHeightValue( size, unit_value, unit_name, media_query_name_list, prefix, suffix );
    }

// ~~

MakeFractionalHeightValueRange( column_count, media_query_name_list = {}, prefix =, suffix = )

    for column_index in 1 .. column_count
    {
        .{prefix}height-{column_index}\\/{column_count}{suffix}
        {
            height: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .{prefix}height-{column_index}\\/{column_count}-{media_query_name}{suffix}
                {
                    height: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeMinFractionalHeightValueRange( column_count, media_query_name_list = {}, prefix =, suffix = )

    for column_index in 1 .. column_count
    {
        .{prefix}min-height-{column_index}\\/{column_count}{suffix}
        {
            min-height: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .{prefix}min-height-{column_index}\\/{column_count}-{media_query_name}{suffix}
                {
                    min-height: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeMaxFractionalHeightValueRange( column_count, media_query_name_list = {}, prefix =, suffix = )

    for column_index in 1 .. column_count
    {
        .{prefix}max-height-{column_index}\\/{column_count}{suffix}
        {
            max-height: 100% * ( column_index / column_count );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .{prefix}max-height-{column_index}\\/{column_count}-{media_query_name}{suffix}
                {
                    max-height: 100% * ( column_index / column_count );
                }
            }
        }
    }

// ~~

MakeGridHeightValueRange( row_count, total_size, gutter_size, unit_name, media_query_name_list = {}, prefix =, suffix = )

    row_size = ( total_size - ( row_count - 1 ) * gutter_size ) / row_count;

    for row_index in 1 .. row_count
    {
        .{prefix}grid-height-{row_index}{unit_name}{suffix}
        {
            height: row_size * row_index + gutter_size * ( row_index - 1 );
        }

        for media_query_name in media_query_name_list
        {
            @media MediaQueryMap[ media_query_name ]
            {
                .{prefix}grid-height-{row_index}{unit_name}-{media_query_name}{suffix}
                {
                    height: row_size * row_index + gutter_size * ( row_index - 1 );
                }
            }
        }
    }
