@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: 0 none;
  border: 0 none;
  padding: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
}
body {
  margin: 0;
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
hr {
  margin: 1rem 0;
  border: 0;
  opacity: 0.25;
  color: inherit;
}
hr:not([size]) {
  height: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  line-height: inherit;
  font-style: normal;
}
ol,
ul {
  padding-left: 2rem;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 0.875em;
}
sub,
sup {
  position: relative;
  line-height: 0;
  font-size: 0.75em;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:not([href]),
a:not([href]):hover {
  text-decoration: none;
  color: inherit;
}
pre,
code,
kbd,
samp {
  font-size: 1em;
}
pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  word-break: normal;
  color: inherit;
}
code {
  font-size: 0.875em;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
kbd {
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  caption-side: bottom;
  text-align: left;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
select {
  word-wrap: normal;
}
[list]::-webkit-calendar-picker-indicator {
  display: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: textfield;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  margin: 0;
  min-width: 0;
  border: 0;
  padding: 0;
}
legend {
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 0;
  float: left;
  line-height: inherit;
  font-size: 1.5rem;
  white-space: normal;
  color: inherit;
}
mark {
  padding: 0.2em;
}
progress {
  vertical-align: baseline;
}
::-webkit-datetime-edit {
  overflow: visible;
  line-height: 0;
}
[type="search"] {
  -webkit-appearance: textfield;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
main {
  display: block;
}
[hidden] {
  display: none !important;
}
select:-moz-focusring {
  text-shadow: 0 0 0 #000;
  color: transparent;
}
select {
  background: transparent;
}
a:focus,
button:focus,
input:focus,
select:focus {
  outline: 0;
}
a:active,
a:hover {
  outline: 0;
}
a,
a:visited {
  color: inherit;
}
html {
  background: #fff;
}
.test-carousel {
  position: relative;
  overflow-x: hidden;
}
.test-carousel-strip {
  position: relative;
  left: 0;
  margin: 0;
  width: 100%;
  display: flex;
}
.test-carousel-7-1-strip {
  position: relative;
  left: 0;
  margin: 0;
  width: 700%;
  display: flex;
}
.test-carousel-7-1-strip-perpetual-animation {
  animation: test-carousel-7-1-strip-perpetual-animation 21s infinite ease;
}
@keyframes test-carousel-7-1-strip-perpetual-animation {
  0% {
    left: 0%;
  }
  14.285714285714288% {
    left: 0%;
  }
  16.666666666666664% {
    left: -100%;
  }
  30.952380952380953% {
    left: -100%;
  }
  33.33333333333333% {
    left: -200%;
  }
  47.61904761904762% {
    left: -200%;
  }
  50% {
    left: -300%;
  }
  64.28571428571429% {
    left: -300%;
  }
  66.66666666666666% {
    left: -400%;
  }
  80.95238095238096% {
    left: -400%;
  }
  83.33333333333334% {
    left: -500%;
  }
  97.61904761904762% {
    left: -500%;
  }
  100% {
    left: -600%;
  }
}
.test-carousel-7-slide {
  width: 14.285714285714286%;
}
.test-carousel-8-2-strip {
  position: relative;
  left: 0;
  margin: 0;
  width: 400%;
  display: flex;
}
.test-carousel-8-2-strip-perpetual-animation {
  animation: test-carousel-8-2-strip-perpetual-animation 21s infinite ease;
}
@keyframes test-carousel-8-2-strip-perpetual-animation {
  0% {
    left: 0%;
  }
  14.285714285714288% {
    left: 0%;
  }
  16.666666666666664% {
    left: -50%;
  }
  30.952380952380953% {
    left: -50%;
  }
  33.33333333333333% {
    left: -100%;
  }
  47.61904761904762% {
    left: -100%;
  }
  50% {
    left: -150%;
  }
  64.28571428571429% {
    left: -150%;
  }
  66.66666666666666% {
    left: -200%;
  }
  80.95238095238096% {
    left: -200%;
  }
  83.33333333333334% {
    left: -250%;
  }
  97.61904761904762% {
    left: -250%;
  }
  100% {
    left: -300%;
  }
}
.test-carousel-8-slide {
  width: 12.5%;
}
.test-carousel-9-3-strip {
  position: relative;
  left: 0;
  margin: 0;
  width: 300%;
  display: flex;
}
.test-carousel-9-3-strip-perpetual-animation {
  animation: test-carousel-9-3-strip-perpetual-animation 21s infinite ease;
}
@keyframes test-carousel-9-3-strip-perpetual-animation {
  0% {
    left: 0%;
  }
  14.285714285714288% {
    left: 0%;
  }
  16.666666666666664% {
    left: -33.33333333333333%;
  }
  30.952380952380953% {
    left: -33.33333333333333%;
  }
  33.33333333333333% {
    left: -66.66666666666666%;
  }
  47.61904761904762% {
    left: -66.66666666666666%;
  }
  50% {
    left: -100%;
  }
  64.28571428571429% {
    left: -100%;
  }
  66.66666666666666% {
    left: -133.33333333333331%;
  }
  80.95238095238096% {
    left: -133.33333333333331%;
  }
  83.33333333333334% {
    left: -166.66666666666666%;
  }
  97.61904761904762% {
    left: -166.66666666666666%;
  }
  100% {
    left: -200%;
  }
}
.test-carousel-9-slide {
  width: 11.11111111111111%;
}
.test-carousel {
  width: 100%;
}
.test-carousel-slide {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.test-carousel-slide-background-1 {
  background-image: url("../MEDIA/slide_1.jpg");
}
.test-carousel-slide-background-2 {
  background-image: url("../MEDIA/slide_2.jpg");
}
.test-carousel-slide-background-3 {
  background-image: url("../MEDIA/slide_3.jpg");
}
.test-carousel-slide-background-4 {
  background-image: url("../MEDIA/slide_4.jpg");
}
.test-carousel-slide-background-5 {
  background-image: url("../MEDIA/slide_5.jpg");
}
.test-carousel-slide-background-6 {
  background-image: url("../MEDIA/slide_6.jpg");
}
.test-carousel-slide-menu {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.test-carousel-slide-button {
  height: 0.5rem;
  width: 0.5rem;
  border: 2px solid #fff;
  border-radius: 50%;
}
.test-carousel-slide-button:hover,
.test-carousel-slide-button.is-selected {
  background: #fff;
}
.test-carousel-slide-button + .test-carousel-slide-button {
  margin-left: 2rem;
}
.test-carousel-arrow-button {
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
}
.test-carousel-left-arrow-button {
  position: absolute;
  top: 50%;
  left: 4rem;
  transform: translateY(-50%);
}
.test-carousel-right-arrow-button {
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);
}
.test-carousel-reset-button {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
}
