@require "../../CODE/STYLUS/vista.styl"

// ~~

+Prefix( test- )
{
    MakeCarouselStrip( 7, 1 );
    MakeCarouselStripPerpetualAnimation( 7, 1, 3000, 500 );
    MakeCarouselSlide( 7 );

    MakeCarouselStrip( 8, 2 );
    MakeCarouselStripPerpetualAnimation( 8, 2, 3000, 500 );
    MakeCarouselSlide( 8 );

    MakeCarouselStrip( 9, 3 );
    MakeCarouselStripPerpetualAnimation( 9, 3, 3000, 500 );
    MakeCarouselSlide( 9 );
}

// ~~

html
{
    background: #FFFFFF;
}

.slide
{
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

.slide-1
{
    background-image: url(slide_1.jpg);
}

.slide-2
{
    background-image: url(slide_2.jpg);
}

.slide-3
{
    background-image: url(slide_3.jpg);
}

.slide-4
{
    background-image: url(slide_4.jpg);
}

.slide-5
{
    background-image: url(slide_5.jpg);
}

.slide-6
{
    background-image: url(slide_6.jpg);
}
