@require "../../vista.styl"

// ~~

Pt = 0.0625rem;

// ~~

MakeContainerCentered( 960 * Pt, {}, {}, 0 );
MakeRootFontSize( 16px, {}, {}, 0 );
MakeWidth( 480, Pt, "pt", {}, 0 );
MakeHeight( 80, Pt, "pt", {}, 0 );
MakeMarginLateral( 20, Pt, "pt", {}, 0 );
MakeMarginTop( 10, Pt, "pt", {}, 0 );
MakeMarginTop( 20, Pt, "pt", {}, 0 );
MakeMarginTop( 40, Pt, "pt", {}, 0 );
MakeInput( 10 * Pt, 5 * Pt );
MakeButton( 10 * Pt );
MakeSelect( 10 * Pt );
MakeBackgroundColor( "white", #FFFFFF, {}, 0 );
MakeBackgroundColor( "gray", #888888, {}, 0 );
MakeBackgroundColor( "light-gray", #EEEEEE, {}, 0 );
MakeTextColor( "white", #FFFFFF, {}, 0 );
MakeTextColor( "black", #000000, {}, 0 );

// ~~

html
{
    background: #FFFFFF;
}
