@require "../../CODE/STYLUS/vista_reset.styl"
@require "../../CODE/STYLUS/vista.styl"

// ~~

MakeDisplayFlex();
MakeFlexDirectionRow();
MakeFlexDirectionColumn();
MakeJustifyContentCenter();
MakeAlignItemsCenter();
MakeContainerCentered( 960 * Pxm );
MakeWidth( 480, Pxm, "pxm" );
MakeHeight( 80, Pxm, "pxm" );
MakeMarginLateral( 20, Pxm, "pxm" );
MakeMarginTop( 10, Pxm, "pxm" );
MakeMarginTop( 20, Pxm, "pxm" );
MakeBorderRadius( 10, Pxm, "pxm" );
MakePadding( 10, Pxm, "pxm" );
MakePaddingLateral( 5, Pxm, "pxm" );
MakePaddingVertical( 10, Pxm, "pxm" );
MakePaddingVertical( 20, Pxm, "pxm" );
MakeBackgroundColor( "white", #FFFFFF );
MakeBackgroundColor( "gray", #888888 );
MakeBackgroundColor( "light-gray", #EEEEEE );
MakeTextColor( "white", #FFFFFF );
MakeTextColor( "black", #000000 );

// ~~

html
{
    background: #FFFFFF;
}
