html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}
audio {
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
select,
option {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.full-width {
  width: 100%;
}
.hide {
  display: none !important;
}
.show {
  display: initial !important;
}
.block {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.float-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-no-wrap {
  flex-wrap: nowrap;
}
.flex-fill {
  flex: 1 1 0%;
  flex-basis: 0%;
}
.flex-basis-auto {
  flex-basis: auto;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-flex-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-safe-center {
  justify-content: safe center;
}
.justify-content-unsafe-center {
  justify-content: unsafe center;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.justify-content-left {
  justify-content: left;
}
.justify-content-right {
  justify-content: right;
}
.justify-content-stretch {
  justify-content: stretch;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-items-start {
  justify-items: start;
}
.justify-items-self-start {
  justify-items: self-start;
}
.justify-items-flex-start {
  justify-items: flex-start;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-safe-center {
  justify-items: safe center;
}
.justify-items-unsafe-center {
  justify-items: unsafe center;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-self-end {
  justify-items: self-end;
}
.justify-items-flex-end {
  justify-items: flex-end;
}
.justify-items-left {
  justify-items: left;
}
.justify-items-right {
  justify-items: right;
}
.justify-self-start {
  justify-self: start;
}
.justify-self-self-start {
  justify-self: self-start;
}
.justify-self-flex-start {
  justify-self: flex-start;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-safe-center {
  justify-self: safe center;
}
.justify-self-unsafe-center {
  justify-self: unsafe center;
}
.justify-self-end {
  justify-self: end;
}
.justify-self-self-end {
  justify-self: self-end;
}
.justify-self-flex-end {
  justify-self: flex-end;
}
.justify-self-left {
  justify-self: left;
}
.justify-self-right {
  justify-self: right;
}
.align-content-start {
  align-content: start;
}
.align-content-flex-start {
  align-content: flex-start;
}
.align-content-center {
  align-content: center;
}
.align-content-safe-center {
  align-content: safe center;
}
.align-content-unsafe-center {
  align-content: unsafe center;
}
.align-content-end {
  align-content: end;
}
.align-content-flex-end {
  align-content: flex-end;
}
.align-content-stretch {
  align-content: stretch;
}
.align-content-between {
  align-content: space-between;
}
.align-content-around {
  align-content: space-around;
}
.align-content-evenly {
  align-content: space-evenly;
}
.align-content-baseline {
  align-content: baseline;
}
.align-content-first-baseline {
  align-content: first baseline;
}
.align-content-last-baseline {
  align-content: last baseline;
}
.align-items-start {
  align-items: start;
}
.align-items-self-start {
  align-items: self-start;
}
.align-items-flex-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-safe-center {
  align-items: safe center;
}
.align-items-unsafe-center {
  align-items: unsafe center;
}
.align-items-end {
  align-items: end;
}
.align-items-self-end {
  align-items: self-end;
}
.align-items-flex-end {
  align-items: flex-end;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-first-baseline {
  align-items: first baseline;
}
.align-items-last-baseline {
  align-items: last baseline;
}
.align-self-start {
  align-self: start;
}
.align-self-center {
  align-self: center;
}
.align-self-safe-center {
  align-self: safe center;
}
.align-self-unsafe-center {
  align-self: unsafe center;
}
.align-self-end {
  align-self: end;
}
.align-self-stretch {
  align-self: stretch;
}
.align-self-self-start {
  align-self: self-start;
}
.align-self-self-end {
  align-self: self-end;
}
.align-self-flex-start {
  align-self: flex-start;
}
.align-self-flex-end {
  align-self: flex-end;
}
.align-self-baseline {
  align-self: baseline;
}
.align-self-first-baseline {
  align-self: first baseline;
}
.align-self-last-baseline {
  align-self: last baseline;
}
.input,
.button,
.select {
  border-radius: 0.625rem;
  padding: 0.3125rem;
}
.input {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.select {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.width-0pc {
  width: 0%;
}
.min-width-0pc {
  min-width: 0%;
}
.max-width-0pc {
  max-width: 0%;
}
.width-5pc {
  width: 5%;
}
.min-width-5pc {
  min-width: 5%;
}
.max-width-5pc {
  max-width: 5%;
}
.width-10pc {
  width: 10%;
}
.min-width-10pc {
  min-width: 10%;
}
.max-width-10pc {
  max-width: 10%;
}
.width-15pc {
  width: 15%;
}
.min-width-15pc {
  min-width: 15%;
}
.max-width-15pc {
  max-width: 15%;
}
.width-20pc {
  width: 20%;
}
.min-width-20pc {
  min-width: 20%;
}
.max-width-20pc {
  max-width: 20%;
}
.width-25pc {
  width: 25%;
}
.min-width-25pc {
  min-width: 25%;
}
.max-width-25pc {
  max-width: 25%;
}
.width-30pc {
  width: 30%;
}
.min-width-30pc {
  min-width: 30%;
}
.max-width-30pc {
  max-width: 30%;
}
.width-35pc {
  width: 35%;
}
.min-width-35pc {
  min-width: 35%;
}
.max-width-35pc {
  max-width: 35%;
}
.width-40pc {
  width: 40%;
}
.min-width-40pc {
  min-width: 40%;
}
.max-width-40pc {
  max-width: 40%;
}
.width-45pc {
  width: 45%;
}
.min-width-45pc {
  min-width: 45%;
}
.max-width-45pc {
  max-width: 45%;
}
.width-50pc {
  width: 50%;
}
.min-width-50pc {
  min-width: 50%;
}
.max-width-50pc {
  max-width: 50%;
}
.width-55pc {
  width: 55%;
}
.min-width-55pc {
  min-width: 55%;
}
.max-width-55pc {
  max-width: 55%;
}
.width-60pc {
  width: 60%;
}
.min-width-60pc {
  min-width: 60%;
}
.max-width-60pc {
  max-width: 60%;
}
.width-65pc {
  width: 65%;
}
.min-width-65pc {
  min-width: 65%;
}
.max-width-65pc {
  max-width: 65%;
}
.width-70pc {
  width: 70%;
}
.min-width-70pc {
  min-width: 70%;
}
.max-width-70pc {
  max-width: 70%;
}
.width-75pc {
  width: 75%;
}
.min-width-75pc {
  min-width: 75%;
}
.max-width-75pc {
  max-width: 75%;
}
.width-80pc {
  width: 80%;
}
.min-width-80pc {
  min-width: 80%;
}
.max-width-80pc {
  max-width: 80%;
}
.width-85pc {
  width: 85%;
}
.min-width-85pc {
  min-width: 85%;
}
.max-width-85pc {
  max-width: 85%;
}
.width-90pc {
  width: 90%;
}
.min-width-90pc {
  min-width: 90%;
}
.max-width-90pc {
  max-width: 90%;
}
.width-95pc {
  width: 95%;
}
.min-width-95pc {
  min-width: 95%;
}
.max-width-95pc {
  max-width: 95%;
}
.width-100pc {
  width: 100%;
}
.min-width-100pc {
  min-width: 100%;
}
.max-width-100pc {
  max-width: 100%;
}
.height-0pc {
  height: 0%;
}
.min-height-0pc {
  min-height: 0%;
}
.max-height-0pc {
  max-height: 0%;
}
.height-5pc {
  height: 5%;
}
.min-height-5pc {
  min-height: 5%;
}
.max-height-5pc {
  max-height: 5%;
}
.height-10pc {
  height: 10%;
}
.min-height-10pc {
  min-height: 10%;
}
.max-height-10pc {
  max-height: 10%;
}
.height-15pc {
  height: 15%;
}
.min-height-15pc {
  min-height: 15%;
}
.max-height-15pc {
  max-height: 15%;
}
.height-20pc {
  height: 20%;
}
.min-height-20pc {
  min-height: 20%;
}
.max-height-20pc {
  max-height: 20%;
}
.height-25pc {
  height: 25%;
}
.min-height-25pc {
  min-height: 25%;
}
.max-height-25pc {
  max-height: 25%;
}
.height-30pc {
  height: 30%;
}
.min-height-30pc {
  min-height: 30%;
}
.max-height-30pc {
  max-height: 30%;
}
.height-35pc {
  height: 35%;
}
.min-height-35pc {
  min-height: 35%;
}
.max-height-35pc {
  max-height: 35%;
}
.height-40pc {
  height: 40%;
}
.min-height-40pc {
  min-height: 40%;
}
.max-height-40pc {
  max-height: 40%;
}
.height-45pc {
  height: 45%;
}
.min-height-45pc {
  min-height: 45%;
}
.max-height-45pc {
  max-height: 45%;
}
.height-50pc {
  height: 50%;
}
.min-height-50pc {
  min-height: 50%;
}
.max-height-50pc {
  max-height: 50%;
}
.height-55pc {
  height: 55%;
}
.min-height-55pc {
  min-height: 55%;
}
.max-height-55pc {
  max-height: 55%;
}
.height-60pc {
  height: 60%;
}
.min-height-60pc {
  min-height: 60%;
}
.max-height-60pc {
  max-height: 60%;
}
.height-65pc {
  height: 65%;
}
.min-height-65pc {
  min-height: 65%;
}
.max-height-65pc {
  max-height: 65%;
}
.height-70pc {
  height: 70%;
}
.min-height-70pc {
  min-height: 70%;
}
.max-height-70pc {
  max-height: 70%;
}
.height-75pc {
  height: 75%;
}
.min-height-75pc {
  min-height: 75%;
}
.max-height-75pc {
  max-height: 75%;
}
.height-80pc {
  height: 80%;
}
.min-height-80pc {
  min-height: 80%;
}
.max-height-80pc {
  max-height: 80%;
}
.height-85pc {
  height: 85%;
}
.min-height-85pc {
  min-height: 85%;
}
.max-height-85pc {
  max-height: 85%;
}
.height-90pc {
  height: 90%;
}
.min-height-90pc {
  min-height: 90%;
}
.max-height-90pc {
  max-height: 90%;
}
.height-95pc {
  height: 95%;
}
.min-height-95pc {
  min-height: 95%;
}
.max-height-95pc {
  max-height: 95%;
}
.height-100pc {
  height: 100%;
}
.min-height-100pc {
  min-height: 100%;
}
.max-height-100pc {
  max-height: 100%;
}
.width-0pt {
  width: 0rem;
}
.min-width-0pt {
  min-width: 0rem;
}
.max-width-0pt {
  max-width: 0rem;
}
.width-20pt {
  width: 1.25rem;
}
.min-width-20pt {
  min-width: 1.25rem;
}
.max-width-20pt {
  max-width: 1.25rem;
}
.width-40pt {
  width: 2.5rem;
}
.min-width-40pt {
  min-width: 2.5rem;
}
.max-width-40pt {
  max-width: 2.5rem;
}
.width-60pt {
  width: 3.75rem;
}
.min-width-60pt {
  min-width: 3.75rem;
}
.max-width-60pt {
  max-width: 3.75rem;
}
.width-80pt {
  width: 5rem;
}
.min-width-80pt {
  min-width: 5rem;
}
.max-width-80pt {
  max-width: 5rem;
}
.width-100pt {
  width: 6.25rem;
}
.min-width-100pt {
  min-width: 6.25rem;
}
.max-width-100pt {
  max-width: 6.25rem;
}
.width-120pt {
  width: 7.5rem;
}
.min-width-120pt {
  min-width: 7.5rem;
}
.max-width-120pt {
  max-width: 7.5rem;
}
.width-140pt {
  width: 8.75rem;
}
.min-width-140pt {
  min-width: 8.75rem;
}
.max-width-140pt {
  max-width: 8.75rem;
}
.width-160pt {
  width: 10rem;
}
.min-width-160pt {
  min-width: 10rem;
}
.max-width-160pt {
  max-width: 10rem;
}
.width-180pt {
  width: 11.25rem;
}
.min-width-180pt {
  min-width: 11.25rem;
}
.max-width-180pt {
  max-width: 11.25rem;
}
.width-200pt {
  width: 12.5rem;
}
.min-width-200pt {
  min-width: 12.5rem;
}
.max-width-200pt {
  max-width: 12.5rem;
}
.width-220pt {
  width: 13.75rem;
}
.min-width-220pt {
  min-width: 13.75rem;
}
.max-width-220pt {
  max-width: 13.75rem;
}
.width-240pt {
  width: 15rem;
}
.min-width-240pt {
  min-width: 15rem;
}
.max-width-240pt {
  max-width: 15rem;
}
.width-260pt {
  width: 16.25rem;
}
.min-width-260pt {
  min-width: 16.25rem;
}
.max-width-260pt {
  max-width: 16.25rem;
}
.width-280pt {
  width: 17.5rem;
}
.min-width-280pt {
  min-width: 17.5rem;
}
.max-width-280pt {
  max-width: 17.5rem;
}
.width-300pt {
  width: 18.75rem;
}
.min-width-300pt {
  min-width: 18.75rem;
}
.max-width-300pt {
  max-width: 18.75rem;
}
.width-320pt {
  width: 20rem;
}
.min-width-320pt {
  min-width: 20rem;
}
.max-width-320pt {
  max-width: 20rem;
}
.width-340pt {
  width: 21.25rem;
}
.min-width-340pt {
  min-width: 21.25rem;
}
.max-width-340pt {
  max-width: 21.25rem;
}
.width-360pt {
  width: 22.5rem;
}
.min-width-360pt {
  min-width: 22.5rem;
}
.max-width-360pt {
  max-width: 22.5rem;
}
.width-380pt {
  width: 23.75rem;
}
.min-width-380pt {
  min-width: 23.75rem;
}
.max-width-380pt {
  max-width: 23.75rem;
}
.width-400pt {
  width: 25rem;
}
.min-width-400pt {
  min-width: 25rem;
}
.max-width-400pt {
  max-width: 25rem;
}
.width-420pt {
  width: 26.25rem;
}
.min-width-420pt {
  min-width: 26.25rem;
}
.max-width-420pt {
  max-width: 26.25rem;
}
.width-440pt {
  width: 27.5rem;
}
.min-width-440pt {
  min-width: 27.5rem;
}
.max-width-440pt {
  max-width: 27.5rem;
}
.width-460pt {
  width: 28.75rem;
}
.min-width-460pt {
  min-width: 28.75rem;
}
.max-width-460pt {
  max-width: 28.75rem;
}
.width-480pt {
  width: 30rem;
}
.min-width-480pt {
  min-width: 30rem;
}
.max-width-480pt {
  max-width: 30rem;
}
.width-500pt {
  width: 31.25rem;
}
.min-width-500pt {
  min-width: 31.25rem;
}
.max-width-500pt {
  max-width: 31.25rem;
}
.width-520pt {
  width: 32.5rem;
}
.min-width-520pt {
  min-width: 32.5rem;
}
.max-width-520pt {
  max-width: 32.5rem;
}
.width-540pt {
  width: 33.75rem;
}
.min-width-540pt {
  min-width: 33.75rem;
}
.max-width-540pt {
  max-width: 33.75rem;
}
.width-560pt {
  width: 35rem;
}
.min-width-560pt {
  min-width: 35rem;
}
.max-width-560pt {
  max-width: 35rem;
}
.width-580pt {
  width: 36.25rem;
}
.min-width-580pt {
  min-width: 36.25rem;
}
.max-width-580pt {
  max-width: 36.25rem;
}
.width-600pt {
  width: 37.5rem;
}
.min-width-600pt {
  min-width: 37.5rem;
}
.max-width-600pt {
  max-width: 37.5rem;
}
.width-620pt {
  width: 38.75rem;
}
.min-width-620pt {
  min-width: 38.75rem;
}
.max-width-620pt {
  max-width: 38.75rem;
}
.width-640pt {
  width: 40rem;
}
.min-width-640pt {
  min-width: 40rem;
}
.max-width-640pt {
  max-width: 40rem;
}
.width-660pt {
  width: 41.25rem;
}
.min-width-660pt {
  min-width: 41.25rem;
}
.max-width-660pt {
  max-width: 41.25rem;
}
.width-680pt {
  width: 42.5rem;
}
.min-width-680pt {
  min-width: 42.5rem;
}
.max-width-680pt {
  max-width: 42.5rem;
}
.width-700pt {
  width: 43.75rem;
}
.min-width-700pt {
  min-width: 43.75rem;
}
.max-width-700pt {
  max-width: 43.75rem;
}
.width-720pt {
  width: 45rem;
}
.min-width-720pt {
  min-width: 45rem;
}
.max-width-720pt {
  max-width: 45rem;
}
.width-740pt {
  width: 46.25rem;
}
.min-width-740pt {
  min-width: 46.25rem;
}
.max-width-740pt {
  max-width: 46.25rem;
}
.width-760pt {
  width: 47.5rem;
}
.min-width-760pt {
  min-width: 47.5rem;
}
.max-width-760pt {
  max-width: 47.5rem;
}
.width-780pt {
  width: 48.75rem;
}
.min-width-780pt {
  min-width: 48.75rem;
}
.max-width-780pt {
  max-width: 48.75rem;
}
.width-800pt {
  width: 50rem;
}
.min-width-800pt {
  min-width: 50rem;
}
.max-width-800pt {
  max-width: 50rem;
}
.width-820pt {
  width: 51.25rem;
}
.min-width-820pt {
  min-width: 51.25rem;
}
.max-width-820pt {
  max-width: 51.25rem;
}
.width-840pt {
  width: 52.5rem;
}
.min-width-840pt {
  min-width: 52.5rem;
}
.max-width-840pt {
  max-width: 52.5rem;
}
.width-860pt {
  width: 53.75rem;
}
.min-width-860pt {
  min-width: 53.75rem;
}
.max-width-860pt {
  max-width: 53.75rem;
}
.width-880pt {
  width: 55rem;
}
.min-width-880pt {
  min-width: 55rem;
}
.max-width-880pt {
  max-width: 55rem;
}
.width-900pt {
  width: 56.25rem;
}
.min-width-900pt {
  min-width: 56.25rem;
}
.max-width-900pt {
  max-width: 56.25rem;
}
.width-920pt {
  width: 57.5rem;
}
.min-width-920pt {
  min-width: 57.5rem;
}
.max-width-920pt {
  max-width: 57.5rem;
}
.width-940pt {
  width: 58.75rem;
}
.min-width-940pt {
  min-width: 58.75rem;
}
.max-width-940pt {
  max-width: 58.75rem;
}
.width-960pt {
  width: 60rem;
}
.min-width-960pt {
  min-width: 60rem;
}
.max-width-960pt {
  max-width: 60rem;
}
.width-980pt {
  width: 61.25rem;
}
.min-width-980pt {
  min-width: 61.25rem;
}
.max-width-980pt {
  max-width: 61.25rem;
}
.width-1000pt {
  width: 62.5rem;
}
.min-width-1000pt {
  min-width: 62.5rem;
}
.max-width-1000pt {
  max-width: 62.5rem;
}
.width-1020pt {
  width: 63.75rem;
}
.min-width-1020pt {
  min-width: 63.75rem;
}
.max-width-1020pt {
  max-width: 63.75rem;
}
.width-1040pt {
  width: 65rem;
}
.min-width-1040pt {
  min-width: 65rem;
}
.max-width-1040pt {
  max-width: 65rem;
}
.width-1060pt {
  width: 66.25rem;
}
.min-width-1060pt {
  min-width: 66.25rem;
}
.max-width-1060pt {
  max-width: 66.25rem;
}
.width-1080pt {
  width: 67.5rem;
}
.min-width-1080pt {
  min-width: 67.5rem;
}
.max-width-1080pt {
  max-width: 67.5rem;
}
.width-1100pt {
  width: 68.75rem;
}
.min-width-1100pt {
  min-width: 68.75rem;
}
.max-width-1100pt {
  max-width: 68.75rem;
}
.width-1120pt {
  width: 70rem;
}
.min-width-1120pt {
  min-width: 70rem;
}
.max-width-1120pt {
  max-width: 70rem;
}
.width-1140pt {
  width: 71.25rem;
}
.min-width-1140pt {
  min-width: 71.25rem;
}
.max-width-1140pt {
  max-width: 71.25rem;
}
.width-1160pt {
  width: 72.5rem;
}
.min-width-1160pt {
  min-width: 72.5rem;
}
.max-width-1160pt {
  max-width: 72.5rem;
}
.width-1180pt {
  width: 73.75rem;
}
.min-width-1180pt {
  min-width: 73.75rem;
}
.max-width-1180pt {
  max-width: 73.75rem;
}
.width-1200pt {
  width: 75rem;
}
.min-width-1200pt {
  min-width: 75rem;
}
.max-width-1200pt {
  max-width: 75rem;
}
.height-0pt {
  height: 0rem;
}
.min-height-0pt {
  min-height: 0rem;
}
.max-height-0pt {
  max-height: 0rem;
}
.height-20pt {
  height: 1.25rem;
}
.min-height-20pt {
  min-height: 1.25rem;
}
.max-height-20pt {
  max-height: 1.25rem;
}
.height-40pt {
  height: 2.5rem;
}
.min-height-40pt {
  min-height: 2.5rem;
}
.max-height-40pt {
  max-height: 2.5rem;
}
.height-60pt {
  height: 3.75rem;
}
.min-height-60pt {
  min-height: 3.75rem;
}
.max-height-60pt {
  max-height: 3.75rem;
}
.height-80pt {
  height: 5rem;
}
.min-height-80pt {
  min-height: 5rem;
}
.max-height-80pt {
  max-height: 5rem;
}
.height-100pt {
  height: 6.25rem;
}
.min-height-100pt {
  min-height: 6.25rem;
}
.max-height-100pt {
  max-height: 6.25rem;
}
.height-120pt {
  height: 7.5rem;
}
.min-height-120pt {
  min-height: 7.5rem;
}
.max-height-120pt {
  max-height: 7.5rem;
}
.height-140pt {
  height: 8.75rem;
}
.min-height-140pt {
  min-height: 8.75rem;
}
.max-height-140pt {
  max-height: 8.75rem;
}
.height-160pt {
  height: 10rem;
}
.min-height-160pt {
  min-height: 10rem;
}
.max-height-160pt {
  max-height: 10rem;
}
.height-180pt {
  height: 11.25rem;
}
.min-height-180pt {
  min-height: 11.25rem;
}
.max-height-180pt {
  max-height: 11.25rem;
}
.height-200pt {
  height: 12.5rem;
}
.min-height-200pt {
  min-height: 12.5rem;
}
.max-height-200pt {
  max-height: 12.5rem;
}
.height-220pt {
  height: 13.75rem;
}
.min-height-220pt {
  min-height: 13.75rem;
}
.max-height-220pt {
  max-height: 13.75rem;
}
.height-240pt {
  height: 15rem;
}
.min-height-240pt {
  min-height: 15rem;
}
.max-height-240pt {
  max-height: 15rem;
}
.height-260pt {
  height: 16.25rem;
}
.min-height-260pt {
  min-height: 16.25rem;
}
.max-height-260pt {
  max-height: 16.25rem;
}
.height-280pt {
  height: 17.5rem;
}
.min-height-280pt {
  min-height: 17.5rem;
}
.max-height-280pt {
  max-height: 17.5rem;
}
.height-300pt {
  height: 18.75rem;
}
.min-height-300pt {
  min-height: 18.75rem;
}
.max-height-300pt {
  max-height: 18.75rem;
}
.height-320pt {
  height: 20rem;
}
.min-height-320pt {
  min-height: 20rem;
}
.max-height-320pt {
  max-height: 20rem;
}
.height-340pt {
  height: 21.25rem;
}
.min-height-340pt {
  min-height: 21.25rem;
}
.max-height-340pt {
  max-height: 21.25rem;
}
.height-360pt {
  height: 22.5rem;
}
.min-height-360pt {
  min-height: 22.5rem;
}
.max-height-360pt {
  max-height: 22.5rem;
}
.height-380pt {
  height: 23.75rem;
}
.min-height-380pt {
  min-height: 23.75rem;
}
.max-height-380pt {
  max-height: 23.75rem;
}
.height-400pt {
  height: 25rem;
}
.min-height-400pt {
  min-height: 25rem;
}
.max-height-400pt {
  max-height: 25rem;
}
.height-420pt {
  height: 26.25rem;
}
.min-height-420pt {
  min-height: 26.25rem;
}
.max-height-420pt {
  max-height: 26.25rem;
}
.height-440pt {
  height: 27.5rem;
}
.min-height-440pt {
  min-height: 27.5rem;
}
.max-height-440pt {
  max-height: 27.5rem;
}
.height-460pt {
  height: 28.75rem;
}
.min-height-460pt {
  min-height: 28.75rem;
}
.max-height-460pt {
  max-height: 28.75rem;
}
.height-480pt {
  height: 30rem;
}
.min-height-480pt {
  min-height: 30rem;
}
.max-height-480pt {
  max-height: 30rem;
}
.height-500pt {
  height: 31.25rem;
}
.min-height-500pt {
  min-height: 31.25rem;
}
.max-height-500pt {
  max-height: 31.25rem;
}
.height-520pt {
  height: 32.5rem;
}
.min-height-520pt {
  min-height: 32.5rem;
}
.max-height-520pt {
  max-height: 32.5rem;
}
.height-540pt {
  height: 33.75rem;
}
.min-height-540pt {
  min-height: 33.75rem;
}
.max-height-540pt {
  max-height: 33.75rem;
}
.height-560pt {
  height: 35rem;
}
.min-height-560pt {
  min-height: 35rem;
}
.max-height-560pt {
  max-height: 35rem;
}
.height-580pt {
  height: 36.25rem;
}
.min-height-580pt {
  min-height: 36.25rem;
}
.max-height-580pt {
  max-height: 36.25rem;
}
.height-600pt {
  height: 37.5rem;
}
.min-height-600pt {
  min-height: 37.5rem;
}
.max-height-600pt {
  max-height: 37.5rem;
}
.height-620pt {
  height: 38.75rem;
}
.min-height-620pt {
  min-height: 38.75rem;
}
.max-height-620pt {
  max-height: 38.75rem;
}
.height-640pt {
  height: 40rem;
}
.min-height-640pt {
  min-height: 40rem;
}
.max-height-640pt {
  max-height: 40rem;
}
.height-660pt {
  height: 41.25rem;
}
.min-height-660pt {
  min-height: 41.25rem;
}
.max-height-660pt {
  max-height: 41.25rem;
}
.height-680pt {
  height: 42.5rem;
}
.min-height-680pt {
  min-height: 42.5rem;
}
.max-height-680pt {
  max-height: 42.5rem;
}
.height-700pt {
  height: 43.75rem;
}
.min-height-700pt {
  min-height: 43.75rem;
}
.max-height-700pt {
  max-height: 43.75rem;
}
.height-720pt {
  height: 45rem;
}
.min-height-720pt {
  min-height: 45rem;
}
.max-height-720pt {
  max-height: 45rem;
}
.height-740pt {
  height: 46.25rem;
}
.min-height-740pt {
  min-height: 46.25rem;
}
.max-height-740pt {
  max-height: 46.25rem;
}
.height-760pt {
  height: 47.5rem;
}
.min-height-760pt {
  min-height: 47.5rem;
}
.max-height-760pt {
  max-height: 47.5rem;
}
.height-780pt {
  height: 48.75rem;
}
.min-height-780pt {
  min-height: 48.75rem;
}
.max-height-780pt {
  max-height: 48.75rem;
}
.height-800pt {
  height: 50rem;
}
.min-height-800pt {
  min-height: 50rem;
}
.max-height-800pt {
  max-height: 50rem;
}
.height-820pt {
  height: 51.25rem;
}
.min-height-820pt {
  min-height: 51.25rem;
}
.max-height-820pt {
  max-height: 51.25rem;
}
.height-840pt {
  height: 52.5rem;
}
.min-height-840pt {
  min-height: 52.5rem;
}
.max-height-840pt {
  max-height: 52.5rem;
}
.height-860pt {
  height: 53.75rem;
}
.min-height-860pt {
  min-height: 53.75rem;
}
.max-height-860pt {
  max-height: 53.75rem;
}
.height-880pt {
  height: 55rem;
}
.min-height-880pt {
  min-height: 55rem;
}
.max-height-880pt {
  max-height: 55rem;
}
.height-900pt {
  height: 56.25rem;
}
.min-height-900pt {
  min-height: 56.25rem;
}
.max-height-900pt {
  max-height: 56.25rem;
}
.height-920pt {
  height: 57.5rem;
}
.min-height-920pt {
  min-height: 57.5rem;
}
.max-height-920pt {
  max-height: 57.5rem;
}
.height-940pt {
  height: 58.75rem;
}
.min-height-940pt {
  min-height: 58.75rem;
}
.max-height-940pt {
  max-height: 58.75rem;
}
.height-960pt {
  height: 60rem;
}
.min-height-960pt {
  min-height: 60rem;
}
.max-height-960pt {
  max-height: 60rem;
}
.height-980pt {
  height: 61.25rem;
}
.min-height-980pt {
  min-height: 61.25rem;
}
.max-height-980pt {
  max-height: 61.25rem;
}
.height-1000pt {
  height: 62.5rem;
}
.min-height-1000pt {
  min-height: 62.5rem;
}
.max-height-1000pt {
  max-height: 62.5rem;
}
.height-1020pt {
  height: 63.75rem;
}
.min-height-1020pt {
  min-height: 63.75rem;
}
.max-height-1020pt {
  max-height: 63.75rem;
}
.height-1040pt {
  height: 65rem;
}
.min-height-1040pt {
  min-height: 65rem;
}
.max-height-1040pt {
  max-height: 65rem;
}
.height-1060pt {
  height: 66.25rem;
}
.min-height-1060pt {
  min-height: 66.25rem;
}
.max-height-1060pt {
  max-height: 66.25rem;
}
.height-1080pt {
  height: 67.5rem;
}
.min-height-1080pt {
  min-height: 67.5rem;
}
.max-height-1080pt {
  max-height: 67.5rem;
}
.height-1100pt {
  height: 68.75rem;
}
.min-height-1100pt {
  min-height: 68.75rem;
}
.max-height-1100pt {
  max-height: 68.75rem;
}
.height-1120pt {
  height: 70rem;
}
.min-height-1120pt {
  min-height: 70rem;
}
.max-height-1120pt {
  max-height: 70rem;
}
.height-1140pt {
  height: 71.25rem;
}
.min-height-1140pt {
  min-height: 71.25rem;
}
.max-height-1140pt {
  max-height: 71.25rem;
}
.height-1160pt {
  height: 72.5rem;
}
.min-height-1160pt {
  min-height: 72.5rem;
}
.max-height-1160pt {
  max-height: 72.5rem;
}
.height-1180pt {
  height: 73.75rem;
}
.min-height-1180pt {
  min-height: 73.75rem;
}
.max-height-1180pt {
  max-height: 73.75rem;
}
.height-1200pt {
  height: 75rem;
}
.min-height-1200pt {
  min-height: 75rem;
}
.max-height-1200pt {
  max-height: 75rem;
}
.padding-0pt {
  padding: 0rem !important;
}
.padding-horizontal-0pt {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.padding-vertical-0pt {
  padding-bottom: 0rem !important;
  padding-top: 0rem !important;
}
.padding-left-0pt {
  padding-left: 0rem !important;
}
.padding-right-0pt {
  padding-right: 0rem !important;
}
.padding-bottom-0pt {
  padding-bottom: 0rem !important;
}
.padding-top-0pt {
  padding-top: 0rem !important;
}
.padding-5pt {
  padding: 0.3125rem !important;
}
.padding-horizontal-5pt {
  padding-left: 0.3125rem !important;
  padding-right: 0.3125rem !important;
}
.padding-vertical-5pt {
  padding-bottom: 0.3125rem !important;
  padding-top: 0.3125rem !important;
}
.padding-left-5pt {
  padding-left: 0.3125rem !important;
}
.padding-right-5pt {
  padding-right: 0.3125rem !important;
}
.padding-bottom-5pt {
  padding-bottom: 0.3125rem !important;
}
.padding-top-5pt {
  padding-top: 0.3125rem !important;
}
.padding-10pt {
  padding: 0.625rem !important;
}
.padding-horizontal-10pt {
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important;
}
.padding-vertical-10pt {
  padding-bottom: 0.625rem !important;
  padding-top: 0.625rem !important;
}
.padding-left-10pt {
  padding-left: 0.625rem !important;
}
.padding-right-10pt {
  padding-right: 0.625rem !important;
}
.padding-bottom-10pt {
  padding-bottom: 0.625rem !important;
}
.padding-top-10pt {
  padding-top: 0.625rem !important;
}
.padding-15pt {
  padding: 0.9375rem !important;
}
.padding-horizontal-15pt {
  padding-left: 0.9375rem !important;
  padding-right: 0.9375rem !important;
}
.padding-vertical-15pt {
  padding-bottom: 0.9375rem !important;
  padding-top: 0.9375rem !important;
}
.padding-left-15pt {
  padding-left: 0.9375rem !important;
}
.padding-right-15pt {
  padding-right: 0.9375rem !important;
}
.padding-bottom-15pt {
  padding-bottom: 0.9375rem !important;
}
.padding-top-15pt {
  padding-top: 0.9375rem !important;
}
.padding-20pt {
  padding: 1.25rem !important;
}
.padding-horizontal-20pt {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}
.padding-vertical-20pt {
  padding-bottom: 1.25rem !important;
  padding-top: 1.25rem !important;
}
.padding-left-20pt {
  padding-left: 1.25rem !important;
}
.padding-right-20pt {
  padding-right: 1.25rem !important;
}
.padding-bottom-20pt {
  padding-bottom: 1.25rem !important;
}
.padding-top-20pt {
  padding-top: 1.25rem !important;
}
.padding-25pt {
  padding: 1.5625rem !important;
}
.padding-horizontal-25pt {
  padding-left: 1.5625rem !important;
  padding-right: 1.5625rem !important;
}
.padding-vertical-25pt {
  padding-bottom: 1.5625rem !important;
  padding-top: 1.5625rem !important;
}
.padding-left-25pt {
  padding-left: 1.5625rem !important;
}
.padding-right-25pt {
  padding-right: 1.5625rem !important;
}
.padding-bottom-25pt {
  padding-bottom: 1.5625rem !important;
}
.padding-top-25pt {
  padding-top: 1.5625rem !important;
}
.padding-30pt {
  padding: 1.875rem !important;
}
.padding-horizontal-30pt {
  padding-left: 1.875rem !important;
  padding-right: 1.875rem !important;
}
.padding-vertical-30pt {
  padding-bottom: 1.875rem !important;
  padding-top: 1.875rem !important;
}
.padding-left-30pt {
  padding-left: 1.875rem !important;
}
.padding-right-30pt {
  padding-right: 1.875rem !important;
}
.padding-bottom-30pt {
  padding-bottom: 1.875rem !important;
}
.padding-top-30pt {
  padding-top: 1.875rem !important;
}
.padding-35pt {
  padding: 2.1875rem !important;
}
.padding-horizontal-35pt {
  padding-left: 2.1875rem !important;
  padding-right: 2.1875rem !important;
}
.padding-vertical-35pt {
  padding-bottom: 2.1875rem !important;
  padding-top: 2.1875rem !important;
}
.padding-left-35pt {
  padding-left: 2.1875rem !important;
}
.padding-right-35pt {
  padding-right: 2.1875rem !important;
}
.padding-bottom-35pt {
  padding-bottom: 2.1875rem !important;
}
.padding-top-35pt {
  padding-top: 2.1875rem !important;
}
.padding-40pt {
  padding: 2.5rem !important;
}
.padding-horizontal-40pt {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}
.padding-vertical-40pt {
  padding-bottom: 2.5rem !important;
  padding-top: 2.5rem !important;
}
.padding-left-40pt {
  padding-left: 2.5rem !important;
}
.padding-right-40pt {
  padding-right: 2.5rem !important;
}
.padding-bottom-40pt {
  padding-bottom: 2.5rem !important;
}
.padding-top-40pt {
  padding-top: 2.5rem !important;
}
.padding-45pt {
  padding: 2.8125rem !important;
}
.padding-horizontal-45pt {
  padding-left: 2.8125rem !important;
  padding-right: 2.8125rem !important;
}
.padding-vertical-45pt {
  padding-bottom: 2.8125rem !important;
  padding-top: 2.8125rem !important;
}
.padding-left-45pt {
  padding-left: 2.8125rem !important;
}
.padding-right-45pt {
  padding-right: 2.8125rem !important;
}
.padding-bottom-45pt {
  padding-bottom: 2.8125rem !important;
}
.padding-top-45pt {
  padding-top: 2.8125rem !important;
}
.padding-50pt {
  padding: 3.125rem !important;
}
.padding-horizontal-50pt {
  padding-left: 3.125rem !important;
  padding-right: 3.125rem !important;
}
.padding-vertical-50pt {
  padding-bottom: 3.125rem !important;
  padding-top: 3.125rem !important;
}
.padding-left-50pt {
  padding-left: 3.125rem !important;
}
.padding-right-50pt {
  padding-right: 3.125rem !important;
}
.padding-bottom-50pt {
  padding-bottom: 3.125rem !important;
}
.padding-top-50pt {
  padding-top: 3.125rem !important;
}
.padding-55pt {
  padding: 3.4375rem !important;
}
.padding-horizontal-55pt {
  padding-left: 3.4375rem !important;
  padding-right: 3.4375rem !important;
}
.padding-vertical-55pt {
  padding-bottom: 3.4375rem !important;
  padding-top: 3.4375rem !important;
}
.padding-left-55pt {
  padding-left: 3.4375rem !important;
}
.padding-right-55pt {
  padding-right: 3.4375rem !important;
}
.padding-bottom-55pt {
  padding-bottom: 3.4375rem !important;
}
.padding-top-55pt {
  padding-top: 3.4375rem !important;
}
.padding-60pt {
  padding: 3.75rem !important;
}
.padding-horizontal-60pt {
  padding-left: 3.75rem !important;
  padding-right: 3.75rem !important;
}
.padding-vertical-60pt {
  padding-bottom: 3.75rem !important;
  padding-top: 3.75rem !important;
}
.padding-left-60pt {
  padding-left: 3.75rem !important;
}
.padding-right-60pt {
  padding-right: 3.75rem !important;
}
.padding-bottom-60pt {
  padding-bottom: 3.75rem !important;
}
.padding-top-60pt {
  padding-top: 3.75rem !important;
}
.padding-65pt {
  padding: 4.0625rem !important;
}
.padding-horizontal-65pt {
  padding-left: 4.0625rem !important;
  padding-right: 4.0625rem !important;
}
.padding-vertical-65pt {
  padding-bottom: 4.0625rem !important;
  padding-top: 4.0625rem !important;
}
.padding-left-65pt {
  padding-left: 4.0625rem !important;
}
.padding-right-65pt {
  padding-right: 4.0625rem !important;
}
.padding-bottom-65pt {
  padding-bottom: 4.0625rem !important;
}
.padding-top-65pt {
  padding-top: 4.0625rem !important;
}
.padding-70pt {
  padding: 4.375rem !important;
}
.padding-horizontal-70pt {
  padding-left: 4.375rem !important;
  padding-right: 4.375rem !important;
}
.padding-vertical-70pt {
  padding-bottom: 4.375rem !important;
  padding-top: 4.375rem !important;
}
.padding-left-70pt {
  padding-left: 4.375rem !important;
}
.padding-right-70pt {
  padding-right: 4.375rem !important;
}
.padding-bottom-70pt {
  padding-bottom: 4.375rem !important;
}
.padding-top-70pt {
  padding-top: 4.375rem !important;
}
.padding-75pt {
  padding: 4.6875rem !important;
}
.padding-horizontal-75pt {
  padding-left: 4.6875rem !important;
  padding-right: 4.6875rem !important;
}
.padding-vertical-75pt {
  padding-bottom: 4.6875rem !important;
  padding-top: 4.6875rem !important;
}
.padding-left-75pt {
  padding-left: 4.6875rem !important;
}
.padding-right-75pt {
  padding-right: 4.6875rem !important;
}
.padding-bottom-75pt {
  padding-bottom: 4.6875rem !important;
}
.padding-top-75pt {
  padding-top: 4.6875rem !important;
}
.padding-80pt {
  padding: 5rem !important;
}
.padding-horizontal-80pt {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
.padding-vertical-80pt {
  padding-bottom: 5rem !important;
  padding-top: 5rem !important;
}
.padding-left-80pt {
  padding-left: 5rem !important;
}
.padding-right-80pt {
  padding-right: 5rem !important;
}
.padding-bottom-80pt {
  padding-bottom: 5rem !important;
}
.padding-top-80pt {
  padding-top: 5rem !important;
}
.padding-85pt {
  padding: 5.3125rem !important;
}
.padding-horizontal-85pt {
  padding-left: 5.3125rem !important;
  padding-right: 5.3125rem !important;
}
.padding-vertical-85pt {
  padding-bottom: 5.3125rem !important;
  padding-top: 5.3125rem !important;
}
.padding-left-85pt {
  padding-left: 5.3125rem !important;
}
.padding-right-85pt {
  padding-right: 5.3125rem !important;
}
.padding-bottom-85pt {
  padding-bottom: 5.3125rem !important;
}
.padding-top-85pt {
  padding-top: 5.3125rem !important;
}
.padding-90pt {
  padding: 5.625rem !important;
}
.padding-horizontal-90pt {
  padding-left: 5.625rem !important;
  padding-right: 5.625rem !important;
}
.padding-vertical-90pt {
  padding-bottom: 5.625rem !important;
  padding-top: 5.625rem !important;
}
.padding-left-90pt {
  padding-left: 5.625rem !important;
}
.padding-right-90pt {
  padding-right: 5.625rem !important;
}
.padding-bottom-90pt {
  padding-bottom: 5.625rem !important;
}
.padding-top-90pt {
  padding-top: 5.625rem !important;
}
.padding-95pt {
  padding: 5.9375rem !important;
}
.padding-horizontal-95pt {
  padding-left: 5.9375rem !important;
  padding-right: 5.9375rem !important;
}
.padding-vertical-95pt {
  padding-bottom: 5.9375rem !important;
  padding-top: 5.9375rem !important;
}
.padding-left-95pt {
  padding-left: 5.9375rem !important;
}
.padding-right-95pt {
  padding-right: 5.9375rem !important;
}
.padding-bottom-95pt {
  padding-bottom: 5.9375rem !important;
}
.padding-top-95pt {
  padding-top: 5.9375rem !important;
}
.padding-100pt {
  padding: 6.25rem !important;
}
.padding-horizontal-100pt {
  padding-left: 6.25rem !important;
  padding-right: 6.25rem !important;
}
.padding-vertical-100pt {
  padding-bottom: 6.25rem !important;
  padding-top: 6.25rem !important;
}
.padding-left-100pt {
  padding-left: 6.25rem !important;
}
.padding-right-100pt {
  padding-right: 6.25rem !important;
}
.padding-bottom-100pt {
  padding-bottom: 6.25rem !important;
}
.padding-top-100pt {
  padding-top: 6.25rem !important;
}
.padding-105pt {
  padding: 6.5625rem !important;
}
.padding-horizontal-105pt {
  padding-left: 6.5625rem !important;
  padding-right: 6.5625rem !important;
}
.padding-vertical-105pt {
  padding-bottom: 6.5625rem !important;
  padding-top: 6.5625rem !important;
}
.padding-left-105pt {
  padding-left: 6.5625rem !important;
}
.padding-right-105pt {
  padding-right: 6.5625rem !important;
}
.padding-bottom-105pt {
  padding-bottom: 6.5625rem !important;
}
.padding-top-105pt {
  padding-top: 6.5625rem !important;
}
.padding-110pt {
  padding: 6.875rem !important;
}
.padding-horizontal-110pt {
  padding-left: 6.875rem !important;
  padding-right: 6.875rem !important;
}
.padding-vertical-110pt {
  padding-bottom: 6.875rem !important;
  padding-top: 6.875rem !important;
}
.padding-left-110pt {
  padding-left: 6.875rem !important;
}
.padding-right-110pt {
  padding-right: 6.875rem !important;
}
.padding-bottom-110pt {
  padding-bottom: 6.875rem !important;
}
.padding-top-110pt {
  padding-top: 6.875rem !important;
}
.padding-115pt {
  padding: 7.1875rem !important;
}
.padding-horizontal-115pt {
  padding-left: 7.1875rem !important;
  padding-right: 7.1875rem !important;
}
.padding-vertical-115pt {
  padding-bottom: 7.1875rem !important;
  padding-top: 7.1875rem !important;
}
.padding-left-115pt {
  padding-left: 7.1875rem !important;
}
.padding-right-115pt {
  padding-right: 7.1875rem !important;
}
.padding-bottom-115pt {
  padding-bottom: 7.1875rem !important;
}
.padding-top-115pt {
  padding-top: 7.1875rem !important;
}
.padding-120pt {
  padding: 7.5rem !important;
}
.padding-horizontal-120pt {
  padding-left: 7.5rem !important;
  padding-right: 7.5rem !important;
}
.padding-vertical-120pt {
  padding-bottom: 7.5rem !important;
  padding-top: 7.5rem !important;
}
.padding-left-120pt {
  padding-left: 7.5rem !important;
}
.padding-right-120pt {
  padding-right: 7.5rem !important;
}
.padding-bottom-120pt {
  padding-bottom: 7.5rem !important;
}
.padding-top-120pt {
  padding-top: 7.5rem !important;
}
.padding-125pt {
  padding: 7.8125rem !important;
}
.padding-horizontal-125pt {
  padding-left: 7.8125rem !important;
  padding-right: 7.8125rem !important;
}
.padding-vertical-125pt {
  padding-bottom: 7.8125rem !important;
  padding-top: 7.8125rem !important;
}
.padding-left-125pt {
  padding-left: 7.8125rem !important;
}
.padding-right-125pt {
  padding-right: 7.8125rem !important;
}
.padding-bottom-125pt {
  padding-bottom: 7.8125rem !important;
}
.padding-top-125pt {
  padding-top: 7.8125rem !important;
}
.padding-130pt {
  padding: 8.125rem !important;
}
.padding-horizontal-130pt {
  padding-left: 8.125rem !important;
  padding-right: 8.125rem !important;
}
.padding-vertical-130pt {
  padding-bottom: 8.125rem !important;
  padding-top: 8.125rem !important;
}
.padding-left-130pt {
  padding-left: 8.125rem !important;
}
.padding-right-130pt {
  padding-right: 8.125rem !important;
}
.padding-bottom-130pt {
  padding-bottom: 8.125rem !important;
}
.padding-top-130pt {
  padding-top: 8.125rem !important;
}
.padding-135pt {
  padding: 8.4375rem !important;
}
.padding-horizontal-135pt {
  padding-left: 8.4375rem !important;
  padding-right: 8.4375rem !important;
}
.padding-vertical-135pt {
  padding-bottom: 8.4375rem !important;
  padding-top: 8.4375rem !important;
}
.padding-left-135pt {
  padding-left: 8.4375rem !important;
}
.padding-right-135pt {
  padding-right: 8.4375rem !important;
}
.padding-bottom-135pt {
  padding-bottom: 8.4375rem !important;
}
.padding-top-135pt {
  padding-top: 8.4375rem !important;
}
.padding-140pt {
  padding: 8.75rem !important;
}
.padding-horizontal-140pt {
  padding-left: 8.75rem !important;
  padding-right: 8.75rem !important;
}
.padding-vertical-140pt {
  padding-bottom: 8.75rem !important;
  padding-top: 8.75rem !important;
}
.padding-left-140pt {
  padding-left: 8.75rem !important;
}
.padding-right-140pt {
  padding-right: 8.75rem !important;
}
.padding-bottom-140pt {
  padding-bottom: 8.75rem !important;
}
.padding-top-140pt {
  padding-top: 8.75rem !important;
}
.padding-145pt {
  padding: 9.0625rem !important;
}
.padding-horizontal-145pt {
  padding-left: 9.0625rem !important;
  padding-right: 9.0625rem !important;
}
.padding-vertical-145pt {
  padding-bottom: 9.0625rem !important;
  padding-top: 9.0625rem !important;
}
.padding-left-145pt {
  padding-left: 9.0625rem !important;
}
.padding-right-145pt {
  padding-right: 9.0625rem !important;
}
.padding-bottom-145pt {
  padding-bottom: 9.0625rem !important;
}
.padding-top-145pt {
  padding-top: 9.0625rem !important;
}
.padding-150pt {
  padding: 9.375rem !important;
}
.padding-horizontal-150pt {
  padding-left: 9.375rem !important;
  padding-right: 9.375rem !important;
}
.padding-vertical-150pt {
  padding-bottom: 9.375rem !important;
  padding-top: 9.375rem !important;
}
.padding-left-150pt {
  padding-left: 9.375rem !important;
}
.padding-right-150pt {
  padding-right: 9.375rem !important;
}
.padding-bottom-150pt {
  padding-bottom: 9.375rem !important;
}
.padding-top-150pt {
  padding-top: 9.375rem !important;
}
.margin-0pt {
  margin: 0rem !important;
}
.margin-horizontal-0pt {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}
.margin-vertical-0pt {
  margin-bottom: 0rem !important;
  margin-top: 0rem !important;
}
.margin-left-0pt {
  margin-left: 0rem !important;
}
.margin-right-0pt {
  margin-right: 0rem !important;
}
.margin-bottom-0pt {
  margin-bottom: 0rem !important;
}
.margin-top-0pt {
  margin-top: 0rem !important;
}
.margin-5pt {
  margin: 0.3125rem !important;
}
.margin-horizontal-5pt {
  margin-left: 0.3125rem !important;
  margin-right: 0.3125rem !important;
}
.margin-vertical-5pt {
  margin-bottom: 0.3125rem !important;
  margin-top: 0.3125rem !important;
}
.margin-left-5pt {
  margin-left: 0.3125rem !important;
}
.margin-right-5pt {
  margin-right: 0.3125rem !important;
}
.margin-bottom-5pt {
  margin-bottom: 0.3125rem !important;
}
.margin-top-5pt {
  margin-top: 0.3125rem !important;
}
.margin-10pt {
  margin: 0.625rem !important;
}
.margin-horizontal-10pt {
  margin-left: 0.625rem !important;
  margin-right: 0.625rem !important;
}
.margin-vertical-10pt {
  margin-bottom: 0.625rem !important;
  margin-top: 0.625rem !important;
}
.margin-left-10pt {
  margin-left: 0.625rem !important;
}
.margin-right-10pt {
  margin-right: 0.625rem !important;
}
.margin-bottom-10pt {
  margin-bottom: 0.625rem !important;
}
.margin-top-10pt {
  margin-top: 0.625rem !important;
}
.margin-15pt {
  margin: 0.9375rem !important;
}
.margin-horizontal-15pt {
  margin-left: 0.9375rem !important;
  margin-right: 0.9375rem !important;
}
.margin-vertical-15pt {
  margin-bottom: 0.9375rem !important;
  margin-top: 0.9375rem !important;
}
.margin-left-15pt {
  margin-left: 0.9375rem !important;
}
.margin-right-15pt {
  margin-right: 0.9375rem !important;
}
.margin-bottom-15pt {
  margin-bottom: 0.9375rem !important;
}
.margin-top-15pt {
  margin-top: 0.9375rem !important;
}
.margin-20pt {
  margin: 1.25rem !important;
}
.margin-horizontal-20pt {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
}
.margin-vertical-20pt {
  margin-bottom: 1.25rem !important;
  margin-top: 1.25rem !important;
}
.margin-left-20pt {
  margin-left: 1.25rem !important;
}
.margin-right-20pt {
  margin-right: 1.25rem !important;
}
.margin-bottom-20pt {
  margin-bottom: 1.25rem !important;
}
.margin-top-20pt {
  margin-top: 1.25rem !important;
}
.margin-25pt {
  margin: 1.5625rem !important;
}
.margin-horizontal-25pt {
  margin-left: 1.5625rem !important;
  margin-right: 1.5625rem !important;
}
.margin-vertical-25pt {
  margin-bottom: 1.5625rem !important;
  margin-top: 1.5625rem !important;
}
.margin-left-25pt {
  margin-left: 1.5625rem !important;
}
.margin-right-25pt {
  margin-right: 1.5625rem !important;
}
.margin-bottom-25pt {
  margin-bottom: 1.5625rem !important;
}
.margin-top-25pt {
  margin-top: 1.5625rem !important;
}
.margin-30pt {
  margin: 1.875rem !important;
}
.margin-horizontal-30pt {
  margin-left: 1.875rem !important;
  margin-right: 1.875rem !important;
}
.margin-vertical-30pt {
  margin-bottom: 1.875rem !important;
  margin-top: 1.875rem !important;
}
.margin-left-30pt {
  margin-left: 1.875rem !important;
}
.margin-right-30pt {
  margin-right: 1.875rem !important;
}
.margin-bottom-30pt {
  margin-bottom: 1.875rem !important;
}
.margin-top-30pt {
  margin-top: 1.875rem !important;
}
.margin-35pt {
  margin: 2.1875rem !important;
}
.margin-horizontal-35pt {
  margin-left: 2.1875rem !important;
  margin-right: 2.1875rem !important;
}
.margin-vertical-35pt {
  margin-bottom: 2.1875rem !important;
  margin-top: 2.1875rem !important;
}
.margin-left-35pt {
  margin-left: 2.1875rem !important;
}
.margin-right-35pt {
  margin-right: 2.1875rem !important;
}
.margin-bottom-35pt {
  margin-bottom: 2.1875rem !important;
}
.margin-top-35pt {
  margin-top: 2.1875rem !important;
}
.margin-40pt {
  margin: 2.5rem !important;
}
.margin-horizontal-40pt {
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
}
.margin-vertical-40pt {
  margin-bottom: 2.5rem !important;
  margin-top: 2.5rem !important;
}
.margin-left-40pt {
  margin-left: 2.5rem !important;
}
.margin-right-40pt {
  margin-right: 2.5rem !important;
}
.margin-bottom-40pt {
  margin-bottom: 2.5rem !important;
}
.margin-top-40pt {
  margin-top: 2.5rem !important;
}
.margin-45pt {
  margin: 2.8125rem !important;
}
.margin-horizontal-45pt {
  margin-left: 2.8125rem !important;
  margin-right: 2.8125rem !important;
}
.margin-vertical-45pt {
  margin-bottom: 2.8125rem !important;
  margin-top: 2.8125rem !important;
}
.margin-left-45pt {
  margin-left: 2.8125rem !important;
}
.margin-right-45pt {
  margin-right: 2.8125rem !important;
}
.margin-bottom-45pt {
  margin-bottom: 2.8125rem !important;
}
.margin-top-45pt {
  margin-top: 2.8125rem !important;
}
.margin-50pt {
  margin: 3.125rem !important;
}
.margin-horizontal-50pt {
  margin-left: 3.125rem !important;
  margin-right: 3.125rem !important;
}
.margin-vertical-50pt {
  margin-bottom: 3.125rem !important;
  margin-top: 3.125rem !important;
}
.margin-left-50pt {
  margin-left: 3.125rem !important;
}
.margin-right-50pt {
  margin-right: 3.125rem !important;
}
.margin-bottom-50pt {
  margin-bottom: 3.125rem !important;
}
.margin-top-50pt {
  margin-top: 3.125rem !important;
}
.margin-55pt {
  margin: 3.4375rem !important;
}
.margin-horizontal-55pt {
  margin-left: 3.4375rem !important;
  margin-right: 3.4375rem !important;
}
.margin-vertical-55pt {
  margin-bottom: 3.4375rem !important;
  margin-top: 3.4375rem !important;
}
.margin-left-55pt {
  margin-left: 3.4375rem !important;
}
.margin-right-55pt {
  margin-right: 3.4375rem !important;
}
.margin-bottom-55pt {
  margin-bottom: 3.4375rem !important;
}
.margin-top-55pt {
  margin-top: 3.4375rem !important;
}
.margin-60pt {
  margin: 3.75rem !important;
}
.margin-horizontal-60pt {
  margin-left: 3.75rem !important;
  margin-right: 3.75rem !important;
}
.margin-vertical-60pt {
  margin-bottom: 3.75rem !important;
  margin-top: 3.75rem !important;
}
.margin-left-60pt {
  margin-left: 3.75rem !important;
}
.margin-right-60pt {
  margin-right: 3.75rem !important;
}
.margin-bottom-60pt {
  margin-bottom: 3.75rem !important;
}
.margin-top-60pt {
  margin-top: 3.75rem !important;
}
.margin-65pt {
  margin: 4.0625rem !important;
}
.margin-horizontal-65pt {
  margin-left: 4.0625rem !important;
  margin-right: 4.0625rem !important;
}
.margin-vertical-65pt {
  margin-bottom: 4.0625rem !important;
  margin-top: 4.0625rem !important;
}
.margin-left-65pt {
  margin-left: 4.0625rem !important;
}
.margin-right-65pt {
  margin-right: 4.0625rem !important;
}
.margin-bottom-65pt {
  margin-bottom: 4.0625rem !important;
}
.margin-top-65pt {
  margin-top: 4.0625rem !important;
}
.margin-70pt {
  margin: 4.375rem !important;
}
.margin-horizontal-70pt {
  margin-left: 4.375rem !important;
  margin-right: 4.375rem !important;
}
.margin-vertical-70pt {
  margin-bottom: 4.375rem !important;
  margin-top: 4.375rem !important;
}
.margin-left-70pt {
  margin-left: 4.375rem !important;
}
.margin-right-70pt {
  margin-right: 4.375rem !important;
}
.margin-bottom-70pt {
  margin-bottom: 4.375rem !important;
}
.margin-top-70pt {
  margin-top: 4.375rem !important;
}
.margin-75pt {
  margin: 4.6875rem !important;
}
.margin-horizontal-75pt {
  margin-left: 4.6875rem !important;
  margin-right: 4.6875rem !important;
}
.margin-vertical-75pt {
  margin-bottom: 4.6875rem !important;
  margin-top: 4.6875rem !important;
}
.margin-left-75pt {
  margin-left: 4.6875rem !important;
}
.margin-right-75pt {
  margin-right: 4.6875rem !important;
}
.margin-bottom-75pt {
  margin-bottom: 4.6875rem !important;
}
.margin-top-75pt {
  margin-top: 4.6875rem !important;
}
.margin-80pt {
  margin: 5rem !important;
}
.margin-horizontal-80pt {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}
.margin-vertical-80pt {
  margin-bottom: 5rem !important;
  margin-top: 5rem !important;
}
.margin-left-80pt {
  margin-left: 5rem !important;
}
.margin-right-80pt {
  margin-right: 5rem !important;
}
.margin-bottom-80pt {
  margin-bottom: 5rem !important;
}
.margin-top-80pt {
  margin-top: 5rem !important;
}
.margin-85pt {
  margin: 5.3125rem !important;
}
.margin-horizontal-85pt {
  margin-left: 5.3125rem !important;
  margin-right: 5.3125rem !important;
}
.margin-vertical-85pt {
  margin-bottom: 5.3125rem !important;
  margin-top: 5.3125rem !important;
}
.margin-left-85pt {
  margin-left: 5.3125rem !important;
}
.margin-right-85pt {
  margin-right: 5.3125rem !important;
}
.margin-bottom-85pt {
  margin-bottom: 5.3125rem !important;
}
.margin-top-85pt {
  margin-top: 5.3125rem !important;
}
.margin-90pt {
  margin: 5.625rem !important;
}
.margin-horizontal-90pt {
  margin-left: 5.625rem !important;
  margin-right: 5.625rem !important;
}
.margin-vertical-90pt {
  margin-bottom: 5.625rem !important;
  margin-top: 5.625rem !important;
}
.margin-left-90pt {
  margin-left: 5.625rem !important;
}
.margin-right-90pt {
  margin-right: 5.625rem !important;
}
.margin-bottom-90pt {
  margin-bottom: 5.625rem !important;
}
.margin-top-90pt {
  margin-top: 5.625rem !important;
}
.margin-95pt {
  margin: 5.9375rem !important;
}
.margin-horizontal-95pt {
  margin-left: 5.9375rem !important;
  margin-right: 5.9375rem !important;
}
.margin-vertical-95pt {
  margin-bottom: 5.9375rem !important;
  margin-top: 5.9375rem !important;
}
.margin-left-95pt {
  margin-left: 5.9375rem !important;
}
.margin-right-95pt {
  margin-right: 5.9375rem !important;
}
.margin-bottom-95pt {
  margin-bottom: 5.9375rem !important;
}
.margin-top-95pt {
  margin-top: 5.9375rem !important;
}
.margin-100pt {
  margin: 6.25rem !important;
}
.margin-horizontal-100pt {
  margin-left: 6.25rem !important;
  margin-right: 6.25rem !important;
}
.margin-vertical-100pt {
  margin-bottom: 6.25rem !important;
  margin-top: 6.25rem !important;
}
.margin-left-100pt {
  margin-left: 6.25rem !important;
}
.margin-right-100pt {
  margin-right: 6.25rem !important;
}
.margin-bottom-100pt {
  margin-bottom: 6.25rem !important;
}
.margin-top-100pt {
  margin-top: 6.25rem !important;
}
.margin-105pt {
  margin: 6.5625rem !important;
}
.margin-horizontal-105pt {
  margin-left: 6.5625rem !important;
  margin-right: 6.5625rem !important;
}
.margin-vertical-105pt {
  margin-bottom: 6.5625rem !important;
  margin-top: 6.5625rem !important;
}
.margin-left-105pt {
  margin-left: 6.5625rem !important;
}
.margin-right-105pt {
  margin-right: 6.5625rem !important;
}
.margin-bottom-105pt {
  margin-bottom: 6.5625rem !important;
}
.margin-top-105pt {
  margin-top: 6.5625rem !important;
}
.margin-110pt {
  margin: 6.875rem !important;
}
.margin-horizontal-110pt {
  margin-left: 6.875rem !important;
  margin-right: 6.875rem !important;
}
.margin-vertical-110pt {
  margin-bottom: 6.875rem !important;
  margin-top: 6.875rem !important;
}
.margin-left-110pt {
  margin-left: 6.875rem !important;
}
.margin-right-110pt {
  margin-right: 6.875rem !important;
}
.margin-bottom-110pt {
  margin-bottom: 6.875rem !important;
}
.margin-top-110pt {
  margin-top: 6.875rem !important;
}
.margin-115pt {
  margin: 7.1875rem !important;
}
.margin-horizontal-115pt {
  margin-left: 7.1875rem !important;
  margin-right: 7.1875rem !important;
}
.margin-vertical-115pt {
  margin-bottom: 7.1875rem !important;
  margin-top: 7.1875rem !important;
}
.margin-left-115pt {
  margin-left: 7.1875rem !important;
}
.margin-right-115pt {
  margin-right: 7.1875rem !important;
}
.margin-bottom-115pt {
  margin-bottom: 7.1875rem !important;
}
.margin-top-115pt {
  margin-top: 7.1875rem !important;
}
.margin-120pt {
  margin: 7.5rem !important;
}
.margin-horizontal-120pt {
  margin-left: 7.5rem !important;
  margin-right: 7.5rem !important;
}
.margin-vertical-120pt {
  margin-bottom: 7.5rem !important;
  margin-top: 7.5rem !important;
}
.margin-left-120pt {
  margin-left: 7.5rem !important;
}
.margin-right-120pt {
  margin-right: 7.5rem !important;
}
.margin-bottom-120pt {
  margin-bottom: 7.5rem !important;
}
.margin-top-120pt {
  margin-top: 7.5rem !important;
}
.margin-125pt {
  margin: 7.8125rem !important;
}
.margin-horizontal-125pt {
  margin-left: 7.8125rem !important;
  margin-right: 7.8125rem !important;
}
.margin-vertical-125pt {
  margin-bottom: 7.8125rem !important;
  margin-top: 7.8125rem !important;
}
.margin-left-125pt {
  margin-left: 7.8125rem !important;
}
.margin-right-125pt {
  margin-right: 7.8125rem !important;
}
.margin-bottom-125pt {
  margin-bottom: 7.8125rem !important;
}
.margin-top-125pt {
  margin-top: 7.8125rem !important;
}
.margin-130pt {
  margin: 8.125rem !important;
}
.margin-horizontal-130pt {
  margin-left: 8.125rem !important;
  margin-right: 8.125rem !important;
}
.margin-vertical-130pt {
  margin-bottom: 8.125rem !important;
  margin-top: 8.125rem !important;
}
.margin-left-130pt {
  margin-left: 8.125rem !important;
}
.margin-right-130pt {
  margin-right: 8.125rem !important;
}
.margin-bottom-130pt {
  margin-bottom: 8.125rem !important;
}
.margin-top-130pt {
  margin-top: 8.125rem !important;
}
.margin-135pt {
  margin: 8.4375rem !important;
}
.margin-horizontal-135pt {
  margin-left: 8.4375rem !important;
  margin-right: 8.4375rem !important;
}
.margin-vertical-135pt {
  margin-bottom: 8.4375rem !important;
  margin-top: 8.4375rem !important;
}
.margin-left-135pt {
  margin-left: 8.4375rem !important;
}
.margin-right-135pt {
  margin-right: 8.4375rem !important;
}
.margin-bottom-135pt {
  margin-bottom: 8.4375rem !important;
}
.margin-top-135pt {
  margin-top: 8.4375rem !important;
}
.margin-140pt {
  margin: 8.75rem !important;
}
.margin-horizontal-140pt {
  margin-left: 8.75rem !important;
  margin-right: 8.75rem !important;
}
.margin-vertical-140pt {
  margin-bottom: 8.75rem !important;
  margin-top: 8.75rem !important;
}
.margin-left-140pt {
  margin-left: 8.75rem !important;
}
.margin-right-140pt {
  margin-right: 8.75rem !important;
}
.margin-bottom-140pt {
  margin-bottom: 8.75rem !important;
}
.margin-top-140pt {
  margin-top: 8.75rem !important;
}
.margin-145pt {
  margin: 9.0625rem !important;
}
.margin-horizontal-145pt {
  margin-left: 9.0625rem !important;
  margin-right: 9.0625rem !important;
}
.margin-vertical-145pt {
  margin-bottom: 9.0625rem !important;
  margin-top: 9.0625rem !important;
}
.margin-left-145pt {
  margin-left: 9.0625rem !important;
}
.margin-right-145pt {
  margin-right: 9.0625rem !important;
}
.margin-bottom-145pt {
  margin-bottom: 9.0625rem !important;
}
.margin-top-145pt {
  margin-top: 9.0625rem !important;
}
.margin-150pt {
  margin: 9.375rem !important;
}
.margin-horizontal-150pt {
  margin-left: 9.375rem !important;
  margin-right: 9.375rem !important;
}
.margin-vertical-150pt {
  margin-bottom: 9.375rem !important;
  margin-top: 9.375rem !important;
}
.margin-left-150pt {
  margin-left: 9.375rem !important;
}
.margin-right-150pt {
  margin-right: 9.375rem !important;
}
.margin-bottom-150pt {
  margin-bottom: 9.375rem !important;
}
.margin-top-150pt {
  margin-top: 9.375rem !important;
}
.font-size-8pt {
  font-size: 0.5rem;
}
.font-size-12pt {
  font-size: 0.75rem;
}
.font-size-16pt {
  font-size: 1rem;
}
.font-size-20pt {
  font-size: 1.25rem;
}
.font-size-24pt {
  font-size: 1.5rem;
}
.font-size-28pt {
  font-size: 1.75rem;
}
.font-size-32pt {
  font-size: 2rem;
}
.font-size-36pt {
  font-size: 2.25rem;
}
.font-size-40pt {
  font-size: 2.5rem;
}
.font-size-44pt {
  font-size: 2.75rem;
}
.font-size-48pt {
  font-size: 3rem;
}
.font-size-52pt {
  font-size: 3.25rem;
}
.font-size-56pt {
  font-size: 3.5rem;
}
.font-size-60pt {
  font-size: 3.75rem;
}
.font-size-64pt {
  font-size: 4rem;
}
.font-size-68pt {
  font-size: 4.25rem;
}
.font-size-72pt {
  font-size: 4.5rem;
}
.font-size-76pt {
  font-size: 4.75rem;
}
.font-size-80pt {
  font-size: 5rem;
}
.font-size-84pt {
  font-size: 5.25rem;
}
.font-size-88pt {
  font-size: 5.5rem;
}
.font-size-92pt {
  font-size: 5.75rem;
}
.font-size-96pt {
  font-size: 6rem;
}
.font-size-100pt {
  font-size: 6.25rem;
}
.font-size-104pt {
  font-size: 6.5rem;
}
.font-size-108pt {
  font-size: 6.75rem;
}
.font-size-112pt {
  font-size: 7rem;
}
.font-size-116pt {
  font-size: 7.25rem;
}
.font-size-120pt {
  font-size: 7.5rem;
}
.font-size-124pt {
  font-size: 7.75rem;
}
.font-size-128pt {
  font-size: 8rem;
}
html {
  background-color: #fff;
}
body {
  font-size: 1rem;
}
body * {
  border: 1px dotted #ccc;
}
a {
  color: #fff;
  text-decoration: none;
}
.content {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
.header {
  background-color: #888;
  color: #fff;
}
.main {
  background-color: #eee;
  color: #000;
}
.footer {
  background-color: #444;
  color: #fff;
}
.first-column {
  background-color: #88f8f8;
  color: #000;
}
.first-row {
  background-color: #f888f8;
  color: #000;
}
.second-row {
  background-color: #f8f888;
  color: #000;
}
