// -- IMPORTS

@require "../../CODE/STYLUS/vista_reset.styl"
@require "../../CODE/STYLUS/vista.styl"

// -- CLASSES

MakeOpacityTransition( ".is-visible", 2s, ease );
MakeXTranslationTransition( ".is-visible", 2s, ease, 25% );
MakeXTranslationOpacityTransition( ".is-visible", 2s, ease, 25% );
MakeYTranslationTransition( ".is-visible", 2s, ease, 25% );
MakeYTranslationOpacityTransition( ".is-visible", 2s, ease, 25% );
MakeScalingTransition( ".is-visible", 2s, ease, 0.5 );
MakeScalingOpacityTransition( ".is-visible", 2s, ease, 0.5 );
MakeXScalingTransition( ".is-visible", 2s, ease, 0.5 );
MakeXScalingOpacityTransition( ".is-visible", 2s, ease, 0.5 );
MakeYScalingTransition( ".is-visible", 2s, ease, 0.5 );
MakeYScalingOpacityTransition( ".is-visible", 2s, ease, 0.5 );
MakeRotationTransition( ".is-visible", 2s, ease, 45deg );
MakeRotationOpacityTransition( ".is-visible", 2s, ease, 45deg );

// ~~

.appearing-image
{
    width: 100%;
    height: auto;
}
